[2017-12-12 02:01] #495 closed

[2017-12-12 02:01] #493 closed

[2017-12-12 02:03] YanivSilberman opened #497 "HTMLRenderer | Error: No serializer defined for node of type "KATEX/INLINE"."
Everything else renders fine except for my inline slate plugin. This is the console error:
`Error: No serializer defined for node of type "KATEX/INLINE".`

This is my plugin:

[code]

[2017-12-13 12:35] Knorrke commented on #497
This is probably the same as #471
serialize and unserialize arent handled correctly for custom slate plugins like your KatexPlugin. Theres also a note on how to fix it, if you want to submit a Pull Request :) I didn't get to it yet

[2017-12-13 15:26] jonas-arkulpa commented on #494
I had the same issue when I tried the editor with React 16.
(which is currently the default with create-react-app)
The errors where gone atm I switched back to React 15.4
package.json:
`"react": "^15.4.0", "react-dom": "^15.4.0", ...`

[2017-12-13 19:08] arekkas commented on #494
Nice find, thanks! Reopening to track this

[2017-12-15 02:24] miguel-orange opened #498 "HTMLRenderer can't serialize type paragraph"
When I copy and paste plain text into `Editable`, `HTMLRenderer` gives an error `Uncaught (in promise) Error: No serializer defined for node of type "paragraph".` I'm using the same plugins and when I refresh editable it has no issue rendering this.
There is only one difference between the two objects. The pasted text version has `"type": "paragraph"` vs `"type": "PARAGRAPH/PARAGRAPH"`.

Typed
`{

[2017-12-17 08:55] bension10 opened #499 "HTMLrenderer custom props"
How to pass props on HTMLRenderer and Editable?

`
<HTMLRenderer state={data} plugins={plugins} foo={bar} />
`
`<Editable editor={editor} id={content.id} onChange={this.handleEditorChange} {...this.props} />`

I'm aware on how to pass some data on a specif content plugin

`export default (store) => {`

  `const Component = (props) => (<SearchResult fields_data={store} {...props} />)`

  `return {`

[2017-12-19 11:59] arekkas commented on #499
https://github.com/ory/editor/issues/443

[2017-12-19 11:59] #499 closed

[2017-12-24 06:21] developer-rakeshpaul commented on #498
@miguel-orange I also had the same problem. Where you able to solve this?. I wrote the below temporary hack to handle this. Just replaced the paragraph type with PARAGRAPH/PARAGRAPH before I save the content
[code]

[2017-12-24 09:45] arekkas commented on #498
Oh that might be some issue with the copy/paste handler and specifically the HTML deserializer, we have to upgrade to the new Slate version anyways soon, maybe that will resolve those issues.

[2017-12-24 20:59] miguel-orange commented on #498
@developer-rakeshpaul, I handled it exactly how you did.

[2017-12-27 23:51] praneybehl opened #501 "Is the project dead?"
Hi guys,

Just came across the project and looks really good, but unfortunately don't see much activity recently. Has this project been abandoned?

[2017-12-28 10:34] arekkas commented on #501
Hi! The project has not been abandoned, PRs and issues are still processed by me. My focus however shifted to another project but I found new maintainers and active adopters who will help maintain and improve project in the future. Hope this helps!

[2017-12-28 10:34] #501 closed

[2018-01-13 17:45] petter-kaspersen opened #503 "Cant initialize without binding to an id"
Per the documentation it says  that you initialize an editor using
`ReactDOM.render((
  <Editable
    editor={editor}
    id="1"
    onChange={(editable) => {
      saveToBackend(editable)
    }}
  />
), document.getElementById('editable-1'))`

but my problem is that I'm using React with JSX, which means I instantiate my classes like this:

`export default class ComposeArticle extends React.Compon

[2018-01-15 16:58] arekkas commented on #503
It's a react component, you can use it within any react class.

[2018-01-15 16:58] #503 closed

[2018-01-19 05:58] Evanlai8 commented on #396
where can I download the desktop  for windows ？ is desktop version opensource ？

[2018-01-21 09:28] arekkas commented on #396
Hi, the desktop app has been discontinued. There is currently a project working on a static file CMS on top of Netlify CMS to get the same thing done, but they're not public yet.

[2018-01-21 09:28] #396 closed

[2018-01-22 00:56] sam-jg opened #504 "Ordered lists serialising/deserialising incorrectly"
I have some across an issue with editing ordered lists. It is hard to describe so here is a gif of it.
[![https://gyazo.com/4c321b29d3769517b0179a9b48ec3e91](https://i.gyazo.com/4c321b29d3769517b0179a9b48ec3e91.gif)](https://gyazo.com/4c321b29d3769517b0179a9b48ec3e91)

First I have created a list and saved it in our system, then refreshed the page to load that saved version. I then add a new item

[2018-01-22 21:01] arekkas commented on #504
Hm, that's strange, and most likely a bug in `slate-edit-list` which has been updated to 0.10.2 recently. However, one issue with upgrading to that version is that there has been a ton of stuff that changed in recent slate versions without backwards compatibility. I didn't had the time yet to review those and upgrade the dependency here, and would really welcome any help I can get for that. Once t

[2018-01-23 14:34] X-Tender opened #505 "Extending / Overriding ory-editor-plugins-slate"
Is it possible to extend the `ory-editor-plugins-slate` plugin or replace it with a modified one?
I would like to add a custom function to the texteditor.

[2018-01-23 19:30] X-Tender commented on #505
I would like to add a function like the emojy example in slate.
http://slatejs.org/#/emojis
Or is it llready possible in ory editor to add text inline elements/plugins?

[2018-01-25 09:27] arekkas commented on #505
I would like to add a custom function to the texteditor.

Extension is somewhat possible by registering new plugins for slate. Replacing it completely is definitely possible .)

[2018-01-25 21:14] kartboy16 opened #506 "z-index for .ory-plugins-content-slate-inline-toolbar"
Is there a way to adjust the z-index for this component?  It's stuck behind a modal...

[2018-01-26 13:50] #505 closed

[2018-01-27 14:06] arekkas commented on #506
Yes, just override the css :)

[2018-01-27 14:06] #506 closed

[2018-01-30 00:55] kartboy16 opened #507 "Exporting HTML"
Awesome work!!

Just trying to export the HTML but when I tried `https://github.com/ory/editor/blob/master/docs/walkthrough/exporting-html.md`
I get the following error:

`editor.renderToHtml is not a function
`

Is there an export function on the HTMLRenderer?

[2018-01-30 08:57] arekkas commented on #507
Oh, that has been changed. Here's the working version: https://github.com/ory/editor/blob/master/examples/src/index.js#L105

[2018-01-30 17:15] kartboy16 commented on #507
Thanks @arekkas!  Keep up the great work!

[2018-02-02 14:25] AlexanderReiswich opened #508 ""target" option for links in slate"
There seems to be no way at the moment to add an attribute like `target="_blank"` to links created with the slate "create a link" button. Or am I missing something?

[2018-02-03 17:59] hamavb opened #509 "Feature Request: reducer function for layout plugin"
Hello guys,

i noticed a support reducer function of plugin content but not for layout.

since plugin layout also can have a state, it will be usefull to intercept redux actions and alter state basing on some logic, and may spread/sync data to inner plugins content..

[2018-02-04 15:05] arekkas commented on #508
That's true, feel free to PR to fix that!

[2018-02-04 21:34] AlexanderReiswich commented on #508
@arekkas Is there documentation available on adding plugins to the slate ory component? I'm pretty sure I went through all the docs but couldn't find anything. It would be helpful.

[2018-02-04 22:32] arekkas commented on #508
Not yet, but I'll direct you to the pieces:

* You can pass plugins to the slate factory, see [here](https://github.com/ory/editor/blob/master/packages/plugins/content/slate/src/index.js#L28)
* [This is what a plugin looks like](https://github.com/ory/editor/blob/master/packages/plugins/content/slate/src/plugins/Plugin.js)

Hope that helps

[2018-02-07 08:02] #509 closed

[2018-02-08 21:26] mattblackdev opened #511 "React 16 & Material UI 1.0"
Hi, I'd like to get a pulse on the roadmap a little bit. I noticed a couple issues in the milestones mentioning material-ui@next. Right now they're on 1.0.0-beta.32 and my twitter senses suggest they are getting close to official release. In addition I'm curious about the level of effort it would be to upgrade this project to React v16. I'm sure it is significant but I haven't found any discussion

[2018-02-09 09:07] arekkas commented on #511
Hey! I'd be totally up for a PR. I'm also in favor of removing Material UI as a whole - it's just laziness and my inability to design good UIs which brought us to using MUI. Having said that, the current UI elements are considered a reference implementation for the plugins and the toolbar - but I understand that they could be seen as core to the library.

I don't think it would be a lot of work to

[2018-02-09 09:11] andreastoermer commented on #511
I use the ory editor in my project with React 16 and it works. I don't have any problems.

On topic of material ui, i forked this project to play a little bit with removing the code and at fabric ui as the base. when the moving out of core into a plugin part is done i will create a pr including a documentation of to create your own view plugin with the framework you love. but this operation needs

[2018-02-12 20:27] osdamv opened #512 "How can I change/translate the messages?"
For example in the file https://github.com/ory/editor/blob/master/packages/plugins/content/slate/src/plugins/link/index.js
around the line 169
[code]
I want to translate the prop title for "Crear Link" in Spanish.
I am new to react therefor my expertise with this framework is limited, however I was able to find is possible to change the properties of the the children [components](https://stackover

[2018-02-13 18:25] osdamv commented on #512
My prefer approach would be do a PR, is there any react  i18n framework
that you prefer guys ?

On Feb 13, 2018 9:36 AM, "Aeneas" <notifications@github.com> wrote:

[2018-02-14 18:45] sebastienfi opened #513 "Run watch command that deploys to my node_modules"
Hi !

I would like to be able to edit the ORY Editor source code and test it on my own setup outside of the examples directory. That would go by specifying the path to my `node_modules` directory on my file system.
Can you recommend a way to do this ?

[2018-02-15 11:38] arekkas commented on #513
That really depends on your build chain but is typically not possible. You could try cloning this repo and run it in watch mode to make your desired changes!

[2018-02-15 13:04] arekkas commented on #512
Not really, but maybe you could post some you like and we review them together?

[2018-02-18 02:41] Alderr commented on #403
@arekkas Any updates on this?

[2018-02-21 23:29] jtl3d opened #516 "Expose ContentPluginProps?"
Hey, cool project! I'm just now starting to create some custom plugins, but I definitely feel I'm going about it awkwardly. I basically just copied code for an existing ory-editor-plugins component and have been trying to get it to run. One issue I found is the ContentPluginProps type is not accessible in ory-editor-core. Can that be exposed so I can import it?

Or am I going about this the wrong

[2018-02-22 08:19] arekkas commented on #516
Hey, the `ContentPluginProps ` are just a type (in the context of flow). Importing them won't really do anything because we don't expose / compile types yet. Other than that, you're going at it the right way!

[2018-02-22 08:20] arekkas commented on #403
Sorry, not really. The same limitations apply.

[2018-02-22 13:10] jtl3d commented on #516
Ah, got it. I took out the part defining the argument type and that got me rolling again. Thanks for your help!

For starters I'm adding the option for an Image to be a link. I think I can probably throw together a pull request when I'm done.

[2018-02-22 13:10] #516 closed

[2018-02-22 13:42] arekkas commented on #516
Awesome! :)

[2018-02-22 13:58] SirWindfield opened #517 "Question: where do plugins get loaded?"
I am trying to implement a plugin system aswell that enables users to extend my application with new functionality. I tried to take a look at the source code but couldn't find the LoC that actually load (aka `require`) the plugins. `PluginService` does offer methods for adding plugins but they seemed to be unused.

Sorry to polute your issue tracker with a question :)

[2018-02-23 11:26] arekkas commented on #517
https://github.com/ory/editor/blob/master/examples/src/index.js#L60-L70

[2018-02-23 13:59] #517 closed

[2018-03-09 06:32] rashid-aslam opened #519 "HTMLRenderer giving `document not defined` error on server side"
`ReferenceError: document is not defined`

Error i'm getting while using HTMLRenderer on server side. I generated a small content in editor using slate plugin. When I pass on same editor state to HTMLRender with slate plugin then it gives me error.

HTMLRenderer can be used for server side rendering, What could be the wrong here?

[2018-03-09 09:32] arekkas commented on #519
Which plugins do you use?

[2018-03-09 09:42] rashid-aslam commented on #519
Just the `slate` plugin for pure textual content.

Same is the case with `image` plugin. I have not tested `spacer` and `video` plugins yet

[2018-03-09 09:43] arekkas commented on #519
Ok, that's weird. Which version are you on? The `document` bug typically comes from some plugin requiring access to that `document`, but it's not available due to SSR.

[2018-03-09 09:57] rashid-aslam commented on #519
`"ory-editor": "^0.2.27"`

all plugins are also on same version. The `slate` plugin itself has this dependency `"slate": "^0.21.4"`

[2018-03-09 10:15] arekkas commented on #519
Do you use any custom plugins?

[2018-03-09 10:19] rashid-aslam commented on #519
I have made one just for demo. It renders fine on server side if rendered standalone. But this `slate` issue is standalone. No other plugin, just `slate`.

[2018-03-09 10:19] rashid-aslam commented on #519
Here is the editor state I'm trying to render on server

`{"id":"6e6d5e82-2528-4f7c-b720-0180c11aa220","cells":[{"id":"83ae6f47-f6ab-40de-9079-409015233ae9","inline":null,"size":12,"content":{"plugin":{"name":"ory/editor/core/content/slate","version":"0.0.1"},"state":{"serialized":{"nodes":[{"kind":"block","type":"HEADINGS/HEADING-ONE","nodes":[{"kind":"text","text":"About Us"}],"data":{"align":"c

[2018-03-09 10:21] rashid-aslam commented on #519
This is state is with my custom plugin only. It renders fine on server side.

`{"id":"8a9cceae-7c0e-4441-964f-ff0deef5f9aa","cells":[{"id":"b3a8e604-3d7d-4c8c-8e98-f5e5d17c3bb6","inline":null,"size":12,"rows":[{"id":"b96af995-8f56-4c3e-9a47-19917df47776","cells":[{"id":"5ac7a113-3f10-4ec8-9ff1-965263751c59","inline":null,"size":12,"content":{"plugin":{"name":"example/content/dynamic","version":"0.

[2018-03-09 10:23] arekkas commented on #519
Hm, that's really strange cause the slate plugin doesn't use the slate component for SSR but instead uses the [StaticComponent](https://github.com/ory/editor/blob/master/packages/plugins/content/slate/src/index.js#L119).

Can you tell me which line and file cause the error?

[2018-03-09 10:28] rashid-aslam commented on #519
I can't really tell which line because I'm using production build from an app based on create-react-app. Development build has webpackdev server code and it also add some other errors.

What i see is this

`ReferenceError: document is not defined
    at Object. (V8Js::compileString():24:738359)
    at t (V8Js::compileString():24:101)
    at Object. (V8Js::compileString():24:730705)
    at t (V8Js:

[2018-03-09 10:34] arekkas commented on #519
Shit, it's possible that a transient dependency (so a dependency of a dependency) introduced the document without checking if it's available, causing this bug. It will be a bit tricky to find the issue without a stack trace. I know it's difficult, but could you do some digging? My next days are packed with stuff so I don't have much time to get into it.

The way I would approach it is to add a bun

[2018-03-09 11:01] rashid-aslam commented on #519
Thanks, I'll try to narrow down the issue for you.

[2018-03-10 19:07] rashid-aslam commented on #519
after some effort i found the line that throws the error
`module.exports =  !!document.attachEvent && window !== document.parentWindow;`

This line is found in `/node_modules/slate/dist/slate.js` required by `ory-editor-plugins-slate` with     `"slate": "^0.21.4"`.

Actual installed version of slate is `"version": "0.21.6"`,

[2018-03-11 18:50] #513 closed

[2018-03-12 12:58] arekkas commented on #519
Awesome find! So does it work with version 0.21.6 or 0.21.4?

[2018-03-12 13:14] rashid-aslam commented on #519
I have yet to try the older version. I will let you know.

[2018-03-14 13:09] rashid-aslam commented on #519
I tried the older versions of `slate` but the error persists because the line with document reference exists in older versions too. However, if I remove the document reference then rendering works.

[2018-03-19 15:45] sakhmedbayev opened #521 "Problem in a tutorial in the docs"
I am trying to follow a tutorial [here](https://ory.gitbooks.io/editor/content/tutorials.html#reactjs-example)

Instead of being able to add a new text element or any other elements I can see only this message

"This is the default plugin from the core package. To replace it, set the "defaultPlugin" value in the editor config."

I can click on this text and it turns to the input element but I cann

[2018-03-21 12:32] arekkas commented on #521
Make sure to pass the plugins, like here: https://github.com/ory/editor/blob/master/examples/src/index.js#L82-L99

[2018-03-24 01:56] miguel-orange opened #522 "IE Support"
I really like what you guys are doing here. I usually dev on chrome, and check safari. My project breaks on IE11, I then went to your demo site on IE11 and it's the same deal :(

[2018-03-24 14:29] arekkas commented on #522
IE support is not planned. It works on Edge

[2018-03-26 22:02] toonjanssens commented on #521
I had the same issue. Solved by adding a defaultPlugin like this:

[code]

[2018-03-28 12:54] ChrisMio opened #523 "Unregular json output"
**First question:** Does the OryEditor ALWAYS produce a row > cell strukture or are other output structures intended?

 **Second question:** Is there somewhere a documentation about the json Output?

 **The Problem:**
 When tragging arround an image between several cells, it looks in the frontend always the same, but
 the json output is sometimes(!) different. It happens sometimes when we move it

[2018-03-29 13:03] arekkas commented on #523
Yes, the structure is always like that and no other structures are supported as of now.

What you’re experiencing is caused by where the cell is dropped. There is an optimizer which tries to keep the tree structure as flat as possible, causing different outputs depending on drop target.

The optimizer itself is not very well documented.

[2018-03-29 13:28] ChrisMio commented on #523
@arekkas
Thank you for your informations.
Any ideas if it is possible to switch off the "optimizer"?

We would preffer a stable and predictable json output, since we need to work with it further to transfer it to print for instance.

[2018-03-30 18:57] arekkas commented on #522
I know, unfortunately we don't have the resources to support IE which itself is basically discontinued by Microsoft and will vanish over the next years. But it's of course encouraged to contribute IE support patches.

[2018-03-30 18:58] arekkas commented on #523
@ChrisMio without the optimizer, the output will be extremely ugly and with very deep trees and many empty nodes. What you're experiencing is (as far as I can tell) related to where the drop position of the element is. It depends on what the "parent" element that triggers the drop event is. Depending on that, the drop position in the JSON tree is decided. The optimizer simply removes garbage from

[2018-04-04 20:46] sidati commented on #401
Hi @arekkas,
Its almost a year 😀, hope its planned now ??

[2018-04-06 08:07] arekkas commented on #401
react-dnd removed their touch package, but it seems like there is a third party one available from yahoo: https://github.com/yahoo/react-dnd-touch-backend

Unfortunately I have very little time currently so I won't be able to check it out. If you want to give it a shot yourself, I'll try as best as I can to support you.

[2018-04-06 08:24] arekkas commented on #401
Oh wait, it's actually even easier than that (I remember now that this was fixed)! We already implemented this functionality. You can pass your own dnd backend when initializing the [editor](https://github.com/ory/editor/blob/master/packages/core/src/index.js#L86) so just pass the yahoo one there and it should work!

See: https://github.com/ory/editor/issues/424

[2018-04-06 08:24] #401 closed

[2018-04-06 08:27] sidati commented on #401
Nice approach 😀,
thanks

[2018-04-06 10:28] alexbrbr opened #524 "Docs - update API code links"
The api docs readme (https://github.com/ory/editor/edit/master/docs/api/core.md) are pointing to an old commit (d780f8a2764165ebdadbec36260fae4d036c27c3, a year ago).

I was checking the findLayoutPlugin method and expected an error to be thrown but the behavior has changed in between. I am ok to update the docs , but not sure how.
Which solution do you prefer :
1) point to master and remove the l

[2018-04-06 11:47] arekkas commented on #524
The docs are autogenerated so it's probably caused by that. There's [a command](https://github.com/ory/editor/blob/master/package.json#L47) which should update those lines!

[2018-04-06 13:11] alexbrbr commented on #524
Thanks for your answer (my bad I did not see the autogeneration comment on top of the files).
I ran the command on my fork but it points the example on my fork instead of https://github.com/ory/editor (see https://github.com/ory/editor/pull/525).

Can you either run `NODE_ENV=development npm run docs:api` and update the docs or give me the ability to push new branches on the ory editor repo ?
I gu

[2018-04-07 07:59] #524 closed

[2018-04-07 08:32] arekkas commented on #524
Totally overlooked that, yes that would make a ton of sense! Would you mind creating a PR for that? :)

[2018-04-07 12:08] alexbrbr commented on #524
Thanks for the  update !
I'll try to work on a clean solution to do this next week :)

[2018-04-09 10:41] ChrisMio commented on #523
@arekkas
so, since you are saying it should be always a row>cell structure, it seems to be a bug that its possible to create an json output with a cell in the "root" outside of a row, did i understand this right?

if its caused by the optimizer, i would preffer a ugly but stable output that i can work with.
currently its diffcult for us , when the json output for the same visual arrangement may ch

[2018-04-10 14:34] arekkas commented on #523
No, that is not possible. The root element is always a cell.

currently its diffcult for us , when the json output for the same visual arrangement may change. so is it possible to switch the optimizer of and have and ugly but predictable output?

The output is stable, but as you move things around they get inserted in different places which might cause different "internal" models of the document.

[2018-04-12 17:57] HriBB commented on #504
I have a similar problem, when list item text is wrapped in a paragraph. Not that I am using this fix to get around #498

[code]

[2018-04-13 18:46] PeterKottas opened #528 "React-native support"
Hello all and thanks for this very cool lib. It really seems like something we could use in our company, There's just one potential problem. We need to render the content on mobile devices with react-native. Theoretically, I could probably render it to a web view. But that comes with a lot of drawbacks and I would like to stay away from that. That's why I wanted to ask if there is any support for

[2018-04-15 10:33] arekkas commented on #528
Hi, there are currently no plans to support react-native and also no existing work. Contributing something along the lines of HTMLRenderer would probably be the best idea!

[2018-04-15 23:48] PeterKottas commented on #528
Ok cool, good to know. I will see what the time allows. Currently we have a markdown solution which I am not very happy with. But implementing rendering for react native could take a while. I guess maybe keep this open or move to suggestions/feature requests if you have that. I will come back here if I have any progress. Probably in the following few weeks.

[2018-04-16 11:27] inyono commented on #528
@PeterKottas We already wrote a renderer that outputs a table layout (for emails) instead. That was rather easy by forking https://github.com/ory/editor/blob/master/packages/renderer/src/index.js. You can probably do something similar by outputting React Native stuff here. Only complication I see: you probably need two plugin definitions for every plugin. One for editing (that uses HTML since I do

[2018-04-16 11:28] inyono commented on #511
Same here. React 16 works without problems (to be fair: we also don't use material-ui so that might lead to problems)

[2018-04-16 15:19] PeterKottas commented on #528
@inyono good stuff mate. It rly seems it might not be that hard after all. Good point about the plugins though. To be fair, I have no idea right now what plugins I will want to support. I only looked at this lib recently so I will need to get working knowledge of it. By any chance, is the package you created for emails open sourced? Cause we might actually use this for emails as well. Just thinkin

[2018-04-17 01:36] HriBB commented on #511
I looked at the code a little bit. There's a lot :) In my use case, I tried to override `BottomToolbar` styles, but it's not possible ATM. It would be cool, if we could somehow control the components that get rendered.

In any case, I can help with the Material UI 1.0 PR ;)

[2018-04-24 17:55] sidati opened #531 "Why dispatching `CELL_BLUR_ALL` triggers Editor onChange"
Hi @arekkas, Hope you'r doing well 😄

Im wondering why CELL_BLUR_ALL action triggers an Editor
onChange event, even when nothing changes and the use just click on empty space ?

[2018-04-24 18:00] sidati commented on #531
THIS HAPPENS ON **PREVIEW** MODE WHERE NO NEED TO DISPATCHING ANY ACTION

[2018-04-25 14:50] arekkas commented on #531
Hm yeah, I guess it shouldn't trigger an onChange update. The problem here is that we add a simple watcher to the redux store so we don't actually filter for actions that don't modify the final state. What is the issue if that onChange happens?

[2018-04-25 15:13] sidati commented on #531
Im using the Editor `onChange` to save the state to localStorage/DB, its not ideal for performance, of course i can check every time if state is changed but a such deep comparison is even expensive than just update the state 😆 . its NOT A BIG ISSUE but just why `onChange` when nothing changes 😀

[2018-04-26 09:04] sidati commented on #531
@arekkas, another case is, lets imaging we have a plugin, an rss reader where the user can enter multiple rss links and on `onChange` (saving the plugin options) we need to make a `fetch`, **BUT** when we dragging the plugin from the toolbar to drag-area target, the `onChange` action is triggering constantly and therefor the fetching also triggers many times and we cannot store anything yet to pre

[2018-05-02 07:52] #482 closed

[2018-05-02 09:15] sidati commented on #512
AirBnb PolyGlot was good enough for me : http://airbnb.io/polyglot.js/

[2018-05-02 17:56] RobinRadic commented on #494
I had this issue as well using React 16.

https://github.com/ianstormtaylor/slate/pull/1148 shows file changed `components/content.js`
[code]

When i installed `ory-editor` it installed `slate@0.21.6`, which doesn't yet contain that fix.

I'm not totally sure about this but the fix should have been included in `0.25.1`, but stuff got moved around and they created `slate-react` by that point and th

[2018-05-04 15:57] MichaelDM commented on #424
Hi @arekkas, I am using Ory and React-Source-Tree in my app, and if possible, I would love a little bit more context on your solution and how to apply it, because I'm still getting the multiple backend error.
gcorne's solution makes sense to me (https://github.com/react-dnd/react-dnd/issues/186) because he's creating one instance of the dragAndDrop Context ```export default DragDropContext(HTML5Ba

[2018-05-05 08:36] arekkas commented on #494
@inyono is working towards upgrading the editor to latest slate, that will (hopefully) also allow us to update to latest react!

[2018-05-08 08:15] arekkas commented on #424
When you import the backend, it [creates a new instance](https://github.com/react-dnd/react-dnd/blob/master/packages/react-dnd-html5-backend/src/index.ts#L9) which is probably causing your error. Make sure you import `HTML5Backend` only once.

[2018-06-06 23:32] warp commented on #511
@arekkas I am currently working on a PR to upgrade material-ui to 1.2.0 and react to 16 wip at https://github.com/ory/editor/pull/535 still needs style tweaks

[2018-06-12 17:04] NunoFl opened #536 "Installing Ory-Editor monorepo postinstall error"
ory editor is giving me this problem when doing "npm i" command

npm ERR! undefined postinstall: npm-run-all clean clean:lerna bootstrap build:lib

https://github.com/ory/editor/blob/master/README.md#install-dependencies

[2018-06-14 09:53] davidfurlong opened #537 "React 16.4.0 breaks ory-editor-ui Buttons and some configs of 16.3.2 as well"
Ory-editor-ui (and some plugins) doesn't work on react 16.4.0 - react-tap-event-plugin isn't compatible (https://github.com/zilverline/react-tap-event-plugin/issues/121) and since material-ui depends on react-tap-event-plugin, buttons stop working

[2018-06-14 10:31] davidfurlong opened #538 "Issues with drag and drop in firefox"
When I start dragging from the sidebar in firefox it seems to swap to the Moving around mode and resets the drag, causing a stutter in the sidebar. Newest versions of firefox & ory-editor & react 16.3

[2018-06-14 11:17] arekkas commented on #537
This will hopefully be resolved with #535

[2018-06-14 11:18] arekkas commented on #538
Could be an issue related to react 16.3 - I'll check this and also for #535

[2018-06-14 13:52] davidfurlong commented on #537
cheers

[2018-06-15 11:37] arekkas commented on #536
Please give a bit more information, for example, which node version are you using, which npm version, what is the error log, and so on.

Otherwise it is impossible to help.

[2018-07-03 03:05] abel-olguin opened #540 "Change toolbar style & how to make a container plugin"
The first question is; how can i make a container plugin with droppable? ej:
I have two plugins a input text plugin and form plugin (container);

when i drag the input plugin to the form, i need the input inside of form container.

I found this example: https://ory.gitbooks.io/editor/content/tutorials.html#writing-plugins
but when try to drag and drop the input plugin is not work, input is outside

[2018-07-03 13:25] sebastienfi opened #541 "Customizing the drag-drop UI/UX"
Hi @arekkas
First of all, thank you for the library. It is enjoyable to build pages using this tools.
I would like to customize the drag-drop experience.
I am facing a couple problems and I am hoping that you may help me get in the right direction.

1. How to deactivate drag-drop **for cells**? **I only need to drag-drop rows** to reorganize top to bottom the plugins added on a page. I don't need

[2018-07-04 13:37] arekkas commented on #540
The first question is incredibly hard to answer without context. As you can see in the live demo, dragging container plugins works fine, so it's most likely related to your code.

The idea for changing the styles is currently for you to write your own modules that implement these. The idea here is to provide a quick way to get it working with our default modules, but if you need something customiz

[2018-07-04 13:42] arekkas commented on #541
Not possible, unfortunately. I'm also not sure if it makes sense to include this functionality in the project as the idea of it is to be able to rearrange, add, and remove cells/plugins.

Not sure if I understand you correctly, but there is a [matrix](https://github.com/ory/editor/blob/master/packages/core/src/service/hover/index.js#L99) which defines what action is triggered (hover above, hover b

[2018-07-04 20:44] abel-olguin commented on #540
Hi @arekkas yep i did the drag and drop functionality, that's works fine because ory editor it's very open on this cases but, the second question is that I want to change the toolbar and put the float button in another position, as well as change the texts (translate them), how to make your own toolbar and your own float button? I have not seen documentation about it. sorry for my bad english :)

[2018-07-05 08:00] sebastienfi commented on #541
Thank you @arekkas for your answers.
We implemented our own drag-drop solution without entering "Move things mode" but still using ORY internal API to rearrange the data.

Closing this now.

[2018-07-05 08:00] #541 closed

[2018-07-19 14:15] nico-onmap opened #542 "website has duplicate paragraphs"
The ory [website](https://editor.ory.am/) contains twice some sections:

 - what's the problem?
 - what's different?

Both a present twice in the page.

[2018-07-27 19:24] boyandimitrov opened #543 "Custom data in serialised content"
I want to render part of the serialised content. For this purpose I want to provide some custom data as a mark up. Here is an example: This is an layout that I can load. I tried to put some custom ids, that I can find after layout modifications. The problem is that when I modify and save the new layout there is a big chance my ids to be replaced by autogenerated ones. My final goal is to render on

[2018-07-30 07:38] arekkas commented on #543
The IDs are updated as the content changes, there's currently not a good way around that. You might be able to add some metadata to the cells that helps you identify them based on properties you choose.

[2018-07-30 12:30] boyandimitrov commented on #543
Did you mean that the author has to supply additional data ?  If this is the only solution I would more likely make a form with required fields to generate the preview.

I wonder can I use description or another unexpected property?

[2018-07-30 15:58] davidfurlong commented on #537
Somehow I have broken ory-editor-ui buttons in React 16.3.2. Also that PR is getting stale.. I would contribute to that package, but we use ant design & I don't know material-ui & It would make more sense for us to build a fork of the repo with ant design & the priority is much too low for us to do that :(

[2018-07-30 16:06] davidfurlong commented on #511
Any updates? Also @inyono what do you use at serlo? I can't find a public repo for it

[2018-07-30 16:07] davidfurlong commented on #537
Are there any updates on a timeline for ORY-sites @arekkas ?

[2018-07-31 08:53] arekkas commented on #543
I was suggesting to write/modify plugin(s) that handles some type of persistent ID. The editor has to update the ID of these cells in order for reordering/layout modifications to work.

[2018-08-02 22:42] PeterKottas opened #544 "Localization"
Did anybody think/experiment/work with Localized texts using ory editor? While the format data is stored in is a serializable tree structure (according to docs) I don't see an easy way to maintain layout while making the texts translatable. (obviously I could just keep copies of the whole state with different texts in different languages but that sort of beats the purpose of having reusable layout

[2018-08-03 13:15] arekkas commented on #544
There are currently no recommendations for translating content. You could maybe write a plugin that shows content based on browser language.

[2018-08-04 19:27] PeterKottas commented on #544
Thanks for getting back to me. That's what I was afraid of. Custom plugin is probably the only way then. Would be complicated though. Doesn't make much sense to keep content from all languages in the state I guess so it would have to be returned from back-end conditionally based on some ID. Something to think about. Weird though, 7k stars, I would have though somebody before me encountered this re

[2018-08-05 14:20] PeterKottas opened #545 "Future of ory editor"
First of all, I am pretty sure this doesn't belong in issues. Would make more sense to discuss it on other channels but since I am not aware of your preference (slack or any of the other million options :) ) I'll try my luck here.

After playing around with a lot of editors for react in last few months, I certainly must say the visual quality, approach to the problem and the general feel of the or

[2018-08-05 14:26] PeterKottas commented on #545
Btw, I've seen this https://github.com/ory/editor/milestones which seems promising but again not updated for a while. Just trying to say I made some research before posting this :)

[2018-08-06 08:54] arekkas commented on #544
Typically translations aren't 1:1 so layouts aren't 1:1 either. That's probably why no one has come up with this requirement before.

[2018-08-06 09:01] arekkas commented on #545
Yes, but not by me. Instead, I review & accept contributions by the community and the adopters that rely on this system.

Redux does [not fit the definition](https://github.com/reduxjs/redux/tree/master/src) of a huge library at all. Material-ui is only used in the plugins and default ui. If you want, you can use the core instead and not rely on material-ui at all, but then you have to implement t

[2018-08-06 11:50] PeterKottas commented on #545
Thanks for the detailed info. I would have loved to hear you are going to personally develop this further, but obviously replying frequently and accepting contributions is second best thing. I'll be sure to get in touch before implementing any big changes.

Also if you don't mind, one extra question popped in.
Do you have any complete list of plugins that is maintained somewhere? Once again, given

[2018-08-06 11:51] arekkas commented on #545
Do you have any complete list of plugins that is maintained somewhere? Once again, given the great success you have here on github, I would have expected to seen quite a few of these. Is it that maybe people are not open sourcing what they come up with? (obviously you might not know, just thinking out loud)

Plugins definitely exist, I don't have a list though. Most people use this for web agency

[2018-08-06 11:54] PeterKottas commented on #545
Yep agreed, we have an in-house product so no problem with open sourcing stuff. Ok thanks for the help here, I think I got what I needed and will be closing this.

[2018-08-06 11:54] #545 closed

[2018-08-06 11:55] arekkas commented on #545
No problem

[2018-08-08 15:05] rocky-peng commented on #286
[code]

the complete demo code :  git@github.com:rocky-peng/ant-design-pro.git
[code]

[2018-08-09 10:25] boyandimitrov commented on #537
Which is the last react supported version by ory-editor at the moment?

[2018-08-09 10:26] arekkas commented on #537
There is a huge PR ( #547 ) which will fix this, expect it to land in the next week.

[2018-08-09 10:33] logankoester commented on #537
Thanks @arekkas, great to hear there is a timeframe on that PR.

[2018-08-09 13:56] aeneasr opened #548 "HTML5 Video is no longer editable in FireFox (but in Chrome)"

[2018-08-09 19:41] PeterKottas commented on #548
Weirdly I've actually seen this happen a few times in chrome as well. Can't reproduce now though.

[2018-08-10 07:58] davidfurlong commented on #286
I use antd design successfully - the button issue is a different issue

[2018-08-10 08:39] mrmohtas commented on #494
What is the progress on this?

[2018-08-10 11:41] PeterKottas commented on #521
Same here, apparently the reason for this is the tutorial provides it's content, however if you create empty state, it will add the default plugin right away so that you can start typing. That's why you need to provide default. This option however seems undocumented. It should probably be added to docs.

[2018-08-10 11:57] PeterKottas opened #549 "Slate floating toolbar > link stopped working"
I think chances are this is a result of merging #547 . At the moment, if you select text and try to make it into a link using the floating toolbar, the modal will appear, but you won't be able to hide it (unless you forcefully switch to different mode) and you won't be able to submit the change even when you enter valid url. I will look into this now.

[2018-08-10 11:59] PeterKottas opened #550 "Set default mode"
Am I nuts or is not possible to set default mode at the moment? I would prefer to start with edit mode rather than preview. Happy to implement the change if need be but first I'd like to see if there's a way to do it at the moment.

[2018-08-10 12:10] Knorrke commented on #550
I used `editor.trigger.mode.edit()` for this

[2018-08-10 12:59] PeterKottas commented on #550
Beautiful, thank you very much @Knorrke ! Just out of curiosity, is this documented somewhere? Or did you have to look into the code?

[2018-08-10 13:02] #550 closed

[2018-08-10 13:17] Knorrke commented on #550
Glad it helped :-) I think it was mentioned in some issue before, but not sure. It's not documented as far as I know, but all the actions available through `editor.trigger` can be found here: https://github.com/ory/editor/blob/af93e462d6057b878bc9495764a9b4e0a51e7856/packages/core/src/actions/index.js#L68-L114

Some usefull stuff there :-)

[2018-08-10 13:55] PeterKottas opened #551 "Improve theme handling"
The themes at the moment are done in a totally weird random way (theme provider is nested number of times in some occasions with no option to override easily, this is especially true for the way we have to have 2 themes, one light for toolbar when adding plugins, one dark for bottom toolbar and few other places).
It's a real shame cause it's a strong feature of material ui that could definitely be

[2018-08-10 13:57] PeterKottas commented on #550
Thanks that's indeed very useful!

[2018-08-10 14:31] PeterKottas commented on #528
Just updating this thread with some new findings.
The layout plugin for RN would indeed be pretty straight forward.
Also the plugins in general would work imho. We would just need to find a clever way of switching between different components based on the platform. That require react-native package so we wood need some service that would return HTML be default if RN is not installed as peer-depend

[2018-08-10 14:58] arekkas commented on #528
Yeah slate will not work with native UI, it's completely different from native and wrapped around the DOM and the shitty contenteditable. Usually you're not writing rich text on mobile anyways...

[2018-08-10 15:03] arekkas commented on #551
Yeah I saw this in the PR but it was so huge it was difficult to spot all the places. The main problem is that we're using two themes - light and dark - in the UI right now. I think the bottom toolbar uses all dark while all other elements use white. Optimally, this would be the same theme everywhere.

It would be also cool if the editor didn't override an existing MuiThemeProvider:

[code]

Here,

[2018-08-10 15:06] PeterKottas commented on #528
Yeah, that's right, it wouldn't have to be editable. But my understanding is (might be wrong) I still need to render the whole editor even when I am in readOnly. Right? And that will mess up RN. For reference, this is the file where <Editor /> is rendered. <Editor /> in this context is the slate.js editor which is not compatible. No matter if it's readOnly or not. The only way would be if there wa

[2018-08-10 15:09] PeterKottas commented on #551
Yeah one theme would make much more sense. I think I'll have to look into this as we have corporate theme that we need to adhere to. And it would be crazy to override every part of this with some custom css.
Initially I was dreaming about implementing whole new UI layer not relying on material ui ... but I was young and stupid then. Now that I've seen this size of this, I am pretty happy to just p

[2018-08-10 15:10] arekkas commented on #528
Right, the two models might not be compatible without a webview

[2018-08-10 15:27] PeterKottas commented on #528
Forgot to send the link to the file before but it's hardly necessary, just for completeness sake : https://github.com/ory/editor/blob/master/packages/plugins/content/slate/src/Component/index.js
Anyways I'll keep this in mind and check how hard would it be to create a light-weight standalone react-native renderer for slate. That would fix most of the problems.

[2018-08-11 16:33] PeterKottas opened #553 "Upgrade slate to latest version"
Hi, this is an issue I am reporting while working on this in case anybody want to contribute anything. I've noticed some warnings that has to do with slate being a rly old version. I wanted to upgrade it (which I though would be straight forward) but it opened whole can of worms as they've changed almost the entire api. After a few hours on this, it seems that the best solution (that doesn't inclu

[2018-08-12 07:59] arekkas commented on #553
Yeah good point - keeping up with slate's changes has been challenging and a lot of breaking changes were introduced. The goal should be to keep the document model somewhat similar. A big breaking change will be upgrading the undo/redo. As long as the document model from the current slate version is compatible (or convertible) to the new one, we should avoid creating slate-next. I can probably fin

[2018-08-12 07:59] arekkas commented on #553
Oh right, the plugins will probably break. I think that is a breaking change we can live with. What should not be breaking is existing documents!

[2018-08-12 17:46] PeterKottas opened #555 "New plugins ideas"
I will be adding a few new plugins in the near future, I though this might be a good place to share ideas about it and possibly come up with some inspiration for features that would be appreciated by users.
Let me first start with a question to @arekkas though.
Given the structure of the library (each plugin is a new package), is it reasonable to keep the growing number of plugins in this github r

[2018-08-12 17:57] #549 closed

[2018-08-12 18:04] PeterKottas commented on #555
Also one extra question, I would prefer writing new packages in typescript. The way flow is setup currently appears to have lot of problems and I am spending lot of time fighting those. Would this be a problem? I can obviously modify the build to work just fine.

[2018-08-13 00:39] PeterKottas commented on #511
I believe this can be closed as the PR was merged in

[2018-08-13 15:27] arekkas commented on #511
yes

[2018-08-13 15:27] #511 closed

[2018-08-13 16:57] richtera opened #558 "Having problems with drag and drop"
When dragging an image it goes through drag and drop, creates the native plugin but then when calling the final drop call "this.component" is null causing a failure and throwing an exception:
![image](https://user-images.githubusercontent.com/708186/44045966-2bb2ac6c-9ef8-11e8-9616-f36e9096b7f1.png)
The error is because component is null and therefore ```component.props.config.plugins``` cannot be

[2018-08-13 17:32] richtera opened #559 "Error when initializing"
![image](https://user-images.githubusercontent.com/708186/44047742-4ed921b2-9efd-11e8-8859-5808b243f1dc.png)
Probably not a huge deal, but this is a react proptypes conflict.

[2018-08-16 07:54] arekkas commented on #551
That sounds do-able to me!

[2018-08-16 13:10] PeterKottas commented on #551
Yep, I have few more PRs and ideas for 1 or 2 more, then I'll do this when everything is stable.

[2018-08-16 18:09] PeterKottas opened #561 "Flow is significantly broken"
Reporting this issue in hope of finding reasonable solution to this.
At the moment, there's an archaic version on flow-bin used in this project. When I updated it, it came up with 1000+ errors.
The flow as is currently used forces developers to adhere to "fake rules"
For example instead of providing props and state types via generic parameters into the Component<PropsType, StateType>, you have to

[2018-08-16 19:58] arekkas commented on #561
Yeah there are several issues with flow. The first is that the typedefs are not used or vastly outdated. Same goes for flow-bin. The community has moved on to TypeScript which sees many more community contributions. One (work-intense) solution is to rewrite the lib in TypeScript. Another is to fix the aforementioned issues.

[2018-08-16 19:59] arekkas commented on #555
I like all of those plugin ideas. They should definitely be in separate PRs. I think it's fine to have them in the main repository.

One issue with the repository set up is how watch mode works. It's painfully slow and resource intense as we're watching several directories independently. Adding another typesystem to the mix won't make it faster/easier to set up. I think we need to solve the flow i

[2018-08-16 20:15] PeterKottas commented on #555
Ok fair enough, in the meantime I am making all my efforts for new code in flow anyways. I guess it's just easier for the time being.

[2018-08-16 20:17] PeterKottas commented on #561
I am actually tempted to port it to typescript. I have gained significant knowledge of this lib and while I can't say it would be easy, it's definitely doable. Cause the thing is you're totally right about the community. Working with typescript (our whole code base is in that) has been a pleasure. And also it's quite fast. That's why even if we managed to fix these problems, we would still end up

[2018-08-17 11:38] PeterKottas opened #562 "Automatically open edit form after adding a plugin via drag n drop"
I have one more PR in mind but wanted to run in past you @arekkas

We think it would make sense to give users a chance to setup the plugin right after dropping it in move mode. In other words, you drag an image plugin, drop it in place, a dialog would open allowing you to upload/modify the image, change link and so on. Then you click OK and can add more things right away.

Right now, if adding man

[2018-08-18 14:04] PeterKottas opened #563 "Copy paste text in slate"
Right now if you select text inside slate editor, then copy and paste, it will insert some extra line-endings. I might be able to fix this but if you have any input, please share before I start working. Please note this problem goes away if you past it to html-less editor (e.g. notepad) I think it has something to do with the editor trying to treat the paste content as html. It deserializes and me

[2018-08-18 15:31] arekkas commented on #562
This can be solved differently. You could switch into edit mode programmatically and then focus the new cell. This will yield the same result and not require another dialog.

[2018-08-18 15:32] arekkas commented on #563
Actually, the content is completely sanitized and stripped from HTML. This could probably be fixed by simply stripping trailing newlines.

[2018-08-18 18:30] PeterKottas commented on #563
Ok sounds reasonable, I might get to this once we merge in all of the current work.

[2018-08-18 18:34] PeterKottas commented on #562
I actually kind of like the dialog idea. It seems the expected ux ui experience. Think about it, you create something, you are asked for details. You set up, click OK and the items is created. Now it sort of feels like this could be achieved the way you are mentioning. Basically conditionally rendering extra Buttons in the UI. But then again, while in this TEMP edit mode, you could click on someth

[2018-08-18 19:44] arekkas commented on #562
I really want to avoid having any type of UI components in the core. The core is there for managing state, transitions, and making sure that the edit controls (drag & drop, resize, focus) work properly. Messing with this concept will degrade the code quality and break the packages isolation.

Additionally, having another dialog which is configured differently from the "edit view" is, in my opinion

[2018-08-18 23:33] PeterKottas commented on #562
I like the onDrop thing. That should be added anyways imho. I think ux ui in general would be a question for an expert in the field which I am not unfortunately. Also agree it shouldn't be in core, that doesn't make much sense. Don't agree with the bad developer experience though. Don't think of it as editing, think of it as initialization. But I see how this can be seen both ways. I just had this

[2018-08-19 16:28] PeterKottas commented on #559
This will be fixed by #554 We are now working hard on merging this. The reason for the warning is ory-editor currently uses an older version of slate which has this problem. It's not a big deal though.

[2018-08-19 16:34] PeterKottas commented on #551
Ok I've got some progress on this. Right now, we are almost able to achieve theme overriding. There are 2 things missing.

1. Provider in UI package needs to get theme from props and pass it to theme provider. No brainer
2. Plugins themes should also be over-ridable. And this is more complicated. We shouldn't make assumptions about plugins so obviously the public api shouldn't assume people use ma

[2018-08-19 19:52] arekkas commented on #562
I think this is sort-of already possible by adding a attaching middleware to the editor store (which is redux). I'll have to check. Might still be a good idea to have onDrop/onCreate callbacks in the plugin API.

[2018-08-20 21:46] aeneasr opened #568 "Switch from FlowType to TypeScript"
This is currently very difficult because babel will be compatible with typescript from 7.0.0 on, but react-scripts are currently not compatible with 7.0.0 and it's all very beta and flaky.

[2018-08-21 08:54] arekkas commented on #551
You can detect if a theme provider exists by checking the react context. If it doesn't exist we can set it. If it does, we skip it.

[2018-08-21 10:53] PeterKottas commented on #551
Okay that makes sense. I'll check how it's done then. Fingers crossed it will be just an easy change in the themeProvider.

[2018-08-22 13:16] PeterKottas opened #571 "Upgrade edit-list-plugin"
Just so that we don't forget, once this is resolved, https://github.com/GitbookIO/slate-edit-list/issues/82 we should update the plugin in slate-plugin, lists

[2018-08-22 17:21] PeterKottas opened #572 "Best way to store state data"
Hi @arekkas , sorry this is not a real issue, just looking for information. Ory apparently have lot of data and I was just curious how you store it all, or what the best way would be. So far, I see 2 main options:

1. Store it as string in the database (probably preferable NoSql but Sql would do just fine I guess)
2. Keep the data in json format on web (probably s3/ azure storage or equivalents) a

[2018-08-22 18:51] arekkas commented on #572
Both option are fine. One project that uses the editor (currently in staging) stores it as JSON in a SQL column. Not sure how fast S3 retrieval is, the JSON is usually also not extremely large (in terms of kb).

[2018-08-22 18:56] PeterKottas commented on #572
Cheers man, S3 should be quite fast, you can basically use it as global cdn. (Netflix uses it for streaming quite a lot) I think overall it can keep the server lighter on ram to store json elsewhere but the fact that you can use db keeps me happy to follow the same approach. If we grow too big, we'll easily be able to solve it some other way.

[2018-08-22 18:56] #572 closed

[2018-08-22 18:58] arekkas commented on #572
Always the case :)

[2018-08-24 06:53] kristapsstrals opened #573 "Tutorial not working"
Following the tutorial at https://ory.gitbooks.io/editor/content/tutorials.html#reactjs-example I get the following issue:
`./node_modules/ory-editor-plugins-slate/node_modules/@material-ui/icons/Code.js`
Module not found: Can't resolve '@babel/runtime/helpers/builtin/interopRequireDefault' in '\node_modules\ory-editor-plugins-parallax-background\node_modules\@material-ui\icons'

Issue found with

[2018-08-24 07:57] kfern commented on #573
This is a material-ui bug: https://github.com/mui-org/material-ui/issues/12408

"As a quick workaround for anyone affected, you can run npm install --save-exact @babel/runtime@7.0.0-beta.55 if using npm or yarn add @babel/runtime@7.0.0-beta.55 --exact if using Yarn to revert back to the previous version of @babel/runtime compatible with Material-UI."

[2018-08-25 09:50] aeneasr opened #574 "Lerna upgrade broke release pipeline"

[2018-08-25 09:52] #574 closed

[2018-08-25 11:39] aeneasr commented on #573
Ah yeah, I hope this stabilizes once babel is in stable 7.0.0 (I think this or next week) and we can upgrade react-scripts.

[2018-08-27 16:48] koneru1989 commented on #394
@abeq @aeneasr I want to add table to editor. Do you have any update on table feature?

[2018-08-27 17:06] koneru1989 opened #576 "print plugin"
How about having print plugin?

[2018-08-27 17:07] koneru1989 opened #577 "export editor content to pdf/word"
Any thoughts about this feature?

[2018-08-27 17:45] aeneasr commented on #394
no updates atm, sorry

[2018-08-27 18:02] aeneasr commented on #576
Printing works for the presentation layer. So you simply take the webpage and call `window.print()`. Not sure what else we can offer here.

[2018-08-27 18:03] aeneasr commented on #577
This is incompatible with word. For PDF see your other question #567

[2018-08-27 18:51] koneru1989 commented on #576
I went to https://editor.ory.am/ to check how window.print() prints. I have saved in pdf and attached the window.print() content.
These issues are coming in the print like page breaks in the image, ory's icons like edit & Add things, images details like image location, link,.. .
[Ory.am Editor.pdf](https://github.com/ory/editor/files/2325186/Ory.am.Editor.pdf)
I think we need to have a print plugi

[2018-08-27 18:53] aeneasr commented on #576
This is a css issue: https://www.w3.org/TR/css-print/

[2018-08-27 18:54] aeneasr commented on #576
Converting the document to PDF is a ton of work, it's much easier to define a proper stylesheet for your webpage and let that print.

[2018-08-29 07:49] davidfurlong opened #578 "react-jss not specified as any kind of dependency, but used in ThemeProvider"
It should probably be in https://github.com/ory/editor/blob/cc6ba2bb1e4b4f65649fd1928cdc8ce756732b66/packages/ui/package.json but I'm not sure whether it should be a peer or normal dependency.

[2018-08-30 10:48] davidfurlong opened #579 "searchNodeEverywhere() is null"
Sentry is showing two of errors which frequently occur from our implementation of ory-editor:
`Cannot read property 'node' of null` and
`r.props.searchNodeEverywhere(...) is null`

They both reference https://github.com/ory/editor/blob/cc6ba2bb1e4b4f65649fd1928cdc8ce756732b66/packages/core/src/components/HotKey/Decorator.js#L135 when `this.props.searchNodeEverywhere(focus)` don't find anything and

[2018-08-30 10:50] davidfurlong commented on #579
Therefore I propose we change editor/packages/core/src/components/HotKey/Decorator.js
to be something like:

[code]

[2018-08-30 13:17] PeterKottas opened #580 "Make plugin controls and render components replaceable"
Let's first talk about this.
Right now I am working on the client app, place where the content is rendered but not modified. Problem is right now I am forced to install material-ui which I would like to avoid. It seems that in order for the HTML (and later react-native) renderer, this lib is not required but as both serialize/deserialize and the rest of UI is in one file, you need it even when it'

[2018-08-30 19:03] aeneasr commented on #578
That should be a peer-dependency! I'm wondering why MUI isn't importing that?

[2018-08-30 19:08] aeneasr commented on #580
Why is it a problem to have it in the dependencies? Maybe some plugin actually needs MUI for rendering! I'm not sure how this would work as a separate file, depending on how the plugin is packaged you might just get a single file (bundle).

[2018-08-30 19:08] aeneasr commented on #579
Yeah, let's try that!

[2018-08-31 08:04] davidfurlong commented on #579
need me to draft a PR? (also re: previous issue?)

[2018-08-31 08:16] aeneasr commented on #579
Yes, would love to see a PR

[2018-08-31 08:31] aeneasr commented on #580
Your plugin can export `StaticComponent` alongside `Component` which is the component to be used for (HTML) rendering. I'm not sure if we can avoid `Component` from being loaded completely, but shouldn't something like tree-shaking do that for us?

[2018-09-01 10:53] PeterKottas commented on #580
Yeah that's true but like you've said, it would still include that in the bundle. We would have to load it dynamically in order for the tree shaking to work. I have some other solution in mind. Will get my hands dirty and put together a POC. I think that's the best way to explain what I am after. Also the way I want to do it will allow for RN implementation later.

[2018-09-01 12:46] aeneasr commented on #519
This should be fixed because we upgraded slate

[2018-09-01 12:46] #519 closed

[2018-09-01 12:47] #577 closed

[2018-09-01 12:48] #553 closed

[2018-09-01 12:49] #559 closed

[2018-09-01 12:50] aeneasr commented on #544
IMO, translating content is out of scope for this repository. Closing - feel free to add ideas though if you see this differently.

[2018-09-01 12:50] #544 closed

[2018-09-01 12:50] #523 closed

[2018-09-01 12:50] #522 closed

[2018-09-03 12:16] aeneasr commented on #580
Hey the video was great for understanding what you're up to. This concept is really amazing, I love it! This will greatly improve the API of the plugins and again we see how react shines here!

I think it would even be an option to have the editor-ui renamed to `ory-editor-mui-ui` which ships UI components for the default plugins. This will make it a breaking change but it will also significantly

[2018-09-03 12:18] aeneasr commented on #580
Once we have typescript, it will be a no-brainer to couple mui-ui with the typedefs of the plugins and maybe even add some tests or whatever. This is really great, excited to see this!

[2018-09-03 14:58] PeterKottas commented on #580
Awesome! I though the video would help, it's just easier to explain stuff like that when you can see what I had in mind. At the moment, we made a decision to postpone react-native app for android and IOS. We will only have the web version for now. That means there's less pressure and we can think about this more. I will be out of office from 21st of September till 7th of October, I think you menti

[2018-09-03 15:00] aeneasr commented on #580
Yeah, this really sounds like a major improvement to this project. I really, really like this change :) Yes, I'm ooo, Oct 7 sounds like a perfect start :) Enjoy your time off!

[2018-09-03 15:26] PeterKottas commented on #580
Likewise mate, I am happy with the direction this is going. You are also very open minded compared to some other open-source maintainers and thanks god for that! I think this way we can take a great lib and make it even better! Enjoy your time off as well, I just hope we'll be able to make sure all the slate lists stuff is fixed before you go as discussed in #585 :)

[2018-09-05 09:18] An0nymous0 opened #589 "Consider adding code highlight？"
Such as prismjs

[2018-09-05 13:07] Knorrke commented on #589
Hey @An0nymous0 we've build a plugin for that, maybe this matches your usecase? https://github.com/serlo-org/ory-editor-plugins/tree/62b3c509b140538b15499d7228efc95e29024ba8/plugins/content/highlight  We didn't deploy it yet, so you will probably have to download the code.

[2018-09-05 13:16] jauco opened #590 "tabs / carousel content plugin"
I was thinking of writing a tabs plugin (tabs as in https://getbootstrap.com/docs/4.0/components/navs/#tabs ). For this I would have to be able to somehow split the client rows so that it is clear what cells end up on what tab page.

What would you suggest as an approach here?

[2018-09-05 18:51] kartboy16 opened #591 "Multiple Editables: When adding component to one editable, it adds to all the editables"
When I drag a new component onto one of my 3 editables, it adds the component onto all 3.  Do I need to pass the id's into the Toolbar too?

I have multiple editables setup as follows:
`<Editable
                        editor={editor}
                        id={emailCampaignHeader._id}
                        onChange={this.handleHeaderChange}
                    />
                    <Editable

[2018-09-05 19:35] #591 closed

[2018-09-05 19:35] kartboy16 commented on #591
Nevermind, I was creating default content using the same ID's.

[2018-09-06 03:39] An0nymous0 commented on #589
@Knorrke  Thank you, I have encountered some problems downloading to the local, will this plugin be deployed?

[2018-09-06 21:24] colepacak opened #592 "removeCell callback for plugins"
Thanks for the great library! I'm working on a custom image plugin that uploads an image to a backend and was wondering if there is a way to set a callback when a cell of a plugin type is removed. I didn't see one in the API docs but am curious if there are plans to add one or if there's another approach.

[2018-09-09 13:43] aeneasr commented on #592
I’m not sure if a callback exists for that yet but if not it should!

[2018-09-09 13:44] aeneasr commented on #592
I checked, it does indeed not exist yet but is a sensible feature request. Feel free to take this on and submit a PR!

[2018-09-09 14:06] aeneasr commented on #590
Tabs are difficult if you want to create and delete them with drag and drop offered by this editor - but you can obviously write a dialogue that allows creating/deleting tabs.

[2018-09-09 14:09] aeneasr commented on #480
I think this can be done with ReactDOM methods like „umountComponentAtNode“ - no guarantees

[2018-09-10 07:46] Knorrke commented on #589
@An0nymous0 I think we will do in a week or so, but we're currently running a fork of ory editor, so the plugin might change before we deploy it and then might not be compatible with the ory editor...
That being said, I think you should be able to include the linked version, which we use directly in the ory editor as well. Make sure to include the dependency `"react-syntax-highlighter": "^6.1.1",`

[2018-09-11 19:43] PeterKottas commented on #590
Tabs in general is a good idea in my opinion! You can get some inspiration of how it could be done in https://github.com/ory/editor/tree/master/packages/plugins/layout/background . That plugin, (especially the gradient part) has some complex UI that I could easily imagine powering tabs.

However one side-note. We are likely going to improve the way plugins controls and rendering work in the upcomi

[2018-09-11 19:46] PeterKottas commented on #537
This can be closed now.

[2018-09-12 07:44] #537 closed

[2018-09-12 10:43] PeterKottas opened #593 "Performance issues"
Hey @aeneasr hope you are enjoying your holidays! I've encountered some problems with ory performance lately and was hoping you could shine some light on these. I've summed it up in a video: https://screencast-o-matic.com/watch/cFQl6BqH09

Also one extra thing, when in edit mode, clicking in different plugins comes with a lag as well. Not so noticeable as this one, but it's definitely there (maybe

[2018-09-12 10:58] PeterKottas commented on #593
Also, running production react build doesn't help. Tried that while hoping for an easy solution :(

[2018-09-14 05:11] FraMecca opened #594 "Delete not working in demo"
Whenever I press over an image or a video in teh demo editor, pressing DEL or Backspace does nothing.
This means that whenever I add an object I can remove it only with ctrl-z
Using Firefox 60.0

[2018-09-14 07:11] aeneasr commented on #593
It's quite possible that `shouldComponentRender` is not working properly. There's a npm module [`whydidyouupdate`](https://github.com/maicki/why-did-you-update) which can shed some light on this

[2018-09-14 07:13] aeneasr commented on #594
It's possible that, for some reason, the key is not properly intercepted. Might have to do with the lastest mui updates? ping @PeterKottas

[2018-09-14 10:47] PeterKottas commented on #593
I am thinking maybe resupplying and rechecking the ids for each leaf might be slow as well. Looking at this now, it seems the whole UI thread actually get stuck for the whole lag. That suggests (possibly) some intense computations.

I can't look into this right away. But this is definitely highest priority for me right now.

[2018-09-14 11:14] PeterKottas commented on #594
Did it ever work that way? Yeah of course when you press delete in empty slate editor, it removes it but I don't think I ever seen this working with images or video. You can still go to move and move it to trash though.

[2018-09-14 11:18] PeterKottas opened #595 "Edit and delete buttons on component"
I was thinking that it would make sense to add edit (gear icon) button and delete (recycle bin) icon to the plugins controls when in edit mode.

Reason for edit button:
Sometimes, especially with background plugin, the component area is so small that it's hard to know where exactly should one click to edit plugin.

Reason for delete button:
I think it's weird you have to go to move and manually dr

[2018-09-15 15:49] aeneasr commented on #594
Oh yeah, I think I misread, I thought pressing DEL or Backspace did in fact delete the plugin. In that case, this is expected behavior!

[2018-09-15 15:49] #594 closed

[2018-09-18 07:34] kosirm opened #596 "State of the project"
Hi, sorry for using issues as a forum tool... I don't know how to reach you. Found this site, (https://www.ory.sh/sites/) which I believe it is ory editor based and part of ory products. Links on this site are dead or misleading (registration doesn't work, the download doesn't work, nobody respond to chat message, etc). So, quite a disappointment...
On the other hand, I think that this project (or

[2018-09-18 07:47] aeneasr commented on #596
Hi there! We're not working on the ory sites project itself (website will be deprecated soon), but this one is being actively maintained with some great contributions.

We tried to hook this editor up with different static site generators, but it was a lot of work (back then) with an unclear path to monetization and a difficult market environment - which is the reason for discontinuation of that p

[2018-09-18 08:37] kosirm commented on #596
Thank you for a prompt and clear reply! I totally agree with you, there are so many ssg's today... It would be interesting to see how ORY could be paired with Gatsby, because they are both react based. In the meantime I also found your [reply](https://github.com/ory/editor/issues/396#issuecomment-359235066) on #396. I would be really interested to know how ORY on top of NetlifyCMS is going on, if

[2018-09-18 09:08] aeneasr commented on #596
I tried coupling Gatsby with this editor for a while about ~14 months ago, it was quite difficult back then but I think it has improved. Maybe @inyono can share some insights on the Netlify integration. In the meanwhile, I'm closing this issue but feel free to continue the discussion!

[2018-09-18 09:08] #596 closed

[2018-09-19 10:13] danielrea opened #597 "Applying Theme"
Hey, Don't know if this is just user error on my part but I can't seem to get the ThemeProvider to work.

I have wrapped my editor and Ory UI components in

[code]

But they still have the default theme applied to them and the dynamic naming of the CSS classes means I can't override them.

As a secondary question, does anyone know how I can find the class name of the black indicator line to show w

[2018-09-19 20:33] davidfurlong opened #598 "Slate deprecation warning"
Since the newest 0.4.4 versions of the ory slate plugin, my console is showing ```Deprecation (0.37.0): The `range.startKey` property has been deprecated, use `range.start.key` instead.``` in  slate-dev-logger.es.js

[2018-09-19 20:38] davidfurlong opened #599 "Migration from parallax-background to background"
When upgrade to use parallax-background in version 0.4.4, I get a warning:
 "WARNING! Obsolete plugin loaded. 'ory/editor/core/layout/parallax-background' has been deprecated, please use the new 'ory/editor/core/layout/background' plugin instead!"

However when I replace that and render a previously saved ory-editor, I get a big red `The requested layout plugin could not be found.` How am I to mig

[2018-09-23 09:57] aeneasr commented on #595
I think this should be handled on a per-plugin base. If the plugin is "known" to be difficult to focus, the author should implement a way to select and/or delete it. I don't think it should be the responsibility of the core.

[2018-09-23 09:58] aeneasr commented on #597
Good question, @PeterKottas you worked on this iirc, do you have an idea?

[2018-09-23 10:26] PeterKottas commented on #598
This is tracked here #571 . Unfortunately that warning doesn't come from our code but from the list plugin. They have a PR going in to fix that. Haven't checked for a while though.

[2018-09-23 10:27] aeneasr commented on #598
Right, thanks!

[2018-09-23 10:27] #598 closed

[2018-09-23 10:32] PeterKottas commented on #597
Hi there, this is tracked in #551 It's on my list but I have quite a few things there now. If you wanted to pick that up with a PR that would be swell. The idea is if you look at ThemeProvider in ui package, you would just need to check context to see if theme already exists. If so, pass it along, if not, use our default.

[2018-09-23 10:35] PeterKottas commented on #595
That sort of makes sense, but I still think it would be user friendlier to add some common way to have more consistent experience. In fact, it might be interesting to add "commonPlugins" that could add functionality like this to all plugins at the same time. No idea right now how that would be implemented. But I can see something along the way of how slate implements editorPlugins.

[2018-09-23 10:37] aeneasr commented on #595
Ok, let's tackle the other things first - performance and separation of duties ( #587 ) are the most important issues right now IMO - and give this some thought once those are done!

[2018-09-23 10:45] PeterKottas commented on #595
Yeah totally, right now I see priorities as:

1. Performance
2. Separation
3. Typescript
4. Then the rest of these

I am traveling till 8th of Oct I'll be online till then but not coding.

[2018-09-23 10:46] aeneasr commented on #595
Ok! Enjoy your time off! I don't think I have time to address any of those as well, my schedule is completely stacked until end of Oct

[2018-09-23 19:08] PeterKottas commented on #595
Thanks man. Yeah same here, we are now in public beta so lot of crap flying around. Major thing for me is the performance. I'll get to the rest then.

[2018-09-26 00:06] nolandg opened #600 "SSR and MUI + JSS + <ThemeProvider>"
Wondering if anyone has successfully integrated Ory into an SSR site? I'm attempting this now and it seems the way `<ThemeProvider>` works makes this impossible. By using it's own `<JssProvider>` and class name generator, I have no way of grabbing the stylesheets the JSS makes to inject on the server side. So first render is shit and then corrects as the JSS runs.

...which wouldn't be soooo bad b

[2018-09-26 19:39] colepacak commented on #597
This was actually more straightforward than I thought, at least for UI elements like DisplayModeToggle. Feel free to weigh in, and I'll submit a PR if I'm on the right track.

After forking the repo, I added the following to /examples/src/index.js:

[code]

Then, I passed in `theme` as a prop to the DisplayModeToggle component:

[code]

DisplayModeToggle already passes all of its props down to the

[2018-09-26 20:09] nolandg commented on #600
As a test, I changed `<ThemeProvider>` to do nothing, just pass through it's `children` with a `<Fragment>` and it seems to work perfectly and use my own app's theme and doesn't break SSR. Is there interest in a PR for such functionality?

[2018-09-26 22:48] PeterKottas commented on #597
Yeah I've put in a similar solution into a few places. But I don't like it. What I'd suggest instead is to check context in ThemeProvider to see if there is already a MUI theme provider present upstream. If so, use that theme, if not, use default or whatever is passed to it. I think that's the way to go. Hope it makes sense, plus it's actually even simpler imho

[2018-09-27 14:43] colepacak commented on #597
How would you handle overrides when a ThemeProvider is already present? To be honest, I don't know how often that might happen throughout the entire system, but it seems reasonable that a system-wide theme is used but an individual component would want an override.

[2018-09-27 14:56] PeterKottas commented on #597
Well right now you can't override anything at all. What you are suggesting would force people to inject theme via props to each ui component. That can get annoying rly quickly. The way I described would allow people to wrap whole app in one theme provider, the ThemeProvider implemented by ory ui, would then check context and use the global theme. We could configure this behavior further via a bool

[2018-09-27 21:35] colepacak commented on #597
I understand now. I had assumed that the MUI theme declared in ThemeProvider was the default theme since most things use that unless explicitly receiving the dark theme.

[2018-09-29 08:31] davidfurlong commented on #600
We do SSR, but I havent experienced the issue you're talking about.

[2018-09-30 20:12] nolandg commented on #600
@davidfurlong Thanks for the reply. Does your host app that uses Ory have it's own JSS provider and own MUI theme? Or is Ory the only part of the app that uses JSS?

[2018-10-01 07:01] davidfurlong commented on #600
this

[2018-10-01 08:01] aeneasr commented on #600
Isn't this a dupe of #597?

[2018-10-01 16:37] nolandg commented on #600
@aeneasr Related but #597 doesn't address the more important issue of `<JssProvider>`. MUI theme passing is important but worst-case scenario is wrong theme. If Jss provider is not handled correctly, all styling after the first Ory component is lost and page looks like garbage. Having multiple overlapping MUI themes can actually be made to work and might be intentional. Having multiple JSS provide

[2018-10-02 07:15] aeneasr commented on #600
Ok I see, I'm sure `JssProvider` relies on context right? So there could be a way to check if the JssProvider is set up and disable it if it is. I think this should also be addressed along with #597 as it's really the same issue, just a different part of the system.

[2018-10-02 07:35] aeneasr commented on #597
#600 sheds some light on issues with JSS providers, I think that's very valid as well.

[2018-10-03 04:21] mohamednizar opened #602 "How to read state of `HTMLRenderer` in side a plugin"
I have developed my render class and render data perfectly, but I have developed some plugin which are designed to render data for template.

In the state the plugin I could not find any data .

here find the the render class.

[code]

Here find the plugin code.

[code]

Plugin export
[code]

How can I read this data in side the firstName plugin

[2018-10-05 14:22] vangheem opened #605 "HTMLRenderer can not render state produced by Editable onChange event"
Example state produced:

[code]

When when I tried rendering it with `HTMLRenderer`, I get `The requested content plugin could not be found`.

What could I be doing wrong?

If I use the fake data provided in the example, everything works. It seems like something is wrong with the state data the editor is sending.

[2018-10-05 15:03] vangheem commented on #605
My bad. My plugin config was actually wrong. It was odd because it works for creating it but not for rendering it(even though it was the same plugin config).

[2018-10-05 15:03] #605 closed

[2018-10-09 18:30] amerryma opened #606 "Tutorial Layout Not Working"
Hi all,

I'm currently working through the tutorials in order to get the Editor working in my application. Everything was going smoothly until I started experimenting with layouts. I've followed the tutorial here: https://ory.gitbooks.io/editor/content/tutorials.html#writing-plugins and got stuck on the layout plugin portion.

Here are some snippets of my code so far...

### Layout

[code]

### Ed

[2018-10-11 22:30] yuriMalakhov commented on #606
Hi! I have faced the same problem today. After looking at [existing Background layout plugin](https://github.com/ory/editor/blob/ca2a6276b89b7282695673c40c7fe5205a0593e4/packages/plugins/layout/background/src/index.js#L561), I have found that you should do it like this:
[code]
Take it as an example. The trick is that you have to provide `createInitialChildren` layout plugin method.

[2018-10-12 19:03] colepacak opened #607 "Plugin instances receive isLayoutMode that returns a function rather than a boolean"
There's a good chance that I'm just missing something in the larger context, but I noticed that plugin instances receive a function for the prop `isLayoutMode` rather than a boolean like the other props that check the display mode. I tracked it down to the cell content component in the core package and am wondering if this was a mistake, because as a result there isn't a quick way to determine if

[2018-10-12 22:40] bekicot commented on #424
Internally, ory-editor is importing the backend. Isn't it causing the "Cannot have two HTML5 backends at the same time" error?
Is there any other way so that we can implement reactdnd for our other feature, along with ory-editor?

[2018-10-23 09:31] mohamednizar opened #610 "Create Plugins Documentations for `text` Editor"
I'm working with ory editor, it has bunch of features. I needs to develop plugins which  are need to render inside the text editor like link. This plugins are  using for letter templates , some thing like Name, salary, Employee No.

Currently I have developed , but they are rendering as individual components and cell.

How can I get done this?

[2018-10-23 09:45] mohamednizar commented on #602
I hack this problem by using local storage.I'm closing this issue, as it was an application level issue.

[2018-10-23 09:45] #602 closed

[2018-10-25 12:19] bekicot commented on #507
The permanent link to the example mentioned by @aeneasr

https://github.com/ory/editor/blob/db2f1774176625eaef61214f5f5e24cc90800701/examples/src/index.js#L105

[2018-10-26 08:49] davidfurlong opened #611 "[Feat request] Ability to use existing redux store"
We use redux in our project too, and unfortunately this means that both redux stores have the same `storeKey` (see https://github.com/reduxjs/react-redux/blob/master/docs/api.md#arguments). This means that our widgets which try to `connect` to our store from inside `ory-editor` can't connect, as the `storeKey` is the same. We have renamed our `storeKey`, but unfortunately many popular `redux` libr

[2018-10-27 14:47] aeneasr commented on #611
Yeah, that definitely makes sense!

[2018-10-27 17:45] davidfurlong commented on #611
Any opinions on which solution would be preferred?

[2018-10-28 12:05] aeneasr commented on #611
I think it should be possible to override the store in the `Editor` class, given that both middlewares and redux stores are properly set. You could probably try doing something like this already to prototype it:

[code]

[2018-10-29 02:21] RobertLbebber opened #614 "Color Option For Slate Text Editor Plugin"
There currently isn't an option to allow users to change the font color with the font options. This would be a valuable way for page builders to give life to their pages.

[2018-10-29 02:45] RobertLbebber commented on #614
Dup #555

[2018-10-29 02:50] RobertLbebber opened #615 "Paste Function Fails in Text Field"
Failure to paste on Chrome for React 16.5.2

Also the entire page will crash if Cut and followed by Undo.

Provided Error  Snippet for paste:
 `Uncaught TypeError: n.getFirstInvalidDescendant is not a function
    at slate.es.js:5852
    at immutable.js:4492
    at List.__iterate (immutable.js:2206)
    at List.findEntry (immutable.js:4491)
    at List.find (immutable.js:4375)
    at Document.getF

[2018-11-07 11:13] Butonix opened #618 "Language"
Tell me how to change the default language?
Or how to change the name of a specific text

[2018-11-10 14:02] Neznak0mka opened #619 "Build for developers without imports and compression"
Hello! Have you got a build for developers without imports in js and css files and without compression? How to use your editor on real web site and change your code? Thanks!

[2018-11-10 14:04] aeneasr commented on #619
https://github.com/ory/editor/tree/master/examples

[2018-11-10 14:04] #619 closed

[2018-11-12 18:01] sahadith opened #620 "How can I get non-obfuscated javascript and css files?"
Hello.
When compiling a project with commands:
[code]

All files in the \ editor \ examples \ build \ static \
javascript and css folder are obfuscated.
How can I get non-obfuscated javascript and css files?

This is necessary to connect them to the head of the page via
`<link href = "... and <script type =" text / javascript "src =" ...`

For example, the same two files main.xxxxxxxx.js and main.

[2018-11-13 16:27] davidfurlong opened #621 "Docs website has an expired SSL cert"
See https://editor.ory.am

[2018-11-13 16:31] aeneasr commented on #621
Go to: https://editor.ory.sh :)

[2018-11-13 17:08] davidfurlong commented on #621
think the old link is references here then:
https://github.com/ory/editor/blob/0c90fe0f7b4136243342a97a3cab256f43638f3d/examples/public/index.html

[2018-11-13 23:47] aheissenberger commented on #573
using create-react-app version 2.1.1  and setting back babel to 7.0.0-beta.55 still gets me this error:
[code]

[2018-11-15 00:13] fernandobandeira opened #622 "New plugin idea: padding"
I think we could have another default plugin, for padding.

Basically, it'd work similar to the background and spacer that we have right now, you'd be able to put other plugins inside it and you'd have a spacer like UI to drag the padding on the sides, this way we could achieve more complex layouts, for example:

![screen shot 2018-11-14 at 22 05 00](https://user-images.githubusercontent.com/83739

[2018-11-15 08:01] aeneasr commented on #622
This is the biggest challenge. IMO, design padding should always be done in CSS and defined by ui folks and implemented by dev, not by the authors that create the content because they will mess up at some point. devs too, but they have a QA and test pipeline to go through.

[2018-11-15 18:09] #614 closed

[2018-11-16 15:26] JulesHuisman opened #623 "'Uncaught TypeError' when adding two plugins below eachother"
When I add two plugins below each other and I try to edit, I get the following error:

![capture](https://user-images.githubusercontent.com/26525996/48629944-3ad51780-e9bb-11e8-99c2-09923fd07912.PNG)

When I drag a image into a textbox the issue doesn't appear.

This is my file structure:
[code]

[code]

[2018-11-20 09:47] #621 closed

[2018-12-03 13:00] kevinlaw91 opened #625 "Placeholder text overflow when align to right"
Without entering any text, while empty, aligning to right will cause placeholder text to overflow
![capture](https://user-images.githubusercontent.com/4179182/49375117-5cb1f680-f73e-11e8-8147-37763e7bbc94.PNG)

[2018-12-09 19:15] PeterKottas opened #627 "Add Source maps"
Hi @aeneasr , working on editor once again after a while. I was wondering if source maps work for you in the demo tool-chain. I am working on updating dependencies plus some performance fixes and not having source maps is rly annoying.

Ty

[2018-12-11 09:00] aeneasr commented on #627
I'll have to check, they definitely worked at some point but the toolchain is (as you know) a bit messy.

[2018-12-11 11:56] PeterKottas commented on #627
Thanks man, I've tried for a bit but no luck so far.

[2018-12-11 12:08] PeterKottas commented on #593
Ok, big benefiting factor seems to be the face that the editor renders the UI for all cells right away. Instead it should (IMHO) only render it when necessary, in other words, when you click on the cell. I'll take this into consideration when rewriting how the plugins work (the separation of concerns we discussed previously)

[2018-12-13 09:32] Knorrke commented on #293
Solved this with a global cache, which is a good enough solution for me. Thanks 👍 -> Closing

[2018-12-13 09:32] #293 closed

[2018-12-15 11:50] PeterKottas commented on #615
Same thing happening to me, investigating now.

[2018-12-17 14:42] PeterKottas commented on #615
Ok solved it. In my case, I was using a lib that has slate as dependency, yet I was pulling in my own with a different version. The version mismatch was causing this issue. Do
[code]
or
[code]
To figure out what's going on.

This can be closed I guess.

[2018-12-18 04:28] EisenbergEffect opened #631 "Decouple from React and Redux"
Nifty editor you've got here. I'd like to use it, but unfortunately I can't take a dependency on React or Redux. It would be great if Ory was framework-agnostic and built with VanillaJS. Has there been much consideration into making this change? How coupled is the core to React/Redux? Is it just a matter of writing a thin layer on top of an editor "backend" or are things coupled at the core?

[2018-12-18 04:58] aeneasr commented on #631
No, it is not possible to build this type of technology without React nor Redux, unless you want to reinvent those two exact technologies again.

[2018-12-18 05:10] EisenbergEffect commented on #631
I know that's not true. But, I'll just interpret this as there being no intention to try. Thank you for your prompt response.

[2018-12-18 05:10] #631 closed

[2018-12-21 11:36] davidfurlong opened #632 "0.5.1 issues"
0.5.0 => 0.5.1 Seems to introduce undocumented peerDependency of
react-jss
material-ui v3

Unclear whether these should be dependencies of a package or documented as peerDependencies.

`react-jss` used in `ory-editor-ui/lib/ThemeProvider`

[2018-12-21 11:47] davidfurlong commented on #620
Do you mean without hashed file names?

The hashing is done to bust caches, but if for some reason you want the example build without these, you can look here: `https://www.npmjs.com/package/react-scripts` which is used to build the examples

[2018-12-21 11:49] davidfurlong commented on #618
I don't think thats currently possible without forking the package/plugin in question. However we have a similar use case, so perhaps a better question is whether an internationalization support PR would be accepted. Perhaps the in form of a `locale` option which is a Map from translation key to string

[2018-12-21 11:50] davidfurlong commented on #611
Cool this is merged :)

[2018-12-21 11:50] #611 closed

[2018-12-21 11:51] davidfurlong commented on #610
I'm finding it hard to understand what you're asking, perhaps if you post some of the code I can better understand :)

[2018-12-21 11:53] davidfurlong commented on #507
this issue can probably be closed?

[2018-12-23 13:38] #620 closed

[2018-12-23 13:41] aeneasr commented on #507
yup

[2018-12-23 13:41] #507 closed

[2018-12-23 13:41] aeneasr commented on #610
Also inactive for a while -> closing :)

[2018-12-23 13:41] #610 closed

[2019-01-09 14:50] tebriz159 opened #635 "Logo design"
Hello , I just saw your project, the project has over 7k stars congrats to you. I'm a logo designer and I want to contribute on your project. I can make a free logo for your project if you want.

[2019-01-13 12:33] aeneasr commented on #635
That's really nice of you! I'd be happy to see what you come up with, but I can't make guarantees that it will become the official logo :)

[2019-01-14 15:49] Metrakit opened #636 "Why peerDependencies for your Toolbar components and others in your ory-editor-ui package"
Hi,

I'm fighting for a while to follow your guide here : https://ory.gitbooks.io/editor/content/tutorials.html#reactjs-example then I understood that i need to install the peerDependencies listed here : https://github.com/aeneasr/ory-editor/blob/master/packages/ui/package.json for can compile my app. Why you put this required librairies (for use the component Toolbar and some others from your pac

[2019-01-14 22:09] tebriz159 commented on #635
Sure, I have some design works but after I'm done I will design logo for your project.

[2019-01-17 18:19] davidfurlong opened #637 "Video plugin has a SSR issue"
We had a really strange issue with the server side render of Ory renders related to having the video plugin included as part of the Editor plugins, but it wasn't being used in the rendered page. It was malforming and jumbling `div`s outside of the rendered React Component, applying styles to them and generally seemingly mutating the DOM outside of `<HTMLRenderer/>`

I can take a look at what the i

[2019-01-17 18:20] davidfurlong commented on #637
I think this issue is new as well, most likely the Typescript migration

[2019-01-17 19:14] davidfurlong commented on #637
Could be related to: https://github.com/CookPete/react-player/issues/113

[2019-01-17 19:23] davidfurlong commented on #637
Bumping the `react-player` plugin version to 1.8.0 should fix the issue

[2019-01-17 22:48] davidfurlong commented on #637
See PR for explanation

[2019-01-17 22:48] #637 closed

[2019-01-20 10:43] #632 closed

[2019-01-24 21:06] tebriz159 commented on #635
Hi, I made a logo and I couldn't decide which color do you want. So, I made color variations of the logo. If you want to use it I'll send you the original files about the logo.
![ory pr2](https://user-images.githubusercontent.com/31902754/51708243-40ad3180-1fd8-11e9-8e28-81ec3c08aca1.png)

Which color do you prefer?

![ory pr](https://user-images.githubusercontent.com/31902754/51708379-a7324f80-1f

[2019-01-24 21:41] alexstandiford commented on #635
Ooh! I like this.

[2019-01-28 10:55] aeneasr commented on #635
This is awesome :) I like the blue one!

[2019-01-29 06:18] KimNen opened #641 "Is there any way to use that editor on the ssr site?"
I am currently building a site using nextjs.
But I like the editor so much that I want to use the editor on our site.
However, it does not apply to simply using the exam source in the example.
Do you have any good ideas about this?

[2019-01-29 08:12] aksanoble commented on #573
You will have to explicitly install the peer dependencies.
Based on your application you can try the following

`npm i @material-ui/core@^3.0.0 @material-ui/icons@^3.0.0 react-jss@^8.6.1 --save`

[2019-01-29 18:59] tebriz159 commented on #635
I'm glad that you like it, please let me know after you implement the logo. All files about the logo is here: https://drive.google.com/open?id=19oONh4rHPqiIPlRtwYig5uG1wlAvrBET

[2019-01-29 23:31] fernandobandeira commented on #498
@aeneasr Still experiencing this issue here using `0.6.0` I'll use the proposed workaround for now.

[2019-01-30 01:52] KimNen commented on #641
@fernandobandeira

The editor does not work properly.
But since I do not see an error message, I think the plugin does not seem to work properly.

Is there any way to resolve this?

I've imported your photos.

The following phenomenon occurs. Please tell me if you need `more.

![2019-01-30 10 45 34](https://user-images.githubusercontent.com/39530114/51952780-1e566080-247d-11e9-8637-3bc76b5cc1eb.pn

[2019-01-30 01:55] KimNen commented on #641
@fernandobandeira

pages
- form < dynamic import page
- edit < real page

In this way,

The part that is called in the edit part is composed like this.
[code]

[2019-01-30 01:56] KimNen commented on #641
@fernandobandeira

_document.js is here

`import React, {Component, Fragment} from 'react';
import PropTypes from 'prop-types';
import NextDocument, { Head, Main, NextScript } from 'next/document';
import flush from 'styled-jsx/server';

class MyDocument extends NextDocument {

    static async getInitialProps(context) {
        const props = await super.getInitialProps(context)

        let pageC

[2019-01-31 08:19] aeneasr commented on #635
Awesome! Under which license would you provide this logo? One example could be one of the Creative Common licenses: https://creativecommons.org/

This is important for this repo as I'll be adding the logo to the repository itself so this has to be clear :)

[2019-01-31 09:43] tebriz159 commented on #635
Doesn't matter for me, use which you want. I'm a utopian contributor and I always use Creative Common license when I share my work.

[2019-02-01 21:43] fernandobandeira opened #642 "0.6.1 wasn't published"
Just a heads up, version 0.6.1 wasn't published on npm even though there's a release for here on git, tried to update my package json to the newest release but it didn't find the version.

[2019-02-07 11:03] #635 closed

[2019-02-07 11:03] aeneasr commented on #635
Thank you Tebriz! Sorry for taking a bit of time for this but the logo is now in the readme and I've linked your GH profile in the readme too :) LMK if you want a link to your website there or whatever.

[2019-02-07 19:55] fernandobandeira opened #645 "Push new versions to npm"
@aeneasr Just a reminder to publish the new versions to npm, currently the latest version available is 0.6.0 while we're on 0.6.2 here on Github.

[2019-02-07 19:56] aeneasr commented on #645
Yeah thanks, there is a problem with TS it seems. If you have a free minute I'd appreciate a PR!

https://travis-ci.org/aeneasr/ory-editor/jobs/489994543#L707

[2019-02-08 09:42] tebriz159 commented on #635
Looks great, thank you for adding my GH profile. And LMK if you need a logo design for any project.

[2019-02-09 15:02] matfire opened #647 "Problem with react-tap-event-plugin"
Hi,

following the react js tutorial, after installing all the dependencies required (MUI etc.) I run the project one last time and I get an error coming from react-tap-event-plugin. I am using the latest version of react (16.8.1) and I read that react-tap-event is no longer supported. Any idea on how I might get this package to work nonetheless?

[2019-02-13 15:55] #645 closed

[2019-02-13 15:56] aeneasr commented on #635
I will! Thank you :)

[2019-02-14 08:41] BatuhanW commented on #647
I had the same issue, I completely removed `react-tap-even-plugin` and update MUI to alpha release. It somewhat works but not ready for production I guess. @aeneasr If you can point where we should do changes to drop `react-tap-event` dependency, I'd like to send a PR, work on this issue.

Wanted to know if you are cool with these?
- Drop react-tap-event-plugin dependency
- Upgrade MUI to latest a

[2019-02-14 08:46] BatuhanW commented on #573
Why are they peer dependencies anyway? Not everyone is using MUI or `react-jss` anyway.

[2019-02-15 07:37] samohovets opened #648 "Editor's editables won't update"
Hello! I'm trying to get that beautiful thing working and I want to update editor editable's with content from a server (got from props). For now, I'm trying to update editable like in #436
with `editor.trigger.editable.update` like in the example below, but no luck.

* Editable data actually passes to component
* After editing server actually saves data in mongo 😄

What's the problem?

[code]

[2019-02-15 07:53] samohovets commented on #648
Nah, my problem was that I render Editor before content is actually updated, I'm using this solution now:

[code]

[2019-02-15 07:53] #648 closed

[2019-02-18 14:03] Patrick-Spiegel commented on #647
Is this issue about this?
![image](https://user-images.githubusercontent.com/35311793/52955992-5b33ba00-338e-11e9-9a58-42d463f9bb1f.png)

[2019-02-23 12:27] tranvansang opened #649 "IME input is interrupted when typing"
The editor frequently interrupts IME input and prevents the text to be converted.

I guest that the automatic saving feature causes this bug. Is there any work around? Otherwise, I have to go with another options (rather than ory).

This is screen capture
![chrome-capture2](https://user-images.githubusercontent.com/13043196/53286418-7ef16880-37b1-11e9-856a-4e4b33e2d907.gif)

This screenshot of wha

[2019-02-26 11:09] matfire commented on #647
Yes

[2019-02-28 06:36] tonynguyen88 opened #650 "Push new versions to npm"
Just a reminder to publish the new versions to npm, currently the latest version available is 0.6.0 while we're on 0.6.2 here on Github.

[2019-03-01 08:12] hungle1220 commented on #424
I used editor with react-sortable-tree. Any suggestions?

[2019-03-02 04:42] xuananpham93 commented on #424
I have the same problem? How to resolve it?

[2019-03-02 14:11] isvaljek opened #652 "Use slate as a child plugin"
Is it possible to use 'ory-editor-plugins-slate', as a child of another ory plugin/component?

[2019-03-03 07:10] isvaljek opened #653 "Layout plugin has no children"
The updated Layout plugin tutorial works in that it creates an empty black border div, but has no children.
There should be Slate plugin as a first child.

[2019-03-03 11:27] isvaljek commented on #653
Layout plugin added to content array, doh!

[2019-03-03 11:27] #653 closed

[2019-03-03 11:27] isvaljek commented on #652
Layout plugins ftw!

[2019-03-03 11:27] #652 closed

[2019-03-03 11:31] isvaljek opened #654 "Two cell Layout plugin"
This Layout plugin produces error: Each child in a list should have a unique "key" prop.
Can anyone take a look?
When the second cell from the first row is removed from createInitialChildren, no error occurs.

[code]

[2019-03-03 15:26] isvaljek commented on #654
Missed one id: v4()

[2019-03-03 15:26] #654 closed

[2019-03-04 20:22] isvaljek opened #655 "Backspace/Del in BottomToolbar deletes the whole element"
When the TextField in BottomToolbar is focused and a user presses Backspace or Delete on keyboard, the whole element disappears.
That is when the element is a child plugin of a layout plugin element.

[2019-03-09 15:09] isvaljek commented on #655
It seems that instantiating the plugin through `new ContentPlugin(pluginName)` instead of just using pluginName solved it.

[code]

[2019-03-09 15:11] #655 closed

[2019-03-11 12:51] agustin107 opened #656 "Module not found: Can't resolve 'keycode'"
Failed to compile
[code]

[2019-03-11 13:49] fernandobandeira commented on #650
@aeneasr should be able to release a new version now that the tests are passing.

[2019-03-11 15:23] hoseyneil commented on #507
Im struggling to understant how I would use this to output HTML?  Can you point me in a direction here?

I'd like to do it on the server side in a node app... but cannot figure out how, any suggestions?

[2019-03-13 01:40] agustin107 commented on #428
@Morphexe Can you share your solution for this?

[2019-03-20 06:18] isvaljek opened #661 "Extend editor - add another ory-controls-mode-toggle-control button (settings)"
I've added another Toolbar (ToolbarSettings), and an another button to DisplayModeToggle.
I'm tying to create settings section for this project, but I'm not sure whether we can use the RootState.settings for the storage part or is it advisable to create a separate store on the App level, above the Editor level? In that case I'm having problem passing down store actions to ToolbarSettings.

[2019-03-20 19:41] fernandobandeira opened #662 "Request to become maintainer"
Hello @aeneasr,

I've seen that you've been busy lately and since me and my team are using this library quite a lot I'd like to help you maintaining it, reviewing some PR's with bug fixes, issues, release patches and so on, let me know if you're okay with that.

[2019-03-21 13:38] aeneasr commented on #662
Hi @fernandobandeira ! Thank you for becoming involved here. I definitely do not have time any more to maintain this project and thought about archiving it soon. I don't feel comfortable with running a repo under my username via other maintainers but I would be open to update the readme with a link to your maintained fork. What do you think about that?

[2019-03-21 19:20] fernandobandeira commented on #662
Sure, I'll start a fork this week, push some fixes and ping you with the link then, if you want to dearchive it later we can just PR back into your repo then =)

[2019-03-26 11:38] isvaljek opened #663 "Error on npm run build:lib"
I'm a typescript newbie, and a bit late on the general JS development, so please shed some light on this build error (happens on npm run build:lib):

[code]

[2019-03-26 16:43] isvaljek commented on #663
[code]

[2019-03-26 16:43] #663 closed

[2019-03-26 20:00] macrozone commented on #662
hi! i just stumbled across this repo and i think its awesome!

@aeneasr, @fernandobandeira

~7500 Stars is quite an achievement. Maybe its better to [transfer](https://help.github.com/en/articles/transferring-a-repository) the repo to a new organisation and keep the stars? I think if you just link to a fork, it might lose some momentum.

[2019-03-27 02:14] muhajirdev commented on #653
Hi @isvaljek , I am facing the same problem. How did you solve this?

[2019-03-27 03:25] muhajirdev opened #664 "Error when I have more than 2 layout plugins"
I got this error when I have two or more layout plugins.

I just follow the tutorial. And then I tried to create more layout plugins.

Ended up like so
[code]

[code]

[code]

[code]
![image](https://user-images.githubusercontent.com/12745166/55048271-3233d280-507a-11e9-9f88-adbdedba38f2.png)

Repo to reprocue error https://github.com/muhajirdev/reproduce-ory-editor-error
The key file is in `src/p

[2019-03-28 10:47] macrozone commented on #424
actually, it exports a function that creates a new backend. Maybe you refering to an older version? Also the version used in ory editor looks quite old, maybe an upgrade would help?

[2019-03-28 11:11] aeneasr commented on #662
No, this repository will not be transferred to another org unless I know the maintainers personally for a long period of time. This healthy scepticism is based on the recent [event-stream incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident).

[2019-03-28 12:20] macrozone commented on #662
@aeneasr the npm-publish problem is another topic where your sceptism is justified.

What about creating an organisation on github for the editor (ory-editor) and transfer the repo there so that your username no longer appears?

It would just be sad if the repo would lose momentum.

[2019-03-28 18:56] isvaljek commented on #653
Hi, in my case the error I believe was in that I added a Layout plugin to the Content plugins array.

[2019-04-01 09:40] muhajirdev commented on #653
Thanks @isvaljek

[2019-04-01 15:47] eloicrowd commented on #664
Same problem here but with more than 20 layout plugins.

[2019-04-02 08:26] davidfurlong commented on #662
We're considering forking as well, but likely with the added intention to move away from `material-ui` as we don't use it internally

A suggestion: its possible to transfer the github/give maintainer to repository without transferring the `npm publish` rights, hence reducing the risks of a malicious takeover of an npm package

[2019-04-02 08:41] macrozone commented on #662
what about moving it to a comunity-organisation? something like https://github.com/ory-editor-community/ory-editor

that would make it more clear, that this would be the "official" repo and we could try to get more contributors on it (my team would also like to contribute).

(We might also consider rebranding to something neutral, as ory is a company and they no longer support it.)

[2019-04-02 08:45] aeneasr commented on #662
Moving it to a community-org with a new npm package is something worth discussing IMO. I'm also happy to rebrand it (open for suggestions). I'd also definitely spend time to do community/maintainership management (wrt maintainership etc) to keep things flowing.

[2019-04-02 09:08] davidfurlong commented on #662
We're happy to do whatever is best for the survival of this library - our main priorities are improving the editing user experience (Spacers are buggy and slow to use, improvements to modes UX, Editing render differs from displayed render).

We are also to in the future potentially decouple / remove material-ui as using this library without using material-ui in your main project (as we do) is not

[2019-04-02 09:16] aeneasr commented on #662
Cool! Ok, as next steps I'd:

1. Move this repo to a new org (e.g. editor-community - please add your name suggestions)
2. Rename this repo to the new name (e.g. editor)
3. Set up a CI pipeline under a new npm org
4. Figure out a process to name maintainers and also a way to have discussions about how the package(s) should move forward as each company/contributor has probably a different idea/vis

[2019-04-02 09:18] macrozone commented on #662
ok will also brainstorm about a name ;-)

thank you @aeneasr (hackerman) for everything!

[2019-04-02 09:20] davidfurlong commented on #662
I will brainstorm names too (1 & 2) - I would suggest a three party coalition for 4 (@macrozone, @fernandobandeira, @davidfurlong)

[2019-04-02 09:46] davidfurlong commented on #662
I suggest `react-pages` - I think a declarative name would be useful, and the that name is the most package relevant one that I could find which was available on npm

[2019-04-02 10:35] macrozone commented on #662
simple, yet descriptive. I like

[2019-04-02 10:44] aeneasr commented on #662
Yeah that's awesome! And what about the org name?

[2019-04-02 10:45] aeneasr commented on #662
Or what about `react-editable`?

[2019-04-02 10:57] macrozone commented on #662
probably just react-pages and then just

react-pages/react-pages

;-)

[2019-04-02 11:00] macrozone commented on #662
i think that makes people think of content editable. I think the ory-editor or "react-pages" is more than that ;-)

[2019-04-02 11:01] macrozone commented on #662
I asked my collegues for a name and i just got the mandatory "Editor McEditorFace" ;-)

[2019-04-02 12:09] aeneasr commented on #662
https://github.com/react-pages is already taken unfortunately

[2019-04-02 13:50] fernandobandeira commented on #662
Maybe `react-pages-community/react-pages` then? Great idea btw. 😄

[2019-04-03 08:12] kfern commented on #662
My two cents: react-easy-editor

[2019-04-03 08:53] xeptore opened #665 "RTL support"
Hi. is there any RTL (right-to-left) support?

[2019-04-03 09:12] xeptore commented on #665
auto detection?!
closing issue...

[2019-04-03 09:18] xeptore commented on #665
what about ordered/unordered lists? their contents (inner `<p></p>` tags) get the `dir="rtl"` attribute, but it is useless unless their original `<ul>` / `<ol>` tags become _rtl_.

[2019-04-08 09:18] Senneer opened #666 "Storing state data and backward compatibility"
Hi there! I've found similar but closed issue about data storing. https://github.com/aeneasr/ory-editor/issues/572
I wonder how would you handle this problem? The case with json as string seems ok, but what about backward compatibility? Will the json structure be changed some time?

[2019-04-11 09:54] RrredHead commented on #662
@fernandobandeira @macrozone @davidfurlong @aeneasr
Do you have some progress?

[2019-04-17 07:27] davidfurlong commented on #662
I got a bit tired of waiting for anyone else to do it so I made a start.
https://github.com/react-pages-community/react-pages

I ran into this issue:
@react-pages/core (npm organization scoped packages) had slashes that seemed to cause issues with imports such as `@react-pages/core/lib/content` (where the slash is treated as a file system slash)
and if we do the package names without an organizati

[2019-04-17 08:08] aeneasr commented on #662
I think that should work with lerna or maybe aliases

[2019-04-17 08:19] macrozone commented on #662
@davidfurlong thx for making the first step!

i am on hold atm, will use the package soon.

Scoped packages should work without lerna. What is the error that you are getting?

[2019-04-17 08:24] davidfurlong commented on #662
well it seemed to be resolving `@react-pages/core/lib/content` to "in package "@react-pages" find file path "core/lib/content" within it rather than "@react-pages/core" package "lib/content" path within it. I'm still familiarising myself with lerna so I don't know whether this is a lerna feature or to do with the typescript resolver. I know we can probably alias typescript imports to fix this beha

[2019-04-17 08:27] macrozone commented on #662
@davidfurlong maybe this helps: https://github.com/Microsoft/TypeScript/issues/27126 ?

[2019-04-20 07:29] isvaljek opened #669 "Access App store from plugins"
How can I access the parent App's store from the Ory Editor's plugins?
I see there's the store property on EditorProps, and I tried to make my store like this
createStore<IAppState & RootState> but the store I guess was not properly initialized for Ory:<br>
`
    TypeError: Cannot read property 'display' of undefined
    ./node_modules/ory-editor-core/lib/selector/display/index.js.exports.isEditMo

[2019-04-20 17:07] isvaljek commented on #669
Needed to use connect() from react-redux, and add oryReducer to rootReducer.

[2019-04-20 17:36] #669 closed

[2019-04-21 07:51] isvaljek commented on #650
Will there be an update? Is it viable to use this git repo as an external dependency using npm-link? Or is there a better way to stay up to date with this lib?

[2019-04-22 11:32] davidfurlong commented on #662
It seems module resolution is already set to node in https://github.com/aeneasr/ory-editor/blob/master/packages/tsconfig.settings.json

[2019-04-23 12:59] davidfurlong commented on #666
I expect any future changes will either include a migration script or be backwards compatible. Any backwards incompatible changes to official plugins will likely involve either a new plugin name (so that they are backwards compatible, you just need to include both the new and old plugin) or similarly have migration functions

[2019-04-23 13:01] davidfurlong opened #671 "Parallax background is gray on mobile safari (iOS) instead of including the image"
Hard to debug as it doesn't occur on web safari (or with mobile view size debugging mode active)

[2019-04-23 13:02] davidfurlong commented on #671
Was able to use the IOs simulator to detect the problem:
It's the `background-attachment: fixed`. Apparently it costs much for mobile browsers to render them and it harms a lot scrolling performance, so it was disabled by Apple on safari on IOs.
Looking for a solution to disable the fixed image effect, just on IOs.

[2019-04-24 02:05] haitranterralogic commented on #656
You can try on node version 8. It working for me.

[2019-04-26 11:24] agustin107 commented on #662
Finally this repo didn't move. Just was forked :/

[2019-04-29 14:01] fernandobandeira commented on #662
I've released a version of my fork since I needed the video fixes, but I'll remove it after react-pages-community is properly setup.

@davidfurlong feel free to invite me and @DouglasGabr if you need help setting up it...

[2019-04-29 15:02] aeneasr commented on #662
Hey! Sorry for my absence - I'd be moving it now! Even though `react-pages-community` has already been established, how about using the singular `react-page` instead? It's free (well actually I've registered it already :) )

[2019-04-29 15:03] aeneasr commented on #662
https://github.com/react-page

[2019-04-29 15:36] fernandobandeira commented on #662
@aeneasr sure, agreed, and the name is great too.

[2019-04-29 16:15] aeneasr commented on #662
It's done - I've invited @davidfurlong and @fernandobandeira to it as collaborators with write permission. I will be available and responsive to all maintainers via discord ( https://www.ory.sh/chat ) via PN :)

We can discuss access to the npm org react-page there as well :)

[2019-04-29 16:17] aeneasr commented on #662
If anyone else wants write permission let me know in this issue - it will obviously need approval of all maintainers :)

[2019-04-29 17:24] fernandobandeira commented on #662
@aeneasr I think we just need to give permission to travis to build the repo, apart from that we should be good to go.

[2019-04-29 19:59] agustin107 commented on #662
I wanna be part as a collaborator if they want 👍

[2019-04-30 05:30] aeneasr commented on #662
Great to see that you're interested! I think that it would be important for collaborators to have a footprint in the repository before adding write permissions. I think it is important to the community to show (a) a good understanding of the project by making excellent contributions (b) a commitment with longevity.

I've also added @PeterKottas to the maintainers as he has done an excellent job in

[2019-04-30 05:43] aeneasr commented on #662
Ok so I've set up a new npm account with access to `@react-page`. Travis CI is also set up (with that account) so new release *should* be published properly once all the package.json's are updated! While I'll still be monitoring this issue, I think we can close it now :)

[2019-04-30 05:43] #662 closed

[2019-04-30 07:57] macrozone commented on #662
hey @aeneasr thank you so much for everything! hope i can also contribute when i can start my next big project which will use react-page heavily

[2019-04-30 09:35] PeterKottas commented on #662
Nice one @aeneasr, we are using ory-editor heavily in our main product now and so far been reasonably happy. There's a bunch of things I want to fix/improve/add in the future though so this will definitely help make this smoother. I'll obviously be happy to further discuss any bigger changes. I can say right away though that I problably won't have much time to look at PRs from other contributors.

[2019-04-30 09:36] aeneasr commented on #662
That's great to hear and totally acceptable with not being a full-time reviewer. I think it would be great to have your brains behind this and your participation in discussions about future architectures and so on. Cool to have you on board, you have significantly improved the project already! :)

[2019-04-30 10:16] PeterKottas commented on #662
Thanks, man. As they say, I've stood on the shoulders of giants ;) I'll be sure to read up if there are any major PRs coming in.

[2019-04-30 13:53] agustin107 commented on #664
The problem is 'parallax-background' plugin, if you remove it will work or change for 'background' plugin.

[2019-05-02 11:47] davidfurlong commented on #662
It seems we/I can't label issues/ triage them with my current access level. I'd like to respond to and organize things so that put the effort to contribute feedback/bugs/PRs get a response and that we organize issues

[2019-05-02 11:48] davidfurlong commented on #625
Yep seems like a bug, I've experienced this one before as well

[2019-05-02 11:50] davidfurlong commented on #665
PRs are welcome, but I don't think its a part of the short term roadmap/priorities

[2019-05-02 11:54] davidfurlong commented on #649
Thanks for contributing your detailed report. I don't think there is a "I guest that the automatic saving feature" and we are happy to accept PRs to fix this issue. It looks a lot like a common React pattern issue where cursor positions are lost on controlled inputs.

[2019-05-02 12:20] aeneasr commented on #662
That is because you haven't accepted the invite yet.

[2019-05-23 06:56] davidfurlong commented on #662
Ah yes it seems github sends an email (which got lost) and has no on site notification/UI on repo for this flow... thanks I got it now

[2019-05-23 06:57] #666 closed

[2019-05-23 06:58] #656 closed

[2019-05-23 06:58] #650 closed

[2019-05-23 06:59] davidfurlong commented on #650
I will look to publish a new version soon

[2019-05-23 07:01] davidfurlong commented on #623
closing due to no reproduction ability/old

[2019-05-23 07:01] #623 closed

[2019-05-23 07:02] davidfurlong commented on #622
Yes - but certain use cases want end uses to control the theme/design.

I think a better change may be making the background plugin a 'container' plugin and then allowing padding/background/parallax as options on it

[2019-05-23 07:03] #615 closed

[2019-05-23 07:04] #599 closed

[2019-05-23 07:06] #576 closed

[2019-05-23 07:08] #573 closed

[2019-05-23 07:08] #568 closed

[2019-05-23 07:09] #561 closed

[2019-05-23 07:10] #555 closed

[2019-05-23 07:11] #536 closed

[2019-05-23 07:11] #538 closed

[2019-05-23 07:12] davidfurlong commented on #512
Duplicate

[2019-05-23 07:12] #512 closed

[2019-05-23 07:12] #540 closed

[2019-05-23 07:13] #592 closed

[2019-05-23 07:14] #571 closed

[2019-05-23 07:14] #558 closed

[2019-05-23 07:15] davidfurlong commented on #558
sorry can't help out

[2019-05-23 07:15] #543 closed

[2019-05-23 07:17] davidfurlong commented on #636
I think thats how peer dependencies work, please read up about them. Sorry we don't have the capacity to address this

[2019-05-23 07:17] #636 closed

[2019-05-23 07:18] davidfurlong commented on #508
Also dofollow/nofollow may be relevant for links

[2019-05-23 07:19] #497 closed

[2019-05-23 07:20] #494 closed

[2019-05-23 07:20] #492 closed

[2019-05-23 07:21] davidfurlong commented on #491
this has been solved, you can now pass your own redux store to ory

[2019-05-23 07:21] #491 closed

[2019-05-23 07:22] #489 closed

[2019-05-23 07:23] #488 closed

[2019-05-23 07:27] aeneasr commented on #662
Great! You’re cleaning out the repo - good. But please provide a reason for closing issues so its transparent to everyone!

[2019-05-23 11:48] davidfurlong commented on #607
Where are you seeing this?

[code]

isLayoutMode is a selector function, which when connected to a react component via `createStructuredSelection` binds in a prop called `isLayoutMode` which is a boolean

[2019-05-23 11:50] davidfurlong commented on #607
perhaps to reduce confusion these functions should be called `getIsLayoutMode` `getIsEditMode`...

[2019-05-23 11:54] #607 closed

[2019-05-23 11:56] davidfurlong opened #674 "Fix travis"

[2019-05-23 11:56] davidfurlong opened #675 "Publish new version to npm (w/ new package name?)"

[2019-05-23 12:17] #664 closed

[2019-05-23 12:17] davidfurlong commented on #664
parallax bg plugin is deprecated, thanks @agustin107 for providing the solution

[2019-05-23 12:40] davidfurlong opened #677 "UX limitation adding column across rows"
It's currently not easy to add a column to multiple rows currently.
If you try to drag + drop it won't let you do this, but will let you add a column that spans one row.
I see why this is the way it is, and there aren't many easy solutions

Creating this issue to mark it as a known UX limitation

[2019-05-23 19:13] #448 closed

[2019-05-23 19:13] #458 closed

[2019-05-23 19:13] #410 closed

[2019-05-23 19:17] #389 closed

[2019-05-23 19:18] #414 closed

[2019-05-23 19:19] #308 closed

[2019-05-23 19:19] #310 closed

[2019-05-23 19:19] aeneasr commented on #662
cc @davidfurlong

[2019-05-23 19:19] #344 closed

[2019-05-23 19:20] #341 closed

[2019-05-23 19:21] #391 closed

[2019-05-23 19:32] davidfurlong opened #678 "Can we remove DCO?"

[2019-05-24 06:56] davidfurlong commented on #400
closing as an answered old question and no longer actionable

[2019-05-24 06:56] #400 closed

[2019-05-24 06:58] davidfurlong commented on #92
that project is dead

[2019-05-24 06:58] #92 closed

[2019-05-24 06:59] #175 closed

[2019-05-24 06:59] #126 closed

[2019-05-24 06:59] #125 closed

[2019-05-24 07:00] #156 closed

[2019-05-24 07:02] davidfurlong commented on #662
will do for non-obvious closed issues. But for instance the flowtype ones that are internal facing are fairly clear without explanation I think

[2019-05-24 14:06] agustin107 opened #680 "Change readme logo"
Because this could make confusion with new users.

[2019-05-24 15:21] #618 closed

[2019-05-26 22:37] jairusd opened #682 "TypeError: styles_1.createGenerateClassName is not a function"
getting error: `TypeError: styles_1.createGenerateClassName is not a function`

`ory-editor-ui/lib/ThemeProvider/index.js`
[code]

[code]

[2019-05-28 08:20] davidfurlong commented on #680
In general we should do a global name replace of ory-editor with react-page

[2019-05-28 14:02] #675 closed

[2019-05-28 16:49] fernandobandeira commented on #674
@davidfurlong  Travis seems fine for prs and master pushes but we have to fix the deployments now

[2019-06-03 14:19] andreastoermer opened #684 "Version 0.7 by npm"
Hi,

I see, that you publish Version 0.7.0 and 0.7.1, but on npm I can only find the 0.6 version. Did you rename the package on npm too, and if yes, which is the new name?

[2019-06-03 15:21] agustin107 commented on #684
Hi, at the moment the new version with the new name isn't published.
I think this will available soon.
What is the status of this @davidfurlong ?

[2019-06-03 16:00] agustin107 opened #685 "Change reducer name"

[2019-06-03 16:59] andreastoermer commented on #682
This error happens in connection with material 4.x

Revert to 3.x and you can work again. I've got the same problem, before i revert my material version.

[2019-06-04 07:38] davidfurlong commented on #684
@fernandobandeira ?

[2019-06-04 07:39] #674 closed

[2019-06-04 16:04] #685 closed

[2019-06-04 18:07] fernandobandeira commented on #684
I've fixed the deployment process, version v0.7.6 is on npm now, will update the readme with the new package names.

[2019-06-04 18:47] fernandobandeira commented on #684
@andreastoermer @agustin107 @davidfurlong

Migration instructions with the new package names are available here:
https://github.com/react-page/react-page/blob/master/UPGRADE.md

I'll close this and we can keep track of the readme changes with task #680, this way new users will be using the newer packages.

[2019-06-04 18:47] #684 closed

[2019-06-04 19:10] fernandobandeira opened #687 "Update the examples and installation instructions"
We should update everything to the new library names, this way new users will be installing the new updated packages.

However, if we're updating the readme, we should mention at the top that this package used to be called ory-editor, giving an explanation that the name of the project as well as the maintainers were changed in case an existing user comes back to this repo looking for the ory-edito

[2019-06-04 19:17] fernandobandeira commented on #675
Packages are published https://github.com/react-page/react-page/issues/684#issuecomment-498795371

[2019-06-05 00:18] agustin107 opened #688 "Add issue and PR github template"

[2019-06-05 02:13] #688 closed

[2019-06-05 13:50] agustin107 commented on #682
Seem it was resolved.
If this didn't resolve, you can open a new issue with more information (`node version, package manager, etc.`).

Please close this issue @fernandobandeira @davidfurlong

[2019-06-07 22:35] #682 closed

[2019-06-07 22:35] fernandobandeira commented on #682
@jairusd ping me if you're able to reproduce this with material 3.x

[2019-06-30 14:34] KemarDarlington opened #690 "How to customize `react-page/plugin-slate`"
I am trying to do

[code]

And I get

[code]
In web console.

What is the way to add a community slate plugin into react-page/plugin-slate?

[2019-06-30 15:56] alastairzotos commented on #687
Yes please. I'm having trouble making it work. It's throwing an error "createGenerateClassName is not a function'

[2019-07-02 17:55] #690 closed

[2019-07-06 01:21] amerryma opened #691 "Layouts cannot easily pass props down to their children"
**Is your feature request related to a problem? Please describe.**
I have a layout that allows you to add components inside it. I want the layout to act different depending on the components added, meaning the layout needs to know what components are underneath it.

**Describe the solution you'd like**
The layout plugin has the ability to either pass props down to each child component (1 level of

[2019-07-10 19:10] santoshgistto opened #692 "Cannot find module '@react-page/core'.ts"
**Describe the bug**
Cannot find module '@react-page/core'.ts

<img width="1440" alt="Screenshot 2019-07-11 at 12 38 32 AM" src="https://user-images.githubusercontent.com/12577046/60997426-68b90300-a374-11e9-955d-6a46177a9187.png">

[2019-07-12 19:43] kirillDanshin commented on #341
<img width="325" alt="Снимок экрана 2019-07-12 в 10 42 06 ПП" src="https://user-images.githubusercontent.com/9026581/61154262-5070f180-a4f6-11e9-859c-a5bbcd2a2618.png">

actually, it still broken on 320px

[2019-07-18 19:23] andreastoermer opened #693 "Not working with material ui 4"
**Describe the bug**
getting error: TypeError: styles_1.createGenerateClassName is not a function

ory-editor-ui/lib/ThemeProvider/index.js

  72 | var index_1 = __importDefault(require("./DarkTheme/index"));
  73 |
  74 | exports.darkTheme = index_1.default;

  76 |   productionPrefix: 'ory'
  77 | });
  78 | exports.themeOptions = {
import React from 'react'
import Editor, { Editable, createEmpt

[2019-07-19 14:56] macrozone commented on #692
@santoshgistto how did you install react-pages? can you show us your package.json?

[2019-07-19 14:57] macrozone commented on #687
started it here: https://github.com/react-page/react-page/pull/694

[2019-07-19 14:57] macrozone commented on #680
see https://github.com/react-page/react-page/pull/694

[2019-07-19 14:59] macrozone commented on #665
@xeptore  https://github.com/react-page/react-page/pull/695 allow to customize the slate plugins and you could create custom plugins that render the attribute `dir="rtl"` to the html elements

[2019-07-19 15:01] macrozone commented on #589
@An0nymous0 shoudl probably be possible with custom slate plugins, watch this PR: https://github.com/react-page/react-page/pull/695

[2019-07-20 15:19] macrozone opened #696 "community chat?"
might be nice to have a spectrum or slack channel for this project! what do you guys think? should i open a spectrum?

[2019-07-20 16:31] macrozone commented on #580
i have now the same problem: i have an admin page that allows editing content and a frontend page that should only show the content using the HTMLRenderer.

Because the plugins pull in material-ui, i need to install that and it will even be bundled.

@PeterKottas how did you proceed after this discussion here? did you find any good solution?

[2019-07-21 00:13] PeterKottas commented on #580
Hey man, it was indeed merged in. Check out https://github.com/react-page/react-page/pull/634 . All plugins except for slate expose createPlugin function. It's not well documented but it's pretty powerful. I didn't have time to finish slate though. Would be great if you could look into it. I can give you some guidance. It's pretty straight forward. It just requires some high-level API thinking. Th

[2019-07-21 09:32] santoshgistto commented on #692
@macrozone here is the dependencies
`  "dependencies": {
    "@material-ui/core": "^3.9.2",
    "@material-ui/icons": "^3.0.2",
    "ory-editor": "^0.6.0",
    "ory-editor-plugins-image": "^0.6.0",
    "react": "^16.8.4",
    "react-dom": "^16.8.4",
    "react-jss": "^8.6.1",
    "react-scripts": "2.1.8",
    "react-tap-event-plugin": "^3.0.3"
  },`

[2019-07-21 09:35] macrozone commented on #580
@PeterKottas thx for the info.

null-loader is a cool trick, thx for that!

My current plan is to integrate react-page in a nextjs app, on some pages it should just render, on others it should be editable. So null-loader would not work, because i would need the ui at some point ;-)

for my use case the most easy way would probably dynamic import (`await import("module")`), but i am not sure if tha

[2019-07-21 09:40] macrozone commented on #580
speaking about slate, i made some modifications there as well: https://github.com/react-page/react-page/pull/695, can you take a look?

[2019-07-21 09:41] macrozone commented on #692
@santoshgistto ory-editor was renamed to  react-page, so you have to reinstall:

[code]

[2019-07-21 09:55] PeterKottas commented on #580
What you're describing sounds like it could be solvable quite nicely with https://www.smooth-code.com/open-source/loadable-components/docs/getting-started/ .
You will need to be a little careful when doing so to separate all imports of said modules into separate reusable component. If you forget as little as one, e.g.
[code]
The junks won't work as expected. I am just saying cause it happened to m

[2019-07-22 15:55] fernandobandeira commented on #680
Closing this in favor of #687

We've removed the logo for now and made some changes to the readme already

[2019-07-22 15:55] #680 closed

[2019-07-22 15:57] fernandobandeira commented on #687
Unfortunately we've had to remove the logo that @tebriz159 did, we can replace it with a new one in the future.

Readme is looking better now, we still have to update our examples and docs but it's a great starting point

[2019-07-22 15:59] fernandobandeira commented on #696
Yeah, feel free to open a spectrum, I think that it works better for big communities like this, we can interact with the community there.

[2019-07-30 12:20] andreastoermer commented on #696
Because there is no reaction since 10 days, i started a slack channel.

The URL to join it is https://join.slack.com/t/reactpage/shared_invite/enQtNzA5ODAyMzk0ODg0LWIxZDNiOWUyMWJlZmE5NWQzY2M1ZjQ2YTkxZmFmMmM2MDdkZDE1MzliMTEyYzkyMTJkYTNiNzdmMWNiMzlmODU

 @fernandobandeira When you are only, contact me and i can give you admin access

[2019-07-30 12:56] macrozone commented on #696
sorry, wasnt sure about it ;-)

i joined!

[2019-07-31 15:05] Fivedark commented on #693
I can confirm this issue. We are not able to use the editor in our MaterialUI 4 based project.

[2019-07-31 15:17] andreastoermer commented on #693
I tried to update it inside a fork of react-page, but only updating and fixed some deprecations did not work. It's more to do, than it sounds in the beginning.

[2019-07-31 15:30] 7yp0 commented on #693
I have the same problem here :(

[2019-08-01 15:19] Fivedark commented on #693
I got it to work with MaterialUI 4.

It was necessary to update also React to ^16.8 (required by MUI) and fix the breaking changes. A little bit tricky was the required linking of React and React-Dom in the package.json of examples. Otherwise you get an "Invalid Hook Call Warning" because of different React instances between the lib and the examples.

You can few my changes here: https://github.co

[2019-08-01 15:37] andreastoermer commented on #693
cool, you are my hero :D please make a pr, and @fernandobandeira please look over it

[2019-08-07 11:44] macrozone opened #698 "lazy loading to reduce bundle size"
this is an alternative approach to https://github.com/react-page/react-page/issues/580, at least when it comes to bundle size.

I think it's good to have a default UI for the editor. Material-UI is solid for that.

The Problem at the moment is, is that if you want to use react-page also to display the content statically (without editing functionality), it still bundles material-ui, controls, etc.

[2019-08-07 12:37] macrozone commented on #698
ok, its even easier now!

- as written above, compile to target: es6 into folder lib-es
- add this to package.json: ` "module": "./lib-es/index.js",`

bam. works in webpack out-of-the-box, no https://github.com/martpie/next-transpile-modules, needed, no additional config. You get support for code-splitting out-of-the-box

I need to do additional tests, but i would push a pr that just adds this add

[2019-08-09 09:26] macrozone commented on #678
we should also think about the copyright header in every file.

Of course the original copyright and licence still applies, but its probably better to handle that in LICENCE.md or so, because this header licences are a) not really required b) hard to manage (do i have to add my name if i change a source? what if i copy a file? move a file?, etc.) and c) noisy.

Maybe @aeneasr @ory need to specify

[2019-08-09 09:28] aeneasr commented on #678
Yeah we can remove the license headers. I don't think they're maintained very well anyways.

I would not remove the DCO because if it is removed, we could not switch to MIT without asking every single contributor for permission. I'm fine with MIT or Apache 2.0

[2019-08-09 09:30] macrozone commented on #678
ok, i think you know better about these topics. But i think the DCO is not checked right? Or is this just a silent agreement?

[2019-08-09 09:38] aeneasr commented on #678
Seems like the DCO bot does not work anymore so you are correct, it is currently not enforced.

[2019-08-09 10:51] macrozone opened #703 "remove either package-lock.json or yarn.lock"
we should decide on which we use, some package have both in it which can lead to problems.

[2019-08-09 12:22] davidfurlong commented on #662
Unfortunately my team pivoted our product resulting in us no longer using ory-editor. I haven't been active on this project since this pivot, and therefore ask to lose all maintainer access. Best wishes to the project, and my apologies for this change

[2019-08-09 12:24] macrozone commented on #662
@davidfurlong  sad to hear that. May i asked what you use instead?

I would like to get maintainer access and would also like to publish to npm if that is possible.

Who else is maintainer on the project (npm and git) ?

[2019-08-09 12:29] aeneasr commented on #662
Thank you for your contributions so far @davidfurlong :)

@macrozone thank you for requesting to become a maintainer! Other maintainers are @PeterKottas and @fernandobandeira . Seeing that you've made a bunch of PRs I'd have no problem with adding you to the maintainerlist. However, I'd like to get at least one +1 from those two.

NPM is fully automated, so you only need access to git.

[2019-08-09 12:43] macrozone commented on #662
@aeneasr thx! speaking about npm, is it possible to release pre-releases (with @next tag or @beta tag) ?

I would like to let users test my bigger pull request which lazy loads/code splits controls to reduce bundle size, but i don't know how it behaves in different environments and would be cool to get feedback

[2019-08-09 12:44] aeneasr commented on #662
Yes, the npm release simply uses the git tag

[2019-08-09 12:49] macrozone commented on #696
i close this as we have now a chat. I added a PR that adds a link to the readme

[2019-08-09 12:49] #696 closed

[2019-08-09 12:49] macrozone commented on #692
@santoshgistto is this solved for you?

[2019-08-09 13:50] davidfurlong commented on #662
@macrozone We're building a structured system which has different blocks which each take the entire width of the page and can be stacked on top of each other. Each block can have a certain type and the types are built around a purpose (like an image grid, title section, downloads section, ...) with an opinionated design.

[2019-08-09 14:19] macrozone opened #705 "upgrade react-dnd and redux"
still depends on    redux "^3.6.0" on   react-dnd "^2.4.0",
we should consider to upgrade to latest versions

[2019-08-09 14:38] andreastoermer commented on #703
in my opinion we should move completely to yarn

[2019-08-09 15:49] fernandobandeira commented on #662
Sure, it'd be great to have your help @macrozone, our team is still using the editor and will be relying more on it from now on so I'll be assigning some of our engineers to help maintain the project, the idea is to keep the project as generic as possible in a way that anyone can extend with plugins and it's own UI (even though we provide plugins and an UI by default for quick setup), I think this

[2019-08-10 08:43] aeneasr commented on #662
@macrozone write access is all yours :)

[2019-08-10 12:50] macrozone commented on #662
@aeneasr thanks for your trust!

[2019-08-10 12:54] macrozone commented on #698
with my open PRs i managed to reduce the bundle size in my nextjs app from
394kb (gzip), 1.3MB (plain) to  205kb (gzip) / 762kb (plain) in the page bundle! This is nearly 50% (!), without losing any functionallity or changing the api of react-page!

[2019-08-11 11:18] aeneasr commented on #662
Thank you for your existing and future contributions :)

[2019-08-11 12:27] PeterKottas commented on #662
Just picking up on my "correspondence", sorry yo see you go @davidfurlong but at the same time, welcome @macrozone . Looking forward to seeing more of your work land in this great project.

[2019-08-14 08:13] macrozone commented on #693
i would like to merge https://github.com/react-page/react-page/pull/701 as soon as the pipeline suceeds and release as 0.8.0 as this is a breaking change.

i will also start  a 0.9.0-beta with my changes to the module system which enables lazy loading

[2019-08-14 14:11] #703 closed

[2019-08-14 14:35] santoshgistto commented on #692
@macrozone  sorry for late response
Not yet tried, i will try and update you
seems react-sample needs to update https://ory.gitbooks.io/editor/content/tutorials.html#reactjs-example

[2019-08-15 10:09] andreastoermer commented on #698
hmm ... the problem with 0.8.0 is, that i cannot use react-page anymore :(

I have a meteor appliction in the backend which don't use webpack or some bundler, so this feature don't work there and now i get error messages :(

[2019-08-15 10:20] macrozone commented on #698
@andreastoermer

Will check with meteor. It should work, maybe without code-splitting out of the box. What is the error message?

Also i did not test the release yet, i had some problem on travis, so i hope i did not mess ir up

[2019-08-15 10:23] andreastoermer commented on #698
Uncaught Error: Cannot find module './xhr-sync-worker.js'

it happen in node_modules/jsdom/lib/jsdom/living/xmlhttprequest.js
const syncWorkerFile = require.resolve ? require.resolve("./xhr-sync-worker.js") : null;

[2019-08-15 10:30] macrozone commented on #698
I guess the error is on the client?

[2019-08-15 10:31] andreastoermer commented on #698
yes it's a client only error, this application don't use server side rendering

[2019-08-15 10:42] andreastoermer commented on #698
the difference seems to be, that now it required jsdom (which was not used before) and there seems to be some problem with it in meteor.

[2019-08-15 11:34] macrozone commented on #698
@andreastoermer correct. this library uses a dom-parser to

a) allow to paste html into the editor and parsing it (browser only)
b) to be able to deserialize content that contains html (browser and server on ssr)

all current browser have a dom-parser built-in, but on node, you need a library for that. This project used parse5, but that was not officially supported by slate. Also it was included o

[2019-08-15 12:22] macrozone opened #708 "version 0.8.0 not working with meteor"
continuation from https://github.com/react-page/react-page/issues/698#issuecomment-521611358

there seems to be a solution for that:

https://github.com/meteor/meteor/issues/6890

[2019-08-15 12:22] macrozone commented on #698
i track it here https://github.com/react-page/react-page/issues/708

[2019-08-15 12:22] #698 closed

[2019-08-15 12:47] andreastoermer commented on #708
I tried to fix it with adding the browser information directly in the package.json of the application, but it doesn't help

`{
    "name": "test",
    "private": true,
    "scripts": {
        "start:local": "cross-env NODE_OPTIONS=--max_old_space_size=8192 MONGO_URL=mongodb://localhost:32152/mugiwara API_TYPE=local meteor --port 3000",
        "test": "meteor test --once --driver-package meteorte

[2019-08-15 15:13] macrozone opened #709 "chore: can't release pre-release"
i am not sure if i do the release right. I tag the repo with a version number and travis will create a release. so far so good.

but travis seems to error when trying to modify the package.json of the meta package: https://travis-ci.org/react-page/react-page/builds/572334911

it seems this line in travis-deploy.sh:

`cat ./packages/meta/package.json | sed s/0.0.0/$(git describe --tag)/g  > ./packa

[2019-08-15 15:32] macrozone commented on #709
weird, running it a second time seems to solve the problem...

[2019-08-15 15:44] andreastoermer commented on #708
First view on 0.8.1-alpha.0:
Everything works in my meteor application :)

You are my hero :D

[2019-08-15 15:51] macrozone commented on #708
@andreastoermer can you try version 0.8.1 ?

this should work in meteor, altough code splitting does not work out-of-the-box. While meteor supports code-splitting, it wont fetch the `module` entry point in the package.json, but the already transpiled `main` entry point. For backwards compatiblity, this still points to a es5 bundle where all `import()` functions are changed to `require()`. So meteo

[2019-08-15 15:53] #708 closed

[2019-08-19 13:22] macrozone opened #713 "update slate"
**Is your feature request related to a problem? Please describe.**

i sometimes get an error in slate, which seems to be fixed in most recent versions (have to look up the issue)

**Describe the solution you'd like**

update slate to the latest version

**Describe alternatives you've considered**

none

**Additional context**

This is breaking and needs some work. In particular in our slate plugin

[2019-08-19 13:29] macrozone commented on #216
i added some docs about slate plugins. I plan to do more refactorings there so i close this issue

[2019-08-19 13:29] #216 closed

[2019-08-19 13:35] macrozone commented on #471
hi @Knorrke, might be late, but this should work now properly.

Now the serializer / deserializer takes the passed plugins. Before, it only used the defaultPlugins. This was solved in this PR: https://github.com/react-page/react-page/pull/695

reopen, if you have any questions

[2019-08-19 13:35] #471 closed

[2019-08-19 13:36] macrozone commented on #498
@fernandobandeira can you check if that is still the case?

[2019-08-19 13:37] macrozone commented on #562
@PeterKottas would also love to have this feature. Did you have any success implementing it?

[2019-08-19 13:45] macrozone commented on #580
now controls are lazy-loaded. Material-ui still needs to be installed, but most of it is not bundled when you only use the editor in read-only mode (or with htmlrenderer).

react-native support is still a long way though. A react-native-renderer (without editing) would be a first step, but its probably best to write that from scratch and you would need to tell it how to render every plugin.

[2019-08-19 13:53] macrozone commented on #600
@nolandg  can you try the latest version?

I would currently advice to use `HTMLRenderer` on pages that you SSR and have separate components (with Editable, Toolbar, etc.) for editors on other pages that you don't SSR. You can share the same plugins in both components.

E.g. in my app we use nextjs and  `react-admin` where we have a custom FieldType that uses react-page:

[code]

and on  "frontend

[2019-08-19 16:07] macrozone opened #714 "createInitialChildren in layout plugins breaks with some plugins"
**Describe the bug**

Given a layout plugin which has `createInitialChildren`:

[code]

If you add this layout plugin, it will break with this error:

`content.plugin.serialize is not a function`

The error occurs in `PluginService` class:

`content.plugin.serialize(content.state)`

The Problem here is, that normally, all plugins get wrapped with `new ContentPlugin(pluginConfig)` (or new LayoutPlu

[2019-08-19 16:13] macrozone commented on #714
as a workaround i will expose `ContentPlugin` and `LayoutPlugin` so that you can wrap the plugins in `createInitialChildren`

[2019-08-19 17:49] PeterKottas commented on #698
Looks good! Just a side note though, while this is definitely a great contribution and much-appreciated improvement, it doesn't replace #580 completely (not that it says it does). While with #580 the main focus was to allow controls and renderers to be replaceable (adding a nice side effect of making the bundle smaller), this pr is mainly focused on making the bundle smaller (by using lazy loading

[2019-08-19 18:00] PeterKottas commented on #580
Yep @macrozone all of this makes perfect sense, that being said, if somebody reads this, please check https://github.com/react-page/react-page/issues/698#issuecomment-522684278 for more details.

[2019-08-19 18:06] PeterKottas commented on #562
Sorry buddy, not just yet. Focusing on making money instead of making the product better at the moment (unfortunately not the same thing :) ) I am pretty sure at some point, I'll revisit some of these issues I left open here. In terms of this specific problem, as aeneasr mentioned, this is relatively straight forward, you would just need to hook into the redux action that triggers once a plugin is

[2019-08-19 18:44] macrozone opened #715 "add documentation about Server side rendering"
SSR works good now, but i found a little caveat: slate uses a keygenerator which might lead to missmatch in server and client. The problem and solution is described here: https://github.com/ianstormtaylor/slate/issues/870#issuecomment-411052223

With recent react you can do also this:

[code]

and then you can use it right before HTMLRenderer:

[code]

We need a section in the docs that describe t

[2019-08-19 18:56] macrozone commented on #698
exactly,

I currently create plugins my project where i am using react-page and will add more improvements there as well

[2019-08-23 18:31] #693 closed

[2019-08-23 19:04] #713 closed

[2019-08-28 15:05] macrozone opened #719 "improve lerna setup"
It seems the current lerna setup is not very ideal:

- it is very slow to build
- it does not support semantic releases
- it does not support prereleases properly
- deployments sometimes fail
- locally it can go out of memory
- it is often not very deterministic, sometimes it works, sometimes not

I would be very glad if someone with good lerna experience could revisit and improve the whole setup

[2019-08-28 15:43] macrozone commented on #719
ok, i can try that.

[2019-08-28 22:30] macrozone opened #720 "firefox: weird cursor jumping with newest slate"
see https://github.com/react-page/react-page/pull/716#issuecomment-525826182

[2019-08-28 22:32] macrozone commented on #720
well, that seems this regression: https://github.com/ianstormtaylor/slate/issues/2978

[2019-08-28 22:35] macrozone commented on #720
@Fivedark I try to downgrade as mentioned in the issue above and will push an update soon

[2019-08-28 23:04] macrozone commented on #720
@Fivedark version 0.10.0-beta.2 should solve it (should be released soon)

[2019-08-29 08:47] Fivedark commented on #720
Thank you for the fixing it so fast.

[2019-08-29 08:48] #720 closed

[2019-08-29 10:02] Fivedark opened #721 "Wrapping the slate plugin"
**Is your feature request related to a problem? Please describe.**
I have created some plugins based on the slate plugin but wrapped in a component. An example for such a component could be an existing headline compontent with a property for different themes like "Title", "Sub", "Minor", ... you name it.
Slate will get the global styling from this parent component, but also allow to use the hover

[2019-08-29 11:12] macrozone commented on #721
I don't 100% understand the question. The goal is to switch a "theme" on the whole slate area or just on a component?

that sound more like just using three heading types (level 1, 2 and 3) or so (?)

If you just want to have one Toolbar button, but want to display a dialog where you can customize the component (e.g. with a select-field that choses the "theme"), you can do it like in the example:

[2019-08-29 11:19] macrozone commented on #721
If you want to have different slate plugins, e.g. one with only heading and a paragraph, others with links, all headings, lists, etc. then you can just use the slate plugin with different configurations:

[code]

make the slate plugin itself configurable for the user is not yet so easy, but we could also change the api a bit so that it's easier to customize e.g. with a schema-based form

[2019-08-29 11:54] Fivedark commented on #721
Sorry, that I haven't been clear enough. I will try again:
We have a whole set of react components to build our page, like heading, text, button, accordion ... Each of this components has a list of properties to change the styling and behavior.
Now we want to use react-page to build a landingpage configurator, to allow our marketing team to build special pages via drag-an-drop while using our set

[2019-08-29 13:47] macrozone commented on #721
you could make layoutPlugins that have one slate element inside:

[code]

[2019-08-29 13:52] macrozone commented on #721
or you could send in a pr, what would allow this api:

[code]

that would be more similar to the new plugin factories

[2019-08-29 14:29] macrozone commented on #721
0.10.0-beta.3 should have this new api, see the release log

won't solve it completly, but is a step forward

[2019-08-31 13:38] macrozone commented on #661
@isvaljek can you show an example how that could look like and what settings you want to control with that? If its something that is worth to support directly in react-page, we can think about how to hook it into the editor.

if its something for your app specifically, i would just create another store. In general, i would treat the react-page store as an implementation detail. This makes it easie

[2019-09-03 08:06] macrozone commented on #705
redux is updated, i am unsure about react-dnd though

[2019-09-03 08:09] macrozone commented on #243
Plugin system is a bit improved (but not yet perfect), i'll close that here. Feel free to reopen

[2019-09-03 08:09] #243 closed

[2019-09-03 08:11] macrozone commented on #395
i'll close this for the time beeing. Should be now easier to intregrate custom slate plugins like a html code editor

[2019-09-03 08:11] #395 closed

[2019-09-03 08:13] macrozone commented on #381
With the current version, you should be able to add custom data to headings. So you could show a dialog where you prompt the user to give you an id.

If you still need this @mrtysn and need some help, feel free to reopen or visit us on slack!

[2019-09-03 08:13] #381 closed

[2019-09-03 08:14] macrozone commented on #649
@tranvansang which browser is affected?

[2019-09-03 08:16] macrozone commented on #593
@PeterKottas can we close this? I did not notice yet big performance problem, but i still have small editables. i will observe this

[2019-09-03 08:18] macrozone commented on #590
The new `@react-page/create-plugin-materialui"`package should make it easer to add a component with a custom dialog.

For this usecase i would probably create a layout plugin, where every tab contains a row. But we probably need some api to help creating new tabs.

I'll close this for now. @jauco if you still need help, feel free to reopen!

[2019-09-03 08:18] #590 closed

[2019-09-03 08:22] macrozone commented on #595
Also noticed that and i think that is a good idea. We could also reveal these buttons when a button is pressed, so that it does not distract when not needed. When you are in rearrange-mode, it also shows some hints where the cells are. Something similar could be used in editMode

[2019-09-03 08:23] macrozone commented on #563
is this sill an issue? Can you recheck and reopen if so?

[2019-09-03 08:23] #563 closed

[2019-09-03 08:25] macrozone commented on #508
@AlexanderReiswich  The slate plugin has now an "open in new tab/window" option. And its now very easy to add additional properties. Stuff like dofollow/nofollow should be now very easy to do!

Feel free to send in a Pull request for further improvement or reopen an issue if you need help!

[2019-09-03 08:25] #508 closed

[2019-09-03 08:26] macrozone commented on #418
I'll close this for now, feel free to reopen!

[2019-09-03 08:26] #418 closed

[2019-09-03 08:27] macrozone commented on #357
i think this is already the case?

[2019-09-03 08:27] #357 closed

[2019-09-03 08:28] macrozone commented on #303
not sure if this problem still applies. Reopen if you encounter it!

[2019-09-03 08:28] #303 closed

[2019-09-03 08:35] tranvansang commented on #649
Chrome latest version at the time of submitting the issue, in unbuntu 18.04

[2019-09-04 09:14] Fivedark commented on #721
Wow, thats really cool of you. Thx!

I'm really sorry, but I don't get it. I didn't get this Renderer and my own Controls to work.
Maybe the slate plugin needs a small change? Like this:
[code]

And do you have any idea, how to solve the serialization problem?
Actually I have replace serialize and unserialize directly (see my first post) to also serialize also my other props and not only the slate

[2019-09-04 09:18] macrozone commented on #721
@Fivedark can you show a more complete example? How do you use your `unserialize` and `serialize` functions? And what change do you propose in the slate plugin?

[2019-09-04 09:30] Fivedark commented on #721
I wrapped my changes in *, but this wasn't flashy enought: I add the `setting.` to Renderer and Controls to use them from the settings and not the imported ones.

Like shown in my first post here, I added the following lines to my plugin config:
[code]

[2019-09-04 09:35] macrozone commented on #721
@Fivedark I need a more complete example using the `slate()` plugin. Something like:

[code]

[2019-09-04 10:07] Fivedark commented on #721
@macrozone I'm not sure, how it should look like, I just tried to use the API you added. But I didn't get it to work. So I had a look at your code changes and thought that there is missing something. The Renderer and so <MyWrapper> in your Example is never called, in my opinion.

To make it more clear, here your example, but MyWrapper will not render:
[code]

For serialization, I think, it is mayb

[2019-09-04 11:12] macrozone commented on #721
@Fivedark which version do you use?

[2019-09-04 11:13] macrozone commented on #721
@Fivedark oooooh, sorry, sorry, sorry. There is indeed a bug! wait a moment...

[2019-09-04 15:05] #562 closed

[2019-09-04 22:31] macrozone commented on #721
@Fivedark can you try 0.10.2 or higher? (0.11.0 is latest)

[2019-09-05 12:52] Fivedark commented on #721
@macrozone Thank you! I've tested 0.11.0 and the Renderer is working now, except the properties of my wrapper component. They are lost, because of the (un)serialization methods. Is it possible to extend the methods in the slate plugin like this:

[code]

[2019-09-05 12:57] macrozone commented on #721
@Fivedark can you send in a PR?

[2019-09-05 13:40] Fivedark commented on #721
Sorry, I'm not able to send in a PR at the moment, because I'm not able to install the react-page project on my windows machine anymore.
The problem is the new `find` in the `clean` command in package.json. The windows `find` command use another parameter structure than the linux version, so an error is occured.

[code]

Even on a MINGW64 (linux based console on windows) console crashes the instal

[2019-09-05 15:30] daemon-byte opened #723 "trying to figure out the documentation"
Hi,

It seems a lot of this documentation is out of date and it'd making it difficult to tell if this tool will do what I need it to. What I basically want is to load html into react from an external file, use this tool to edit it, and then post it out to a php script that will write it back into the html file. I thought that perhaps the HTMLRenderer component was the way to go but I can't see to

[2019-09-05 23:58] fernandobandeira opened #724 "0.11.0 broke trigger edit mode"
**Describe the bug**
We can't display the editor as edit mode by default anymore

**To Reproduce**
[code]

Editor will throw the following errors:
[code]

[code]

**Expected behavior**
It should allow us to programatically set the edit mode of the editor, if it's not needed / supported anymore, then it should be listed in the release description as a BC.

[2019-09-06 00:05] fernandobandeira commented on #723
tl;dr this works similar to squarespace and similar website builders, you'll need to build the site basically from scratch using our tools, you can develop a script and parse your html code into our design object but that's something you'll have to do on your own.

This tool renders to HTML, but it's nothing more than a powered wysiwyg editor, it keeps the editor state as an object we call it `des

[2019-09-06 00:05] #723 closed

[2019-09-06 00:15] fernandobandeira commented on #724
Closing for now. will send a fix or reopen with more feedback

[2019-09-06 00:15] #724 closed

[2019-09-06 08:42] macrozone commented on #723
@daemon-byte yeah, the docs needs updates and more examples. The library should work with react 16.9.0 (we use it with that) and what you want is actually possible:

- the editor takes a stateobject, that is basically a json object which defines rows, cells and properties of these cells, e.g. what plugin is in the cell and what data the cell has.
- one plugin is the slate plugin which is a wysiwyg

[2019-09-06 08:44] macrozone commented on #724
@fernandobandeira that is weird, as in the example it still uses `editor.trigger.mode.edit()` :-/

[2019-09-06 08:55] macrozone opened #725 "editor instance should not be used as a singleton / easier ReactPage-Component"
react-page currently wants that your `editor` instance is some kind of singleton and only instantiated once. This makes it awkward to use in some cases and you can't use multiple editors with different plugins.

We should encourage non-singleton use:

- you instantiate `Editor` in a component and pass it to its child Editable and EditorUi
- we could also create a new component that wraps Editable

[2019-09-06 08:59] macrozone commented on #721
@Fivedark you can comment out the `find` calls in package.json, maybe there is even a polyfill for find that works in both windows and linux/unix?

Hab leider lange nicht mehr auf windows entwickelt :-/

[2019-09-11 16:10] Fivedark commented on #721
Sorry for my late response, but I'm working only two days a week on this project.

To create the PR I tried to comment out the `find` calls, but got some other problems. `yarn install` crashed because it couldn't find `@react-page/core` on ui and other packages. Maybe a poblem with symlinks in windows, but how could it work a few weeks ago?

Never mind I setup a docker container to run the project

[2019-09-16 16:33] #687 closed

[2019-09-18 15:03] souzaramon commented on #647
Any updates about this issue?

[2019-09-19 12:50] Fivedark commented on #661
We have simular requirements: We need to add another DisplayModeToggle button to open a toolbar (like insert mode) with inputs for a version name and a comment field and a save button.

How is it possible to add another mode state to toggle this extra button?

[2019-09-26 11:32] owlblinked opened #727 "Custom CSS"
Hello!

What about custom css for page, which we create using builder? Should I create any plugin or how can I create own styles?

[2019-09-26 11:49] macrozone commented on #727
@owlblinked the editor itself uses material-ui, but everything else can be styled however you want.

What exactly do you want to style?

[2019-09-26 12:04] owlblinked commented on #727
I want to add custom css to page, which I build. Or have possibility to choose own color of common background and common font.

For example, I have some field where I can add custom css - anything, which I want to use for page - it can be some common rules for theme or removing all margins. I hope you understand me.

[2019-09-30 22:15] arimus commented on #647
Some guidance as to the correct way to solve this for now would be great. The @react-page/core package specifies:

[code]

However, these newer versions don't play nice with react-tap-event-plugin (support is only through react 16.4.x), but that is required and specifically included in the documentation. So either we should have deps at a lower react version (if that works) or something else needs

[2019-10-01 08:39] macrozone commented on #647
I did not notice any problem with that. Just don't install react-tap-even-plugin. I will remove it from the documentation, its no longer used or supported

[2019-10-01 08:39] #647 closed

[2019-10-04 07:22] Fivedark commented on #661
Is there really no solution to add a new display mode?

[2019-10-04 08:19] macrozone commented on #661
@Fivedark you could just do it outside of react-page

[2019-10-04 08:30] Fivedark commented on #661
Is this the way to go?

ToggleSave-Button:
[code]

[2019-10-06 13:07] macrozone commented on #727
@owlblinked can you give some examples?

which elements do you want to give custom css? blocks like image or only text-stuff (headings, paragraphs, etc.)? Also how do you usually style your elements? using css or something like styled-components?

i am asking this, because there are multiple strategies:

- just wrap everything with a class and create a css that modifies what you want
- use your ow

[2019-10-11 06:11] Fivedark commented on #721
The new Slate Plugin API is working fine! Thanks again.

[2019-10-11 06:11] #721 closed

[2019-10-22 15:45] macrozone opened #729 "can't delete plugins that do not exist"
**Describe the bug**

if you remove a plugin, but you still have some contents that use this plugin, you get a red box saying that it refers to an unknown plugin. Yet you can't remove that plugin.

**Expected behavior**

I think it would be good if:

- you could move it to trash
- have a delete button somewhere on the plugin or the dialog

[2019-10-25 14:31] macrozone opened #734 "add semantic-release"
doing releases is still a lot of manual work, because you have to keep track of changes, in particular breaking changes.

adopting semantic release would make that much more easy. Would also be a good oportunity to switch to version 1.0.0

[2019-11-05 13:38] macrozone opened #738 "deprecate "native plugins" and re-implement?"
While working on the library, i see many extra apis around "native plugins", but personally, i don't understand fully what these do. I guess, it should allow to drag and drop OS-elements like files etc. into the editor.

But in my opinion, this is not worth the extra apis around it. There are a lot of exceptions just for these plugins. Instead, it would be better if every plugin could monitor nati

[2019-11-05 13:38] macrozone commented on #714
this has been fixed , by allowing a easier initial children definition

[2019-11-05 13:38] #714 closed

[2019-11-05 14:04] macrozone commented on #691
@amerryma

i would recommend to use the context api of react, which makes that very easy:

[code]

remember that you can add everything to the context, even functions.

[2019-11-06 10:08] rboixaderg opened #739 "Can't add more than one plugin in layout plugin"
Hi! I am trying to add more than one plugin inside layout plugin, and I can't,
In another project I use the version 0.11.0 and I can add two or three plugin inside background plugin.
In addition, in master branch when i install all dependences, it throw the following error:

`@react-page/plugins-spacer: src/Controls/SpacerDefaultControls.tsx(49,17): error TS2769: No overload matches this call.
@re

[2019-11-06 10:47] macrozone commented on #739
@rboixaderg that is a type error, looks like originating from here https://github.com/react-page/react-page/blob/master/packages/plugins/content/spacer/src/Controls/SpacerDefaultControls.tsx#L49

do you have a different version of material-ui in your app?

also this plugin needs refactoring... will check

[2019-11-06 11:37] macrozone commented on #739
@rboixaderg can you try 0.14.0-beta.12?

[2019-11-06 12:04] rboixaderg commented on #739
Hi @macrozone!
In version 0.14.0-beta.12 material error is solved. Thanks!

So, how can I do to add more than one plugin inside de layout plugin via drag and drop ?
To check editor I use example folder in this repo.  If I use custom layout I can add more plugins but only by code in `createInitialChildren` function, and I can't resize, move or delete them. Editor only allows resize, move or delete

[2019-11-06 12:32] macrozone commented on #739
@rboixaderg I noticed that as well, but did not investigate.

With createInitialChildren you can create a layout plugin that already has the plugins inside that you need, but adding new plugins should work as well. I'll keep you updated

[2019-11-06 13:28] macrozone commented on #739
@rboixaderg ok, i found the bug. Release 0.14.0-beta.13 is baked right now and should be available in 10min to install

[2019-11-06 14:27] rboixaderg commented on #739
Hi @macrozone, thanks!
Now I can add content plugins inside layout plugins.
But you can resize those plugins? I can't resize content plugins inside layout plugin.

[2019-11-06 15:03] macrozone commented on #739
@rboixaderg can confirm, observed the same. I try to debug. I think its not a new bug

[2019-11-06 15:37] macrozone commented on #739
@rboixaderg it looks like an update to react-resizable fixed that. can you try 0.14.0-beta.14 ?

[2019-11-06 15:56] tedtramonte opened #740 "useEffect to fetch data causes error: "Cannot have two HTML5 backends at the same time""
Perhaps I'm doing something incredibly wrong, but when attempting to load my data in the useEffect hook, react-page errors out saying I'm creating multiple Editor classes and that I'm using multiple HTML5 backends. Commenting out the useEffect hook lets the editor run just fine, and providing data manually in the useState hook works too.

Please excuse the messy example, as I've been throwing anyt

[2019-11-06 16:10] macrozone commented on #740
@tedtramonte currently, Editor needs to be a singleton unfortunatly (See issue https://github.com/react-page/react-page/issues/725)

so you have to move

[code]

into global state.

its a bit awkward to deal with the `editables` though.

i have done it this way:

[code]

[2019-11-06 18:43] tedtramonte commented on #740
Thank you so much for the quick response and background info. I see now that my mistake was made when building the editor as a functional component while referencing the class based documentation.

So to be clear, in your above example, you're manually telling the editor to build its array of editables based on the JSON provided?

I think we've decided to move in a direction using one editable per

[2019-11-06 21:51] rboixaderg commented on #739
@macrozone  I have check with last version ( 0.14.0-beta.15) and the behaviour is the same, sometimes the resize works but not always.

[2019-11-06 22:25] macrozone commented on #740
@tedtramonte you're welcome. Yeah, its a part that we should revisit. But is your issue solved now?

[2019-11-06 22:26] macrozone commented on #739
@rboixaderg weird, ok, i will check. Maybe its an upstream issue: https://github.com/STRML/react-resizable

[2019-11-07 08:04] rboixaderg commented on #739
Hi @macrozone I have check diferent versions, like 0.11.0, 0.11.4, 0.12.0 and the last version, it seems that the bug is an old bug.

[2019-11-07 10:01] macrozone commented on #739
@rboixaderg if you want, you can checkout the repository, `yarn install`, then `yarn start` and try to debug it. I would be very glad.  i think its not that hard to find the error

i can look at it at the weekend i think

[2019-11-07 13:30] #740 closed

[2019-11-07 17:14] bhavesh-pandey opened #741 "Exporting to HTML"
Hi,

I need to export the content of editor to HTML format. Is there any inbuilt function to do, if no is there any plugin to do that?

I saw this issue https://github.com/react-page/react-page/issues/507 but the links given in that are giving 404.

Thanks

[2019-11-07 17:33] bhavesh-pandey commented on #741
Or if not, is there any way to convert this serialised JSON to PDF or DOC?

[2019-11-08 09:59] macrozone commented on #741
you can use ReactDomServer to render to a html string:

[code]

[2019-11-12 22:01] amerryma commented on #691
Hi @macrozone

Thanks for the input!

I've played around with this idea and I like how it works. I'm currently attempting to create a hook to accomplish this for more generically.

[2019-11-14 14:34] macrozone commented on #691
@amerryma nice! I close this for now, feel free to reopen or ask questions!

[2019-11-14 14:34] #691 closed

[2019-11-14 14:36] macrozone commented on #595
@PeterKottas in current version, there is a trash icon on the bottom toolbar!

It does note solve your first point, but the second. I close this for now, feel free to reopen!

[2019-11-14 14:36] #595 closed

[2019-11-14 21:49] macrozone opened #745 "New Plugin-Panel layout"
**Is your feature request related to a problem? Please describe.**

The plugin panel currently show layout plugins and content plugins separatly. Content-Plugins just render a component with its controls, while a layout-plugin additionally can contain other plugins.

This is a technical distinction. I currently find myself implementing some teaser-components as layout-plugins, because i want them

[2019-11-15 10:56] macrozone commented on #53
/close due to inactivity

[2019-11-15 10:56] #53 closed

[2019-11-15 10:57] macrozone commented on #64
/close due to inactivity

[2019-11-15 10:57] #64 closed

[2019-11-15 10:57] macrozone commented on #84
/close due to inactivity

[2019-11-15 10:57] #84 closed

[2019-11-15 10:58] macrozone commented on #85
/close due to inactivity

[2019-11-15 10:58] #85 closed

[2019-11-15 10:59] macrozone commented on #93
/close due to inactivity

but i like the idea ;-)

[2019-11-15 10:59] #93 closed

[2019-11-15 10:59] macrozone commented on #143
/close due to inactivity

[2019-11-15 10:59] #143 closed

[2019-11-15 10:59] macrozone commented on #144
/close due to inactivity

[2019-11-15 10:59] #144 closed

[2019-11-15 11:00] macrozone commented on #149
/close due to inactivity

we can revisit this later

[2019-11-15 11:00] #149 closed

[2019-11-15 11:01] macrozone commented on #158
/close due to inactivity

i also did not notice this error at the moment

[2019-11-15 11:01] #158 closed

[2019-11-15 11:01] macrozone commented on #167
/close due to inactivity

[2019-11-15 11:01] #167 closed

[2019-11-15 11:02] macrozone commented on #187
/close due to inactivity

[2019-11-15 11:02] #187 closed

[2019-11-15 11:02] macrozone commented on #221
/close due to inactivity

[2019-11-15 11:02] #221 closed

[2019-11-15 11:03] macrozone commented on #226
/close due to inactivity

[2019-11-15 11:03] #226 closed

[2019-11-15 11:03] macrozone commented on #226
/close due to inactivity

[2019-11-15 11:03] macrozone commented on #205
/close due to inactivity

[2019-11-15 11:03] #205 closed

[2019-11-15 11:04] macrozone commented on #239
/close due to inactivity

[2019-11-15 11:04] #239 closed

[2019-11-15 11:04] macrozone commented on #265
/close due to inactivity

also there is no spoiler plugin anymore ;-)

[2019-11-15 11:04] #265 closed

[2019-11-15 11:05] macrozone commented on #314
would be nice, but problem is: where should you add the plugin?

i close this for now, but we can think of that later

[2019-11-15 11:05] #314 closed

[2019-11-15 11:06] macrozone commented on #311
/close due to inactivity

[2019-11-15 11:06] #311 closed

[2019-11-15 11:09] macrozone commented on #312
**Instead of starting in preview mode, start with edit mode** --> is implemented in 0.15.0

**Improve the drawer drag & drop. Maybe have insert toggles instead (like on squarespace)?** --> would be nice, but i close for now to keep issue count low.

[2019-11-15 11:09] #312 closed

[2019-11-15 11:12] macrozone commented on #325
this is partially fixed in 0.14.0  and 0.15.0:

- createInitialChildren can now return a simple config, where uuid is not needed anymore
- defaultPlugin can now be a layout plugin, so you can have prefilled Editors.

I think there is still a lot of potential here, e.g. we could make it easier to compose plugins out of smaller plugins, so that you can construct complex layouts with just one plugin.

[2019-11-15 11:12] #325 closed

[2019-11-15 11:21] macrozone commented on #326
did not observe this anymore

[2019-11-15 11:21] #326 closed

[2019-11-15 11:21] #339 closed

[2019-11-15 11:22] macrozone commented on #356
/close due to inactivity

[2019-11-15 11:22] #356 closed

[2019-11-15 11:22] macrozone commented on #343
/close due to inactivity

[2019-11-15 11:22] #343 closed

[2019-11-15 11:23] macrozone commented on #548
/close due to inactivity

[2019-11-15 11:23] #548 closed

[2019-11-15 11:34] macrozone commented on #627
/close due to inactivity

[2019-11-15 11:34] #627 closed

[2019-11-15 11:36] macrozone commented on #551
i managed to refactor themeProviders at some point, but i still get sometimes some unexpected results.

Nevertheless, i close that for now

[2019-11-15 11:36] #551 closed

[2019-11-15 11:38] macrozone commented on #490
should be fixed now, please reopen if you still notice problems with it

[2019-11-15 11:38] #490 closed

[2019-11-15 11:38] macrozone commented on #468
/close due to inactivity

[2019-11-15 11:38] #468 closed

[2019-11-15 11:47] macrozone commented on #580
I close that for now.

I think even if we support react-native, it would first just be rendering. You would still need to edit it on web.

I also think it would be more important to provide good default controls and a good default ui, instead of making it easy to replace it. The editor-ui should be opinionated. It also makes it easier to maintain.

The renderer on the other hand can be anything, w

[2019-11-15 11:47] #580 closed

[2019-11-15 12:16] macrozone commented on #671
i close that for now!

[2019-11-15 12:16] #671 closed

[2019-11-15 12:52] macrozone opened #746 "ci / release push failed, altough it works"
travis always says that the push on a release failed, altough it gets successfully pushed to npm...

[2019-11-15 13:07] fernandobandeira commented on #746
@macrozone I've commited a fix to the master branch, basically lerna tries to reset the repository after publishing the packages to achieve a clean state, but we aren't pushing so it can't really reset.

[2019-11-15 13:09] macrozone commented on #746
@fernandobandeira thank you so much!

[2019-11-15 22:02] macrozone opened #747 "can't add plugin in an empty editable"
it seems that you can't add a plugin in an empty editable where there is only a slate plugin. It's weird, the only way to add it is to add it left or right the default slate plugin...

[2019-11-19 14:45] PeterKottas opened #749 "Bugs due to recent updates"
Hey @macrozone , I see you are doing quite a lot of good work on the lib! Very happy to see that. While updating to the latest version, I've noticed a few small issues and since I am not currently set up with code, I thought I'd run it past you and you can fix in one of your many releases :)

It all has to do with background plugin:
Here https://github.com/react-page/react-page/blob/master/package

[2019-11-19 15:00] PeterKottas commented on #749
Also when doing all the way to 0.16.0-beta.5, when clicking on background/image plugin in edit mode, I see
[code]
Which happens over here https://github.com/react-page/react-page/blob/1d3393912927aa9c3d0a5647148bb964b7b71a6b/packages/core/src/selector/editable/index.ts#L101.
Not sure why that is.
Lastly, the draft feature is amazing!!!! But sadly it doesn't work for me. I can still see the "draft"

[2019-11-19 15:04] macrozone commented on #749
@PeterKottas thx so much for your feedback! will fix it!

I also realized that too and i am just about to debug it. I forgot that the serializer removes some properties and i had to transfer the `isDraft` property over there.

[2019-11-19 15:51] macrozone commented on #749
@PeterKottas ok, the Slider bug is because of the upgrade to material-ui 4. i fixed it and will trigger a release

[2019-11-19 15:51] #705 closed

[2019-11-19 15:51] #725 closed

[2019-11-19 15:51] #157 closed

[2019-11-19 15:51] #429 closed

[2019-11-19 15:51] #480 closed

[2019-11-19 16:01] macrozone commented on #749
@PeterKottas the second issue is because of this:

My goal was to unify the plugins to this pattern:

`<><Renderer />{ !readOnly ? <Controls /> : null}</>`

so that the renderer would not need to re-render. however, this did not work with plugin, that used some preview-state in the renderer. e.g. the image-plugin. In these cases, i did:

`<>{ !readOnly ? <Controls /> : <Renderer />}</>`

and then

[2019-11-19 16:53] macrozone commented on #749
@PeterKottas i could not reproduce `Could not find editable: undefined` but i think i know where it could come from... and i think its already fixed.

can you tell me which version did you use?

0.16.0-beta.7 is been baked now and should fix all issues hopefully

[2019-11-19 17:29] PeterKottas commented on #749
Awesome!

Yeah I know, it's a little bit messy right now. I am actually responsible for some of that code. Needles to say, it was sewed with a hot needle :) Would be great if this all could be unified and improved by using a proper pattern for initial configuration. Most of our plugins are custom as well but we still use some from the lib.

Great, I'll check it out right away!

One extra thing tha

[2019-11-19 19:00] PeterKottas commented on #749
Awesome, the new version fixes most of the things. One thing I had to do on my end is add
[code]
To <BottomToolbar> when rendering. It appears that's caused by the editable being a required prop because it is used in the duplicate and draft button. Weird thing though it's not picked up by typescript typings. It doesn't give me the warning despite the prop clearly being required.

One last thing is

[2019-11-19 19:05] PeterKottas commented on #749
And one small style thing:
This https://github.com/react-page/react-page/blob/0.16.0-beta.7/packages/ui/src/DraftSwitch/index.tsx#L24 and 2 lines bellow, the margin should be removed and marginBottom: 0 should be added here : https://github.com/react-page/react-page/blob/0.16.0-beta.7/packages/ui/src/DraftSwitch/index.tsx#L11 This will center things quite nicely. Right now it's a bit out of balanc

[2019-11-19 23:59] macrozone commented on #749
@PeterKottas ok, i will see what i can do about the styling.

I already struggled a bit with the toolbar and its styling. I think you can Wrap it in a ThemeProvider i guess? I defaulted it to the light theme, because most ui elements worked a bit better in bright than in dark theme. Only slate defaults to dark.

yes, exactly! the Bottom Toolbar now needs to know the id of the current Cell and the

[2019-11-20 12:59] chrBrd opened #750 "Allow user to set alt tag when uploading or editing an image"
At present the 'image editor' dialogue only contains options to upload/link to images, and set the link location.

For accessibility and SEO reasons it would be beneficial to extend this dialgoue to allow users to set an alt tag.

[2019-11-20 14:57] PeterKottas commented on #749
This unfortunately doesn't work because the bottomToolbar renders it's own theme provider here: https://github.com/react-page/react-page/blob/master/packages/ui/src/BottomToolbar/index.tsx#L52 making it impossible to override the "NodeActionToolbar" if you will. You can only render it inside and override for your own components. Not good. IMHO, it shouldn't render the theme provider at all! Tbh, I

[2019-11-20 14:59] PeterKottas commented on #749
Haven't seen https://github.com/ctrlplusb/easy-peasy before. Lovely little lib! I would probably need a closer look just to make sure it works with middleware, thinks and so on. But the low configuration complexity as opposed to what redux has is tempting.

[2019-11-22 13:49] runjak commented on #696
Hi, when trying to use the invite link I've found that slack says that it is no longer active.
The link from the readme doesn't seem to work either.

Is the chat still in use or has it moved elsewhere?

[2019-11-22 14:49] macrozone commented on #696
@runjak its not very active, but i could log in. https://reactpage.slack.com/ ?

[2019-11-22 15:37] macrozone opened #751 "slate: pasting text does not wrap it with a paragraph"
pasting text into slate, does not wrap the text with a paragraph (or the defaultPlugin)

[2019-11-23 14:25] macrozone commented on #749
I disagree on that. Abstracting a UI away is very hard. Using material-ui is of course opinionated, but its neutral and customizable and therefore a good solution.

Since we lazy load it, its bloat is no longer an argument. I don't see much business-value of themeing or even replace the UI. E.g. take wordpress, it has a default ui on the backend and does not enforce theming it. I even think that h

[2019-11-23 14:48] macrozone commented on #749
I look into that, but:

- FormControlLabel has no margin bottom by default in the default theme, so adding marginBottom: 0 there makes no sense to me
- removing `{ marginTop: 5 }` will make the icons non-centered in the default theme, but i have to admit that the adding a top margin is not the best solution there.

But as you can see, that supports my concern about theming.

I will add a theme pro

[2019-11-23 17:08] PeterKottas commented on #749
I think you misunderstood what I meant. What I am saying is we might consider removing just the ThemeProvider. As people use their own theme provider in their app and it's fair to assume they will want to continue using that for all parts of their app.

I definitely didn't mean abstracting away the whole UI or adding the ability to replace icons or anything like that.

TBH, I'm not too pushy on th

[2019-11-23 17:10] PeterKottas commented on #749
Cheers, I'll have to pull down the code and look for myself in the lib. We should definitely be able to center the icons without the use of any magic margins.

[2019-11-23 17:16] macrozone commented on #749
@PeterKottas unfortuatly, the deploy fails constantly on travis, i have no clue why. All tests are passing, so  i could not release it yet.

i see the point with the themeprovider and i try to leaverage it as much as possible, but i have too little experience and i don't think its _that_ important, that's why i would  love to see others help on that topic!

[2019-11-23 17:16] macrozone commented on #749
👍

[2019-11-23 17:18] PeterKottas commented on #749
My bad, the 5 bottom margin was in my reboot for some reason! All good now.

[2019-11-23 17:18] macrozone commented on #746
@fernandobandeira deploy on travis still seem to be a bit unreliable, can you check if you see some problems?

[2019-11-23 17:19] PeterKottas commented on #749
No worries, I have some more experience here so I can help when necessary. Have to set up the code as well. I tried the other day but I think there are some problems with it now on Windows. I think people committed some changes specific for Mac in build scripts. I'll have to look at that.

[2019-11-23 17:21] #749 closed

[2019-11-23 17:22] PeterKottas opened #752 "Unable to add layout (background) plugin"
I am unable to drop in the background layout plugin (all content plugins can be added no problem). I wanted to run this past you @macrozone, maybe you can reproduce easily. I'll do more digging if it works for you fine but I think you might have changed something around layout plugins that might be causing this.

[2019-11-23 17:25] macrozone commented on #749
@PeterKottas version 0.16.0-beta.9 should contain the changes above, but the meta package has not been published, but all others should work

[2019-11-23 17:25] PeterKottas commented on #752
I initially suspected react-dnd but CELL_INSERT_BELOW is fired properly. Also the action payload makes sense from what I see (it contains the correct item and the plugin field there is configured properly)

[2019-11-23 17:26] PeterKottas commented on #752
It's just not added to the tree, causes the editor to rerender though and onChange is fired as well. However, the new plugin is not there.

[2019-11-23 17:27] PeterKottas commented on #749
Already pulled down and works like a charm! Cheers

[2019-11-23 17:31] macrozone commented on #752
@PeterKottas its working on the example, i just verified it. But i observed a bug where it would sometimes not add a plugin when its the last in the editor, not sure if its related to. Do you see any error in the console?

i don't know if there are some changes that would break it... 🤔

can you check your yarn or package lock to check if all plugins are on the same version?

[2019-11-23 17:42] PeterKottas commented on #752
Crap, that's what I was afraid of ... I see this in the console:
[code]
But IMHO that's unrelated. (We should fix that too at some point though).
The rest of the setup is pretty straight forward. Not sure what the problem is. I am using the Editable component, not the new editor.

[2019-11-23 17:44] macrozone commented on #752
@PeterKottas can you try to use an older version to see when the bug was introduced?

is it the only plugin that has this problem?

[2019-11-23 17:48] macrozone commented on #752
@PeterKottas can you check.

- does the react-devtools show the properties of that plugin in the cell that should render the background?
- does it show in the dom inspector but is just empty?
- do you define `createInitialChildren` on the plugin?

maybe it will be created with empty content and is therefore removed (optimized), i don't know the details, but i saw that there is some algorithm like

[2019-11-23 17:50] PeterKottas commented on #752
That might be tricky cause I had to make a lot of changes locally to support the 0.16 branch. I went back to beta 5 but still the same problem. Yes it's only the background plugin. Although that's the only layout plugin I have. So it might be all layout plugins. I'll try to add one extra to see if that helps.

I switched to default background plugin provided by the lib. So that should work right o

[2019-11-23 17:51] PeterKottas commented on #752
Yep, plugin is there on the component, also the initial children seem to work.

[2019-11-23 17:57] PeterKottas commented on #752
And also all version are correctly pointed at 0.16.0-beta.9 just did a clean install as well. The plugin is not there at all (inspecting DOM). Very weird.

[2019-11-23 18:00] macrozone commented on #752
Is it a custom background plugin? can you show the source code? It will be a bit tricky without a reproduction. maybe you can integrate your plugin into the example?

maybe you can debug the rendering of the cell? So the prop is there on the data, maybe you can find out why it does not get rendered. Maybe it has to do with the draft property?

(PS: it should still work with the "old" approach with

[2019-11-23 18:04] PeterKottas commented on #752
nah, it's just standard bg plugin:
[code]
Nothing fancy, I also copy pasted the customLayoutPlugin from examples. Same problem. So it's a problem with layout plugins in general.

Yeah I prefer the new approach actually, but can't change everything right away. That being said, it should definitely work. Np, now is a turbulent time. Lot of new features. It takes time to clean up.

[2019-11-23 18:11] macrozone commented on #752
nothing special there. is the slatePlugin the default slatePlugin or a customized one?

do you pass the layout plugins properly to the editor (and html renderer) in `layout` ?

[2019-11-23 18:14] PeterKottas commented on #752
just standard slate
[code]
the these are all plugins
[code]
Editor
[code]

And finally the Editable
[code]

[2019-11-23 18:31] macrozone commented on #752
probably not related, but can you remove the `store` property? react-page now  uses its own context for redux, so that it does not "leak". Every instance of the editor has its own redux store.

[2019-11-23 18:36] PeterKottas commented on #752
Removed, no effect. Isn't it strange that content plugins work but layout doesn't? ... I find it really odd.

[2019-11-23 18:36] macrozone commented on #752
@PeterKottas can you try to set a breakpoint here: https://github.com/react-page/react-page/blob/master/packages/core/src/components/Cell/Inner/index.tsx#L57 ?

There are two conditions there that would prevent your cell from rendering

[2019-11-23 18:47] PeterKottas commented on #752
It never goes into that if. In other words, LayoutComponent is never defined. Although that would happen if the plugin is never injected into the state. Which I think it is.

[2019-11-23 18:59] PeterKottas commented on #752
Ok when I switch to the new editor approach. It works, but obviously I lose all of my custom Ui. I need to investigate more and compare my code to what is in the new editor package.

[2019-11-23 19:01] macrozone commented on #752
@PeterKottas ok, that narrows it down.... let me check my changes

[2019-11-23 19:05] PeterKottas commented on #752
I have a feeling it will be context related. Somehow maybe when I drop the plugin, it cannot find the correct redux store to use? Something along those lines.

[2019-11-23 19:08] PeterKottas commented on #752
Damn ... fixed it. So no idea what it is, but apparently this is new:
[code]
I mean the sanitizeInitialChildren, this must have been added at some point and that broke my custom code. All good now.

[2019-11-23 19:14] macrozone commented on #752
@PeterKottas haha, so i was right : https://github.com/react-page/react-page/issues/752#issuecomment-557818566 ;-)

createInitialChildren should work as before, it just supports a new notation:

[code]

sanitizeInitialChildren is internally used to support this notation, when it receives an array. But it seems i messed it up, can you show what you returned in `createInitialChildren` (i guess an ar

[2019-11-23 19:23] PeterKottas commented on #752
Yep this is the code from the bg-plugin
[code]
So it is indeed an array. Ok now I see the point of that change. Basically it hides away the need of generating unique ids. Not sure if there's anything that can be done to make this more straight forward. It's not hard to grasp, but when you don't know it's needed, you can easily forget. Maybe some warning somewhere saying the children type is incorr

[2019-11-23 19:27] macrozone commented on #752
@PeterKottas this is the new version. Can you show me what you had in place i your background-plugin and how you fixed the issue?

[2019-11-23 19:38] PeterKottas commented on #752
I didn't touch the plugin, the problem was in my custom Toolbar. I've created that based on code from some time ago. Before the sanitize thing existed. Now I had to add it and it started behaving properly. Like I am saying, easy fix when you know what's missing. Tbh, this will only be problem for a handful of people who created custom UI and then want to upgrade. Hopefully they will find this issu

[2019-11-23 19:40] macrozone commented on #752
ok, so i close!

thanks for your patience!

[2019-11-23 19:40] #752 closed

[2019-11-23 19:44] PeterKottas commented on #752
Thanks for your help!

[2019-11-23 21:56] #729 closed

[2019-11-23 21:56] #751 closed

[2019-11-26 08:37] runjak commented on #696
Thanks @macrozone - the link that you gave indeed seems to work. However it is different from the one in the readme ;) I've opened #754 to address this.

[2019-11-26 21:02] bonbonio opened #755 "Support for s3 image uploads"
Hello,

Is it possible to use this editor for the following;

h1-h6 styles, bold, italic and links buttons (Appears so)
Allowing images to be added, and aligned but the image should be uploaded to an s3 bucket as part of the saving process
If not, is there any other editors that work with ReactJS and could do this? My stack is NextJS + Material-UI + Hapi.

Many thanks... I did look through the his

[2019-11-27 09:00] macrozone commented on #755
hi!

yes this is possible,
there is a built-in image plugin that supports custom uploader or you can create your own plugins where you have no imits.

But i have to admit, the docs need improvement. The code however never lies, in the example you find a sample with a mock upload service: https://github.com/react-page/react-page/blob/master/examples/src/plugins.ts#L50

should be easy to implement a

[2019-11-30 00:47] balazssoltesz opened #756 "custom translations to EditorUi"
_ui/DisplayModeToggle_ has an optional property named _translations_ with a default defaultTranslations.
How can i pass a custom translations object to this component?
ui/EditorUi seems to not propagate any props like this.

[2019-12-04 15:55] macrozone opened #757 "update slate to 0.50"
slate 0.50 is out: https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/Changelog.md

https://docs.slatejs.org/concepts/xx-migrating

it requires some refactoring, but should be an intesting thing to do. We would profit from reduction in bundle size and complexity and probably also better performance

[2019-12-06 04:44] hostcloudbr commented on #374
#757
https://hostcloud.com.br

[2019-12-06 09:06] Z-web747 commented on #625
对对对对对对

[2019-12-11 16:26] schuma7 opened #758 "custom breakpoints and columns"
In our webapp we're working with different breakpoints for mobile, tablet and desktop media queries. This leads to weird layout behaviours since the react-page cells break differently from our own components.

Is there a way to customize these breakpoints so that they fit the ones we've defined?

[2019-12-16 12:27] macrozone opened #759 "remove ramda"
this library uses ramda at a few places. To reduce bundle size, it would be good to remove it

[2019-12-24 09:53] cvjude opened #760 "I can't Install the package"
**Describe the bug**
I can't add the editor using npm i @react-page

**To Reproduce**
Steps to reproduce the behavior:
1. run npm install --save @react-page

**Expected behavior**
The package should be installed and I should be able to edit it.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] windows 10

**Additional context**
This is the error I get when I try to instal

[2019-12-24 10:53] macrozone commented on #760
@cvjude hi!

wow, sorry, there is a typo in the quickstart!

it should be `npm i @react-page/react-page`

hope this helps! merry xmas!

[2019-12-27 11:36] cvjude commented on #760
OK thanks, It works very well. Happy new year to you.

[2019-12-27 11:36] #760 closed

[2020-01-04 16:32] PeterKottas commented on #757
Hey mate, this is a plugin that fully supports the latest slate, I didn't have time to contribute here as I need to move fast, however, it could be good for inspiration (even copy-paste).

[2020-01-04 16:38] PeterKottas opened #761 "No longer able to provide react-dnd backend"
Hey, @macrozone and happy new year! I was doing some tests on mobile and after some digging I realized that as part of upgrading react-dnd, you got rid of the react-dnd backend injection api. https://github.com/react-page/react-page/commit/ceaecc192f0751a32793ccb5fe387ce1bee5ad0a#diff-55646d75364ce42cdb84abec1a1531ccL122
I was curious if you could shed some light on this, I assume it was something

[2020-01-05 11:41] macrozone commented on #761
@PeterKottas the goal was to be able to have independent editor instances, so that they can co-exist. Therefore every editor has its own context with redux and dnd-backend. This was not possible in earlier versions of react-dnd as it lead to this error: https://github.com/react-page/react-page/issues/424

Passing your own dnd-backend is no longer needed. But maybe you have a usecase for it?

[2020-01-05 11:42] macrozone commented on #757
@PeterKottas ok, i will take a look at it

[2020-01-05 11:50] PeterKottas commented on #761
Ok I see, that makes sense. However, the issue remains as folks (including me) might want to on some occasions replace the default backend with touch backend. https://react-dnd.github.io/react-dnd/docs/backends/touch . As it stands now, it doesn't work on mobile at all.

[2020-01-05 14:31] macrozone commented on #761
@PeterKottas i think we can either add a mobileSupport flag and provide a touch backend or we could allow to pass one. Because there are only these twos, it might be better to enable touch support ourself

[2020-01-05 14:45] PeterKottas commented on #761
Not a good idea to go with the flag. Imagine one day, somebody comes up with a new (better) touch backend. Or entirely new backend for some specific hardware (iot/wearables ... who knows). Better have an api to provide backend from outside with reasonable default (as it was before). Because otherwise, sometime along the way, somebody will have to deal with this again.