[2021-05-31 13:40] macrozone commented on #1004
@zehawki cannot reproduce it locally, but i guarded the line that crashes

[2021-05-31 13:40] #1004 closed

[2021-05-31 13:41] macrozone commented on #1005
@gevhambarzumyan93 can you elaborate the use case? I don't really understand it.

plugin ids need to be unique, that is true.

[2021-05-31 13:45] macrozone commented on #1007
some hooks/event listeners would definitly be nice.

we could theoretically read actions in redux, but i consider redux to be an implementation detail that could get removed any time.

I guess it could look like this:

[code]

it would receive the current Cell object as argument. There you get the pluginId that was removed

[2021-05-31 13:46] macrozone commented on #1003
works again!

[2021-05-31 13:46] #1003 closed

[2021-05-31 13:46] macrozone commented on #1000
@ibaasch-evorhei looking into this now

[2021-05-31 15:06] #1000 closed

[2021-05-31 15:07] macrozone commented on #982
nice idea.

Its probably good to make it customizable. E.g. on swiss-german keyboards like mine, there is no dedicated `/`-key

[2021-05-31 15:08] macrozone commented on #983
@maximo-calero did you manage to upgrade?

Content will be migrated (on next save), I still recommend to make a backup. If you encounter any problem, feel free to ask and i'll check

[2021-05-31 15:09] macrozone commented on #1009
@hb90dev which controls do you have in mind?

[2021-05-31 15:10] macrozone commented on #1000
@ibaasch-evorhei i fixed it! Can you verify? (will be v2.2.13 or above i guess, its currently being baked)

[2021-05-31 15:15] macrozone commented on #1000
:tada: This issue has been resolved in version 2.2.13 :tada:

The release is available on:
- `v2.2.13`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v2.2.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-31 15:18] macrozone commented on #951
its a bit ambigous whether this has been fixed in slate, but looks like.

there is still a PR that we can continue on (https://github.com/react-page/react-page/pull/890)

and bump there the slate version to latest.

I will probably do that this week.

[2021-05-31 22:19] avoskresensky commented on #1008
@macrozone , thanks a lot!

[2021-06-01 03:49] thang148 opened #1016 "How to add figcaption in @react-page/plugins-image"
Help me please!
![image](https://user-images.githubusercontent.com/46104430/120263950-f4204200-c2c6-11eb-9a8e-44e6b076d8eb.png)

how to add figcaption in @react-page/plugins-image

[2021-06-01 08:15] gevhambarzumyan93 commented on #1005
@macrozone for example.  I want to give my users opportunity to create their page using my widgets( plugins ), but they can use every plugin just 1 time. so I need option to detect used plugins ids or names

[2021-06-01 11:29] hb90dev commented on #1009
Controls from right side.( view / edit mode, add plugin, etc... )

[2021-06-01 11:53] ibaasch-evorhei commented on #1000
@macrozone Version 2.2.13 works as expected. The issue has been fixed successfully.
Thank you, Marco!

[2021-06-01 11:53] macrozone commented on #951
:tada: This issue has been resolved in version 2.3.0-beta.1 :tada:

The release is available on:
- `v2.3.0-beta.1`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v2.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-01 12:59] PeterKottas commented on #1008
@macrozone yeah some tests around this would be good.

[2021-06-02 06:00] karthick3018 commented on #982
@macrozone unlike slash we can have a control key and any letter combination ,I would love to work on the sutff if assigned

[2021-06-02 09:35] macrozone commented on #982
@karthick3018 sure thing! PRs are highly welcomed!

the slate (rich text) plugin has hotkey support, maybe you can use that as inspiration: https://github.com/react-page/react-page/blob/master/packages/plugins/content/slate/src/components/hotkeyHooks.ts

[2021-06-02 09:38] #951 closed

[2021-06-02 09:47] macrozone commented on #951
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- `v2.3.0`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-02 09:50] karthick3018 commented on #982
sure 🎉

[2021-06-03 18:37] dan89farhan opened #1019 "Youtube video not working on production"
**Describe the bug**
Hello @macrozone @PeterKottas, I hope you guys are doing well. I build the project happily and everything working great.
I am using react router for routing. I created a blog with a youtube video block. When I redirected to the specific blog page. I am getting following error.

loadable-components: failed to asynchronously load component
{
    "error": "Loading chunk 7 failed.

[2021-06-04 08:30] macrozone commented on #1019
@dan89farhan on the demo page its working as expected: https://react-page.github.io/

that seems more of a setup/webpack problem as it can't lazy load a certain bundle.

React page uses dynamic imports to lazily load data that is not used everytime (e.g. the editor ui).

Your stack trace shows that it tries to fetch data from http://localhost, but it can't access that.

The title says that it does

[2021-06-04 09:25] macrozone commented on #929
@vsachini

on `<Editor />` you can pass a `dndBackend`:

`<Editor dndBackend={HTML5Backend} />`

i guess you have to pass the same dndbackend that you also pass to mui-datatables, see https://github.com/gregnb/mui-datatables#custom-components

[code]

where`HTML5Backend` is

[code]

i guess that is a singleton with some internal state.

You can also check your yarn.lock or package-lock file if you

[2021-06-04 12:59] dan89farhan commented on #1019
@macrozone, Thank you for your reply.

Yes, My webpack config was wrong.

publicPath: ''/template/BlogDesigner/"
Correct path :
publicPath: ''/template/Blogs/"

So I am closing this issue

[2021-06-04 12:59] #1019 closed

[2021-06-08 21:37] zehawki commented on #1016
@thang148 if its not something that you are particularly precise about, you can achieve what you need by just putting a textbox below an image. Does that work?

[2021-06-08 22:28] Max0nyshchenko opened #1022 "Custom CellPlugins with inputs"
Let's consider a situation when I want to have a plugin with input type checkboxes. So I'd expect in readOnly mode to be possible of modifying those checkboxes, checking them. But it's not possible. Is there a way to implement this behavior?

[2021-06-09 08:16] macrozone commented on #1022
@Max0nyshchenko what is the exact use case? I don't really understand your question.

[2021-06-09 11:45] Max0nyshchenko commented on #1022
I wrote cutstom plugin where added checkboxes input, and I want for other users to be able to check/modify them in readOnly mode, but its not possible, content is not editable in readOnly mode.

Is it possible to make input fields editable (like textarea, input tags) but restict user from editing all other the content of the page?

[2021-06-09 13:00] macrozone commented on #1022
@Max0nyshchenko i still don't get your precise use case.
Why would users in edit mode require to check checkboxes. What do they select exactly? Do these users modify the content or is it just some kind of interactive component?

You can use any component. So you can also mount a form or something like that. But i can't really help as its still unclear what you try to achieve

[2021-06-09 13:01] #1022 closed

[2021-06-09 14:34] yuneszadi opened #1024 "Exporting to HTML doesn't seem to work"
Hi,

Following [this issue](https://github.com/react-page/react-page/issues/741) I tried to export the content of editor to HTML format. But every time I get an empty div `<div class="ory-row"></div>`. How can this problem be solved?

Thanks.

[code]

[2021-06-09 15:22] macrozone commented on #1024
@yuneszadi the `@react-page/renderer` no longer exist. You can use `<Editor readOnly value={value} cellPlugins={cellPlugins} />` to mount the component without editor ui. This also works on the server.

I am a bit irritated by your example as you use `ReactDOMServer` on the client, i am not aware that this works.

If you want to export an html string on the browser, you can simply use the dom api:

[2021-06-09 15:22] #1024 closed

[2021-06-10 21:45] #865 closed

[2021-06-11 12:58] #982 closed

[2021-06-11 21:22] rgamm opened #1028 "Error compiling slate plugin"
Hi! This is perhaps a bit odd so I'm hoping it's a simple fix... I need to compile everything including the types, but when I try I get an error:
[code]
I'm using bit.dev so you could try to reproduce the exact error by using it inside a component and using their isolated build environment, but it's probably easier to just look at the source code in github: https://github.com/react-page/react-page

[2021-06-14 08:35] macrozone commented on #937
this feature has been shipped as far as i remember

[2021-06-14 08:51] macrozone commented on #1028
thx for reporting @rgamm,

is there a reason why you can't use the npm module itself (and therefore the compiled code)?

slate needs this definition file, but maybe i can split the other exports out of it (Data), maybe i can optimize this

[2021-06-14 13:11] rgamm commented on #1028
I have to export it with underlying types because I use it in a library which then exposes some of them. Yeah I think it's only that Data type that gets lost so if that can be put into a non `d.ts` file, maybe i can make a PR

[2021-06-16 04:03] vsachini commented on #929
Thanks @macrozone! I will do some tests on that.

[2021-06-16 04:03] #929 closed

[2021-06-18 12:30] macrozone commented on #910
@zehawki

wow, good catch, that was a typo in the code. Fixed in master!

tbh, no clue its probably from the overflow: auto. Do you happen to know what changes you have?

Please open up an issue with a reproduction if possible

[2021-06-18 12:30] #910 closed

[2021-06-18 12:34] macrozone commented on #1028
@rgamm can you check with latest version?

[2021-06-18 12:36] macrozone commented on #995
merged

[2021-06-18 12:36] #995 closed

[2021-06-20 09:41] #945 closed

[2021-06-21 09:33] macrozone commented on #982
--> this currently leads to the situation that you can no longer type in a "/" char in the slate (rich text) editor

[2021-06-21 17:03] karthick3018 commented on #982
@macrozone  have you fixed this issue ? I could reproduce the issue in current live version !

[2021-06-21 17:11] macrozone commented on #982
its fixed in live, or what do you mean?

we no longer open the insert plugin sidebar when any cell is focused

[2021-06-21 17:15] karthick3018 commented on #982
Imagine like while being active in the rich editor I need to insert a divider plugin so I can type "/" to get the cell plugins . "we no longer open the insert plugin sidebar when any cell is focused" this one also make sense it just depends on the scenario of our application .

[2021-06-21 17:31] macrozone commented on #982
@karthick3018 I also thought about that, so you can now press ESC to unselect any cell, which makes it a bit easier to open the toolbar

[2021-06-21 17:43] karthick3018 commented on #982
yeah @macrozone  current version looks so cool 🎉🎉

[2021-06-22 16:01] macrozone opened #1032 "enable styling for BottomToolbar"
see discussion https://github.com/react-page/react-page/discussions/1030

approach would be to add more components that can be overwritten. In this case its probably just a simple wrapper (the div with the styling).

In this case its probably this component that should be customizable: https://github.com/react-page/react-page/blob/master/packages/editor/src/ui/BottomToolbar/Drawer.tsx

In this par

[2021-06-25 04:43] #932 closed

[2021-06-26 10:02] #954 closed

[2021-07-03 08:55] #969 closed

[2021-07-09 03:51] #936 closed

[2021-07-12 07:56] macrozone commented on #898
is actually in progress

[2021-07-25 09:29] Polous-Sergey opened #1045 "Problem with npm"
**Describe the bug**
Can't install react-page via npm

**To Reproduce**
Steps to reproduce the behavior:
1. npm install --save @react-page/editor
2. See an error

[2021-07-25 10:10] Polous-Sergey commented on #1045
yarn works, maybe some local problem

[2021-08-02 17:44] PatoDeVille commented on #893
@zehawki  I am currently working in a project implementing [supabase.io](supabase.io), react admin and react-page. But im working in JS and my image uploader is not working as it should. Im getting the upload in my database and returning a Promise{url: 'uploadedURL'}.
It would be amazing if you could provide me an example with JS using the image plugin.

[2021-08-03 10:58] zehawki commented on #893
@PatoDeVille thats here already https://react-page.github.io/docs/#/builtin_plugins?id=image

[2021-08-09 10:45] zehawki commented on #987
Is this broken? Setting `defaultIsParallax = false` shows parallax on by default.

[2021-08-09 11:30] zehawki commented on #987
After tracing thru, I've narrowed it down to this piece of code https://github.com/react-page/react-page/blob/673abb34a215f8d5291e54304d4050f771bffe00/packages/plugins/layout/background/src/Controls/sub/Image.tsx#L47

Changing this to `isParallax = this.props.defaultIsParallax` seems to fix the issue

[2021-08-09 11:45] zehawki opened #1052 "yarn dev throwing fatal error"
**Describe the bug**
ERROR: "build:watch" exited with 1

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Updated to latest
2. Run `yarn`, `yarn bootstrap` and `yarn dev`

**Additional context**
My dev environment was working earlier on v2.14. I just updated to v3.2.1 and hit this.

Anything to do with #1028?

[2021-08-09 12:52] macrozone commented on #1052
can you run `yarn build` first and then `yarn dev`?  i think there is something that is not cleaned up properly

[2021-08-10 08:27] Polous-Sergey commented on #1045
npm doesn't work

[2021-08-10 08:29] macrozone commented on #1045
@Polous-Sergey just tested it with npm and it worked. can you share

- what error do you get
- what's in your package.json
- which version of node and npm are you using.

[2021-08-10 11:58] PeterKottas commented on #987
Looks good to me, could you PR this by any chance?

[2021-08-11 12:45] zehawki commented on #1052
Perfect, thank you. Working like a charm.

[2021-08-11 12:45] #1052 closed

[2021-08-11 12:48] zehawki commented on #987
I can, but here are 2 thoughts :-)

1. I'm not sure this is correct. Maybe I'm missing something, so it would be good if @macrozone reviews
2. He can just throw this tiny change into his next update, without us going thru a full PR overhead?

[2021-08-11 13:36] macrozone commented on #987
a pr would be great, happy to merge it (i will quickly review it, but i guess its a one liner, right?

[2021-08-12 10:23] venkatab144 opened #1054 "Is there a way of seeing which plugins have been added?"
I have a custom plugin and I want to be able to store all instances of this plugin that have been added so that I can get their values. For example, I have plugin X that has property Y, the user adds an 'n' number of plugin X and I want to be able to access all these plugin X's so that I can get their property Y. One way I thought was looking through the JSON and finding "id": "PluginX" and checki

[2021-08-13 13:09] PeterKottas commented on #987
No worries, that's it. Simply make that change and it's good to go

[2021-08-13 13:10] PeterKottas commented on #987
I or macrozone can merge it then.

[2021-08-13 20:55] #983 closed

[2021-08-14 08:09] zoutigo commented on #893
Hello.
As it is a common use case ,
can you please provide example of uploadhandler function when it comes to insert image and fecth the url from api .
In docs , you just mention

**You can create the promise that will actually upload the image to some server and resolve with { url: someUploadedURL }**

but the function is not built for that:

`function uploadImageShim(defaultUrl) {
  return funct

[2021-08-14 10:04] zehawki commented on #893
Well sure :-) this is just an example.

The actual function depends on your API/service/backend/library, and once it has uploaded, all this foo has to do is resolve with the uploaded URL. Eg in my case, I use axios and do a axios.post to my API which uploads to S3 and sends back a URL. Further example, which is just saying the same thing as in the doc:

[code]

[2021-08-14 10:44] #1005 closed

[2021-08-14 13:14] #1009 closed

[2021-08-14 16:43] zoutigo commented on #893
Thanks for your answer.
It is working fine when i'm oploading , then posting my form to the server.
However , when comes the time to show the document , the image is not showing, but the text does.

my config is
form side:

`
[code]

And , after storing all the stuff in the api the fetching .... the read only is

[code]

I don't know why i'm not getting that image, even if i can see the image url

[2021-08-15 03:50] zoutigo commented on #893
ok.
i found the problem.
in the readOnly mode , my cellPlugins should include image plugin as well .

`const cellPlugins = [slate(), image]`

[2021-08-21 23:43] #1016 closed

[2021-08-31 21:25] #1028 closed

[2021-09-03 22:39] #899 closed

[2021-09-06 13:42] konfilios opened #1064 "Copy & Paste Blocks"
I'm trying to copy a whole block from a react-page to another, but all I can find is "duplicate" within the same document. How can I "duplicate into clipboard" and "paste from clipboard"?

[2021-09-07 10:19] macrozone commented on #1064
@konfilios this is currently not supported, but it would be awesome to have that feature.
Maybe i can work on this next week or find someone.

Technically, it would be not that hard, its just copy the object of a Node (Cell) and past it (with a new id).

[2021-09-07 19:24] konfilios commented on #1064
That would be humongous! Thanks a lot for the immediate response!

[2021-09-10 09:38] macrozone commented on #898
this is available in the beta

[2021-09-11 18:32] PatoDeVille opened #1066 "Pass maxFileSize props to imageUploader"
**Is your feature request related to a problem? Please describe.**

I want to pass props to the imageUploader so i can upload files bigger than 5 MB

**Describe the solution you'd like**
A way to pass props to the image uploader plugin

[2021-09-13 05:43] RandyLiu6410 opened #1067 "Is there any way to export readonly html?"
I have used `ref.current.innerHtml` to export html of the preview page. But the output html still contains some features of react-page editor like `<div class="react-page-controls-mode-toggle-control-group" ... />`. Yes I can extract the element `<div class="react-page-editable react-page-editable-mode-preview" ... />` as my output. But it still contains `<div class="react-page-cell-handle react-p

[2021-09-13 08:11] #1067 closed

[2021-09-23 11:50] macrozone opened #1072 "build sometimes fails with a type error"
the build on travis sometims fails with

[code]

i'll push a workaround, i could not yet find the right fix

[2021-09-29 06:41] macrozone commented on #1064
@konfilios you can test it on the beta version!

[2021-09-30 10:59] konfilios commented on #1064
Thank you very much! I'll test it asap!

[2021-09-30 11:01] macrozone commented on #1064
@konfilios its not explained directly in the editor, but you can basically select multiple cells by holding cmd or ctrl and then copy & paste with your usual shortcuts (cmd+c / cmd+v)

you can also copy a single cell that is focused (unless you have selected some text of course)

[2021-09-30 11:04] konfilios commented on #1064
I checked the demo. Works great! Thank you again!

[2021-10-11 08:29] macrozone opened #1075 "[beta] can't write text in slate popup forms"
if a slate plugin defines a form, you can't write into the field:

![Uploading Bildschirmfoto 2021-10-11 um 10.28.45.png…]()

[2021-10-11 10:25] macrozone commented on #1075
:tada: This issue has been resolved in version 4.0.0-beta.9 :tada:

The release is available on:
- `v4.0.0-beta.9`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.0.0-beta.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-12 16:08] #1075 closed

[2021-10-13 09:07] roker15 commented on #51
Problem is react page has not table and slate has no katex i need both... What should I do

[2021-10-13 09:21] roker15 commented on #51
i pasted some katex in thier live demo it did not work... only simple formulae worked... only editor so far worked for me is Suneditor
http://suneditor.com/sample/index.html , but looks like they are not very much active. When are u going to support table.?

[2021-10-15 11:57] macrozone opened #1082 "upstream issue with slate-react 0.66"
see https://github.com/ianstormtaylor/slate/issues/4603

[2021-10-16 15:46] noorsheikh opened #1085 "support Material-ui 5"
Does react-page support material UI version 5 or will it be supported anytime sooner?

[2021-10-18 08:10] macrozone commented on #1085
@noorsheikh did not test it yet, but i am aware of this. I hope that we can do it in a way, that both 4 and 5 should work (as it is a peer dependency.

i am also thinking about abtracting the editor-ui-layer a bit more, that way we could provide a mui-4-compatibility layer and open up the possibility to bring your own ui

[2021-10-22 12:45] macrozone opened #1088 "disable some controls in the sidebar"
### Discussed in https://github.com/react-page/react-page/discussions/1087

<div type='discussions-op-text'>

<sup>Originally posted by **RajathShanmugaiah** October 22, 2021</sup>
![Capturenew](https://user-images.githubusercontent.com/63197365/138450196-cf8b9c8e-52af-4fb1-b7ea-389c0d0a54e9.PNG)
Is there a way I can pick only few controls out of these as I don't require resize and move option in

[2021-11-05 02:09] thang148 opened #1100 "Create table basic"
How to create table.
Edit data in table by rich text editing slate.
Thank you!

[2021-11-06 03:00] #1032 closed

[2021-11-12 15:08] Apoerin opened #1103 "Type 'SlateCellPlugin... is not assignable to type 'CellPlugin<unknown, unknown>[]'."
I'm trying to set a simple example for editor.
codesandbox link
https://codesandbox.io/s/goofy-archimedes-wdtdu?file=/src/components/PageLayout.tsx

The error occurs on `cellPlugins` property and have next text:

[code]

In codesandbox it's compiling and shows error in console, but locally it doesn't even compile.

I'm new to React-PAge and Typescript in general so how can I fix this error?

[2021-11-12 16:10] macrozone commented on #1103
hi @Apoerin ,

i think you are running into a similar problem like https://github.com/react-page/react-page/discussions/1074

can you try to disable `strict` mode?

in tsconfig.json, under compilerOptions, set `strict: false`.
disable strict mode is actually not really recommended for new projects as it "weakens" some null checks, but unfortunatly i realized that in most project i had disabled it,

[2021-11-12 16:10] macrozone opened #1104 "shows error with typescript strict:true"
see also https://github.com/react-page/react-page/issues/1103

[2021-11-12 17:31] Apoerin commented on #1103
Thanks for the fast response!
Disabling `strict` mode did the trick

[2021-11-12 17:32] #1103 closed

[2021-11-18 05:04] bit314 opened #1106 "upgrade to mui 5.x.x"
Hi, the question is simple, are you planning to update the library to mui 5.x.x?

Now for correct work you need mui 4.x.x version. There are a lot of errors during the transition.

Replaced createMuiTheme and createTheme, etc.

[2021-11-23 19:54] #898 closed

[2021-11-23 20:12] macrozone commented on #898
this is available in the latest version. I missed updating or referencing this ticket though

[2021-11-24 21:25] #1066 closed

[2021-11-29 12:00] masanaikeshima commented on #1085
As a Tailwind user, a bring your own UI would be a great addition.

[2021-11-29 18:20] macrozone commented on #1064
this has been released

[2021-11-29 18:20] #1064 closed

[2021-12-08 14:56] Phil632 commented on #937
This feature was added in version 1.7.0 and works there. It doesn't work in the current version, however. Would you consider adding it again?

[2021-12-08 15:10] macrozone commented on #937
@Phil632 can confirm, sorry for that.

i can fix it asap.

[2021-12-08 15:35] macrozone commented on #937
:tada: This issue has been resolved in version 4.3.1 :tada:

The release is available on:
- `v4.3.1`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-09 10:23] Phil632 commented on #937
Thank you! I really appreciate it.

[2021-12-10 10:57] SaadBazaz commented on #1100
This is much needed. Any update?

[2021-12-10 11:00] SaadBazaz commented on #394
This is super necessary. Any plans on integrating?

[2021-12-14 16:53] macrozone commented on #1082
still open

[2021-12-17 16:57] macrozone commented on #1100
currently no update.

Tables in Rich-text-editors are hard to implement right and tables are tricky in responsive-designs.

i personally would advice to create custom CellPlugins instead for specific table-like usecases. Ask your customers whether they really need a generic table or whether they have more specific use cases. For Example they may actually want to display specific data in a table-li

[2021-12-18 17:06] amira133 opened #1119 "Use react-Page in Angular"
I wanted to know if there is a way to use this `react-page` in ‍`Angular‍‍‍‍‍`?

[2021-12-20 11:41] macrozone commented on #1119
@amira133 its a react library.

you can integrate react into angular as far as i know, but that increases your bundle size.

[2021-12-20 11:41] #1119 closed

[2021-12-30 13:28] macrozone commented on #1106
duplicate of https://github.com/react-page/react-page/issues/1085

[2021-12-30 13:28] #1106 closed

[2022-01-01 15:06] mlnima opened #1123 "Material-UI Error"
I get this error :

Material-UI: the createMuiTheme function was renamed to createTheme.
You should use `import { createTheme } from '@material-ui/core/styles'`

I did not use Material-UI on the whole project, only installed it because of @react-page, could you please help me with this error.

[2022-01-01 15:12] macrozone commented on #1123
@mlnima that is just a warning, make sure to install material-ui version 4 until https://github.com/react-page/react-page/issues/1085 is resolved

[2022-01-01 15:30] mlnima commented on #1123
here is packageJson
"@material-ui/core": "^4.12.3",
"@material-ui/icons": "^4.11.2",
"@material-ui/styles": "^4.11.4",

anyway you are right :), production is fine on https://02dev.com/post/learn/6181a406a3c5fd928f151e93

[2022-01-03 21:11] sdotter commented on #1123
yeah...  line 94 should be a console.warn not console.error... but glad its not an error :p

[2022-01-05 14:26] mikeljoe1 commented on #1024
@macrozone
return <div ref={ref}>
  <Editor .... />
</div>
Using the above approach it exports the HTML of Editor as well, what if i want to fetch HTML of cell plugins alone.

[2022-01-05 14:31] mikeljoe1 commented on #799
ReactDOMServer.renderToString(
  <HTMLRenderer state={editorValue} plugins={plugins} />
) This approach is not working with latest version of react-page

[2022-01-05 14:31] macrozone commented on #1024
set `readOnly` to true! Sorry i forgot to write that

[2022-01-05 14:56] mikeljoe1 commented on #1024
<Editor cellPlugins={cellPlugins} value={value} onChange={setValue} readOnly/> you mean this one ?

i want to extract HTML of the content which user is editing actively ? HTML of the content alone should be saved once the user is done with the editing

[2022-01-10 16:34] zehawki opened #1128 "Better image handling"
Here's a suggestion for better image handling where we separate the upload from mere trial. Ie someone creating a page may end up experimenting with say 10 images, and finally may end up not actually using any, or only 1 etc. All these 10 are uploaded, so:
A. its slow and clunky
B. its a waste of resources all around

Instead how about showing images from local first, and then when the user is hap

[2022-01-15 13:58] zehawki opened #1138 "Change the variant of the move node buttons"
Suggest that the variant of the cell movement buttons not be "contained" and should be same as < ScaleButton /> and other buttons to match the same UI. They needless take away visual focus from other important controls.

Also, as per Material guidelines, since these are not the main actions on the taskbar they should not be "contained" anyway.

[2022-01-19 07:56] macrozone commented on #1138
i agree with you, they take away too much visual focus as they are not that important.

[2022-01-25 10:11] vasilis-lts opened #1140 "Image plugin: "Open link in new window checkbox" is always unchecked"
**Describe the bug**
The "Open link in new window" checkbox of the image plugin, is not showing it's correct state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-page.github.io/
2. Click on the image plugin to edit it. (located left of the list that says batteries included at this time)
3. Add an image, a link and check "Open link in new window"
4. Click on preview page

[2022-01-27 02:08] neutron92 opened #1147 "Can't perform a React state update on an unmounted"
**Describe the bug**
Im using the module  of @react-page/react-admin
when i add more than one component i got those 2 errors
[code]
` Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.`

**To Reproduce**
Steps to reproduce

[2022-01-27 15:22] zarybnicky commented on #970
Still a problem, I'd rather not have to fork just to change a single zIndex prop.

[2022-01-27 15:31] neutron92 opened #1148 "Material-UI: the createMuiTheme function was renamed to createTheme."
**Describe the bug**
[code]

OS: window
Version React page: 4.5.0
React-admin version: 3.19.7
React version: 17.0.2
Browser: chrome

[2022-01-27 15:49] macrozone commented on #970
can you file a pull request?

[2022-01-27 15:50] macrozone commented on #1148
duplicate: https://github.com/react-page/react-page/issues/1123

[2022-01-27 15:50] #1148 closed

[2022-01-27 15:53] macrozone commented on #1123
i actually used the new `createTheme` import at some point, but then it broke in one of my projects, because there i had a too low material-ui version.

ideally, we could just bundle our own material ui version, so that it does not conflict with the one that devs are using, but material 4 did not allow that (or lead to bugs if you did). Thats why its a peerDependency currently

maybe material ui 5

[2022-01-27 16:23] neutron92 commented on #1147
you can check it here

https://stackoverflow.com/questions/70880844/react-page-react-admin-cant-perform-a-react-state-update-on-an-unmounted
https://codesandbox.io/s/adoring-tess-x11ve?file=/src/App.tsx

[2022-01-27 17:12] neutron92 commented on #1147
@macrozone is it in the slate plugin right? i'm in the good way?

[2022-01-27 17:45] macrozone commented on #1147
yes, its in the slate plugin's renderer, where we lazy load the SlateProvider in order to keep bundle size low when using it in readOnly.

Due to some reason this component unmounts before the slateProvider is loaded, which calls setState on an unmounted component.

there is nothing particularly wrong with that, but that warning is a bit annoying

This is a good read about the topic: https://www.r

[2022-01-31 15:44] neutron92 commented on #1147
@macrozone i do not have access to create a branch and push in your repo

[2022-01-31 15:51] neutron92 commented on #1147
@macrozone  https://github.com/react-page/react-page/pull/1149

[2022-02-05 20:52] #1072 closed

[2022-02-14 14:25] shanthi-techie opened #1155 "Not able to add Background Plugin"
Not able to add background plugin

Error:

Type 'CellPlugin<BackgroundState, BackgroundState>' is not assignable to type 'CellPlugin<unknown, unknown>'.

[code]

[code]

@React-page version is 4.5.0

[2022-02-14 15:07] macrozone commented on #1155
duplicate of https://github.com/react-page/react-page/issues/1104

currently, disable strict mode. i hope i can fix this asap.

[2022-02-14 15:07] macrozone commented on #1147
@neutron92 thx, will look into it

[2022-02-15 10:39] shanthi-techie commented on #1155
I've already have it disabled.

[code]

[2022-02-15 10:40] shanthi-techie commented on #1155
I've already have it disabled.

[code]

[2022-02-15 10:51] macrozone commented on #1155
you sure? i just tried your snippet in the example project and it does not yield any error. Maybe you have to reload the project?

[2022-02-15 11:07] shanthi-techie commented on #1155
Ok, I will double check this from my end But i'm sure i've strict mode disabled from the beginning because i'm aware of these issues.

[2022-02-15 12:23] shanthi-techie commented on #1155
It worked only after upgrading the version to 4.5.3

[2022-02-16 08:05] shanthi-techie opened #1158 "The following error thrown "Cannot resolve a DOM node from Slate node: {"text":""} " when adding form fields in react-page/slate"
I'm trying to add form fields in react-page slate and when i'm trying to add/edit the form fields i'm getting Cannot resolve a DOM node from Slate node: {"text":""} error.

how this can be resolved ?

Code:

[code]

[2022-02-16 08:19] shanthi-techie commented on #1088
Any update on this ?

[2022-02-16 09:42] macrozone commented on #1088
no, feel free to open a Pull request!

[2022-02-16 09:57] macrozone commented on #1158
there are things wrong with your code (e.g. the weird map function and the global let declarations and more), but thats not the problem here.

it seems slate still interacts with the element and expect it to be editable, i'll look into it

[2022-02-16 13:23] shanthi-techie commented on #1158
yeah, I will look into the code. I've degraded react-page version to 4.5.0 from 4.5.3, from then i dont see any issues. I'm not sure if this is the actual root cause.

[2022-02-16 13:26] macrozone commented on #1158
no, issue is slate. What you can try is that you wrap your rendered fields in a

[code]

have not tried that yet, i thought i avoided this problem with the "void" plugins, but looks like there is still an issue

[2022-02-16 20:03] #1007 closed

[2022-02-17 06:05] shanthi-techie commented on #1158
i will try this. Thank you

[2022-02-22 09:36] konfilios commented on #1140
Hello! We have reproduced this issue in our project, too. Are there any plans for a fix?

Thank you in advance!

[2022-02-25 19:26] #1140 closed

[2022-03-03 12:34] zehawki commented on #1138
Any chance this can make it way into the next release?

[2022-03-03 22:59] #1100 closed

[2022-03-08 07:57] agloolik commented on #1085
Hi team, I would also like react page to support mui5, what can be done to help start this project ?

[2022-03-08 10:48] macrozone commented on #1085
you can clone it and try make it work with mui5!

you can then push a branch and open a PR (work in progres)

[2022-03-14 12:52] macrozone commented on #1104
will be fixed soon

[2022-03-26 20:29] #1128 closed

[2022-03-30 17:30] MichaelKheel commented on #1085
Yes, mui5 support is very lacking. I even tried to install both versions and it even works, but there is a style conflict between mui4 and mui5 and the use of the library becomes impossible. :(

[2022-03-31 08:11] #1147 closed

[2022-03-31 08:12] macrozone commented on #1085
this is a problem of material-ui, which is surprising, because we use a custom prefix for the class-generator

[2022-03-31 12:03] MichaelKheel commented on #1085
Anyway, I really liked your library, I will try to transfer it to mui5 and if it works out, I will open a PR. Thank you.

[2022-04-07 13:59] shanthi-techie opened #1175 "Autoforms in the slate-plugins get displayed even if the schema is null"
Autoforms available in the slate-plugins is getting displayed when schema of the auto form is null.

Steps to reproduce the behavior:
[code]

**Expected behavior**
No autofrom should be displayed when the component is clicked on

**current behavior**
its diplaying a pop up with cancel and ok button
**Screenshots**

![image](https://user-images.githubusercontent.com/66308775/162216390-724263ac-9080

[2022-04-08 10:12] macrozone commented on #1175
ah that was an oversight with the isVoid type! thank you!

[2022-04-08 18:02] shanthi-techie commented on #1175
@macrozone  the usecase is, when 'formField' has been clicked a field should have been added to RTE because user has to no data to fill in the autoform

[2022-04-15 10:41] zehawki opened #1177 "Fresh fork, and then 'yarn dev' throws errors"
**Describe the bug**
After `yarn dev`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Freshly fork react-page
2. Clone into local
3. Steps as per https://react-page.github.io/docs/#/CONTRIBUTING

[2022-04-15 12:36] Clovel commented on #1085
MUI switch from `@material-ui/<package>/<component>` to `@mui/metarial/<component>` in v5. It's not just bumping the existing dependency from v4 to v5. This might require some heavy rewriting if `react-page` is to use both.

In the meanwhile, we are stuck with using v4. If you wish to use v5 and `react-page`, you'll have to install both v4 & v5 sadly.

[2022-04-16 09:34] #970 closed

[2022-04-16 09:34] #1123 closed

[2022-04-28 03:22] RogerBetter commented on #394
table please

[2022-04-28 08:10] macrozone commented on #394
see this comment: https://github.com/react-page/react-page/issues/1100#issuecomment-996874042

tldr: its not planned, but contributions are very welcome!

[2022-04-30 08:54] #1082 closed

[2022-04-30 22:54] #1155 closed

[2022-05-01 12:54] #1088 closed

[2022-05-04 23:46] #1158 closed

[2022-05-09 23:04] yektas commented on #1104
The PR is still open, when will it merge?

[2022-05-11 13:29] fauh45 opened #1182 "Slate plugin freeze and high CPU usage with react 18"
**Describe the bug**
When I add a Text cell on react page editor, and I start to type at first there are no words coming up at all. Then sometimes it shows, then get stuck, the editor just freezes up. When I check the Brave browser task manager, I see that the page are using a lot of CPU (100-ish). I manage to get a recording of the Performance (snapshot using the performance tab of Chrome/Brave D

[2022-05-12 14:36] macrozone commented on #1182
hi @fauh45

- Do you use our react-admin component? https://react-page.github.io/docs/#/integration-react-admin
It has not yet been tested with version 4 of react-admin though (i am a bit behind of integrating that into my own projects)
- high cpu usage hint to continuous re-rendering. We rely on react's useEffect, useCallback and useMemo 's dependencies in many areas. This makes sure that if you

[2022-05-12 14:37] macrozone commented on #1177
@zehawki can you do a `yarn install` and then `yarn build` ? lerna setup is still a bit annoying, maybe i can update that in the future...

[2022-05-12 15:32] macrozone commented on #1182
@fauh45 i just tried to naivly update react-admin in the example (and the package to version 4) and did not experience this problem yet, i opened the progress here https://github.com/react-page/react-page/pull/1183. The only problem is some material-ui glitches (which is another topic...)

i thinking about how we can support both versions of react-admin (3 and 4) in this integration. The differenc

[2022-05-13 04:30] fauh45 commented on #1182
@macrozone

A little update again, I've tried to clone the example and try to run it. But whenever I tried to edit the text, the same thing would happened again. Also, I'm not able to get the React DevTools Profiler to run properly, as every time the editor causes the tab to freeze, the profiler would freeze too, not allowing me to stop nor start the profiling.

[2022-05-13 05:34] Goutham0931 commented on #961
Solved in my case.
Giving it as "latest" rather than mentioning version in package,json dependencies
"@emotion/react": "latest",
    "@emotion/styled": "latest",
    "@material-ui/core": "latest",
    "@material-ui/icons": "latest",

[2022-05-13 08:02] macrozone commented on #1182
did you clone it directly without any change? Which browser (brave i guess?) and os? Do you experience the same thing with a different browser?

[2022-05-13 08:06] fauh45 commented on #1182
Ah right, I did change some part of it. Mainly changing the react version and to use react admin 4. The full code can be seen in my [repository](https://github.com/fauh45/react-page-examples).

[2022-05-13 10:51] macrozone commented on #1182
ok, i checked it out. It has nothing to do with react-admin,

the problem is that you use react 18, which unfortunatly does not work yet https://github.com/react-page/react-page/pull/1173

not sure why there is an endless loop though, i guess that should be fixable

[2022-05-13 11:43] fauh45 commented on #1182
I did change the the settings as #1173 does tho, and for the most part it does works great. Just with the slate editor, that's all.

That one I have absolutely no idea on.

[2022-05-13 12:07] fauh45 commented on #1182
@macrozone

*Another update*

I tried using react 17 and try to match the dependencies as close as the example in StackBlitz, and it works, no more freezing nor high CPU usage. Now I wonder why doesn't it work with RA 4 and React 18.

You can see the demonstration in this [StackBlitz](https://stackblitz.com/edit/github-c7wrrh-yncwp7?file=pages/index.tsx).

[2022-05-13 16:55] zehawki commented on #1177
Hah perfect. Working fine, thanks.

[2022-05-13 16:59] zehawki commented on #1177
Hah perfect. Working fine, thanks.

[2022-05-13 19:28] zehawki commented on #1177
Yarn install and yarn build was fine. Then upon yarn dev, I get a different error.

To cross check, I did a fresh clone of this repo (not the fork). Then in order executed - `yarn`, `yarn bootstrap`, `yarn install`, `yarn build`, `yarn dev` which gives the same error as in the forked:

[code]

[2022-05-14 08:55] macrozone commented on #1104
:tada: This issue has been resolved in version 4.10.0-beta.2 :tada:

The release is available on:
- `v4.10.0-beta.2`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.10.0-beta.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-14 09:03] #1138 closed

[2022-05-14 09:11] macrozone commented on #1138
:tada: This issue has been resolved in version 4.10.0 :tada:

The release is available on:
- `v4.10.0`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-14 09:12] macrozone commented on #1138
:tada: This issue has been resolved in version 4.10.0-beta.3 :tada:

The release is available on:
- `v4.10.0-beta.3`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.10.0-beta.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-14 09:32] macrozone commented on #1104
@yektas should be fixed in beta. Not fully tested though (thats why beta), but on first sight it works properly

[2022-05-14 14:42] zehawki opened #1186 "Minor UI issue"
When in "move block" view, the trash can is over the drawer. Needs some z-index adjustment.

![image](https://user-images.githubusercontent.com/8095144/168430408-f2b84a94-ee51-40a3-b24c-a7d43414e5b5.png)

[2022-05-14 15:42] zehawki opened #1187 "showIf in uniforms schema seems not to work with custom component"
**Describe the bug**
"autoform controls now support showIf in schema to show fields conditionally" seems not to work with `ColorPickerField`. It works fine without a custom component.

`showIf` as shown here https://react-page.github.io/docs/#/custom-cell-plugins?id=passing-props-to-fields

**To Reproduce**
Example with schema defined as follows:

        color: {
          type: 'string',

[2022-05-16 10:10] macrozone opened #1188 "beta: undo of slate content no longer works"
**Describe the bug**

undo no longer works properly for slate on the beta version, where we updated to the newest slate/slate-react

reason is that slate change the meaning of `value`, its no longer to set the value (as conventions dictate). Instead it only sets the initialValue, which makes slate harder to control. (see also https://github.com/ianstormtaylor/slate/issues/4992)

At this point its

[2022-05-16 11:20] macrozone commented on #1188
:tada: This issue has been resolved in version 4.10.0-beta.4 :tada:

The release is available on:
- `v4.10.0-beta.4`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.10.0-beta.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-16 18:41] macrozone commented on #1182
@fauh45  i think RA4 i not the culprit, its react 18.

in the meantime, i updated slate to the newest version and had to alter the integration a bit. I did not yet try it with react 18, i don't even know whether slate itself works it it, but maybe we are lucky.

You can give 4.10.0-beta.4 a try (will also test it soon with react 18)

[2022-05-16 19:29] macrozone commented on #1187
can confirm, this happens when you specify a custom component.

unfortunatly it has to do with the way the `showif` prop is implemented, as it is not supported by uniforms out-of-the-box, see https://github.com/vazco/uniforms/issues/1114

Have to think about another implementation

[2022-05-16 22:22] macrozone commented on #1104
:tada: This issue has been resolved in version 4.11.0-beta.1 :tada:

The release is available on:
- `v4.11.0-beta.1`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-16 22:22] macrozone commented on #1187
:tada: This issue has been resolved in version 4.11.0-beta.1 :tada:

The release is available on:
- `v4.11.0-beta.1`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-16 22:22] macrozone commented on #1188
:tada: This issue has been resolved in version 4.11.0-beta.1 :tada:

The release is available on:
- `v4.11.0-beta.1`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-16 22:22] macrozone commented on #1138
:tada: This issue has been resolved in version 4.11.0-beta.1 :tada:

The release is available on:
- `v4.11.0-beta.1`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-17 07:24] #1187 closed

[2022-05-17 07:24] #1188 closed

[2022-05-17 07:33] macrozone commented on #1104
:tada: This issue has been resolved in version 4.11.0 :tada:

The release is available on:
- `v4.11.0`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-17 07:33] macrozone commented on #1187
:tada: This issue has been resolved in version 4.11.0 :tada:

The release is available on:
- `v4.11.0`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-17 07:33] macrozone commented on #1138
:tada: This issue has been resolved in version 4.11.0 :tada:

The release is available on:
- `v4.11.0`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-18 08:48] Picard-Raphael opened #1190 "jsx-runtime not exported (DndProvider error)"
Hi,
I want to try reactpage but when npm run dev, i have error :

[code]

![image](https://user-images.githubusercontent.com/95343603/168995318-22787a73-a6fb-4d40-ab82-1c8023270f93.png)

I use : boilerplate nextjs + typescript
package.json :
![image](https://user-images.githubusercontent.com/95343603/168997418-190ffb74-497b-4dc8-9742-8d69ee88f534.png)

index.tsx :
![image](https://user-images.gith

[2022-05-18 09:11] macrozone commented on #1190
please use react 17 at the moment.

see also https://github.com/react-dnd/react-dnd/issues/3416

[2022-05-19 13:16] macrozone commented on #1104
fixed

[2022-05-19 13:16] #1104 closed

[2022-05-19 13:20] macrozone commented on #1085
ideally, material ui can be used as a direct dependency, not as a peer dependency and can be used alongside other versions of material-ui.

there were some mixed results in the past with that approach, but we should give it a try once more.

the underlying ui-library should be an implementation detail and users should not worry about it.
I really don't like the way it is now with it beeing a peer

[2022-05-20 13:34] fauh45 commented on #1182
We ended up using React 17 as it was not detrimental to us. But if I go free time to come, for sure I'll be trying out the changes!

[2022-05-24 11:33] macrozone commented on #1085
i just released a first beta, which comes with material-ui version 5.

it may contains bugs and gitches and things that could be improved, so please give feedback!

you can see the result here https://react-page.github.io/beta

you can install it with the @beta tag

[2022-05-24 13:13] agloolik commented on #1085
This is great, I'll give it a few test runs and give feedback. :)

[2022-06-05 18:22] bpartridge commented on #1188
Looking at the commit where this was fixed, https://github.com/react-page/react-page/commit/ed7d2b8438a7dcf63536edc294980821bb2238c5#diff-b3b7bde30c2e6e9f379e434183f8f71935c64d61d22d236d092e3c7726131b84R57 - should this also have a data dependency on `data?.selection`? If any external system were to change the `data.selection`, I think the old value of the data.selection might be bound to the memo

[2022-06-06 10:08] macrozone commented on #1188
could be, but i am not sure. Tbh. its a still a bit "magic" and not 100% clean. There were some glitches with slate and that solution worked properly.

it indeed still works with external updates, in fact undo/redo are external and will also update the selection as long as the content changed as well (selection updates should not add to the undo stack anyway)

[2022-06-16 18:37] amartya-dev opened #1198 "The editor meddles with the existing theme in case you are using MUI"
**Describe the bug**
I am using mui with a custom theme, when I install and run this editor (which is awesome BTW), my navigation drawer's style gets messed up (after clicking the add blocks sign). Please let me know if I can somehow fix that

**To Reproduce**
Steps to reproduce the behavior:
1. Create a nav drawer with a custom theme, plug in the editor
2. Click on the `+` sign and see your theme

[2022-06-20 07:03] macrozone commented on #1198
which version of material-ui do you use for the rest of the page? and which version of react-page do you use?

[2022-06-24 02:37] amartya-dev commented on #1198
I am using `"@mui/material": "^5.8.1"` and `4.11.1` for react-page/editor

[2022-06-29 08:51] techfortified commented on #1198
It is the same issue that i'm facing. Any solution to this?

[2022-06-29 10:05] macrozone commented on #1198
Version 5 of react-page uses @mui version 5 and is no longer a peer-dependency.

you now only have a conflict if you use material-ui 4, which is solveable and documented.

[2022-06-29 10:05] #1198 closed

[2022-06-29 10:12] macrozone commented on #1175
wille come back to this

[2022-06-29 10:16] techfortified commented on #1198
wow thank you very much. I will update my packages asap.

[2022-06-29 11:52] macrozone commented on #1198
see the instroctions on the release-notes https://github.com/react-page/react-page/releases/tag/v5.0.0

should you encounter problems with it, please don't hesitate to open an issue!

[2022-06-29 11:58] techfortified commented on #1198
Thank you. I have updated and everything is working great. No issues so far.
Keep the good work.

[2022-07-05 20:04] hmbrg opened #1204 "MUI Error when trying to change the language with v5"
**Describe the bug**
After upgrading to v5, I've noticed that switching between languages is not possible anymore, with the following error printing in the console: `Warning: Use the `defaultValue` or `value` props on <select> instead of setting `selected` on <option>.`
I can't select any option in the select component.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure languages with

[2022-07-06 11:24] #1204 closed, assigned to nobody

[2022-07-06 11:34] macrozone commented on #1204
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- `v5.0.1`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-08 12:11] zehawki opened #1206 "(v4) tabs on background block dont work"
1. Starting here https://react-page.github.io/
2. Click on the 1st background block - controls open up
3. Clicking on tabs (single color, gradient color) doesnt switch tabs

@macrozone possible to make fix available on v4 branch? Given the breaking change of MUI5 in v5.

[2022-07-08 18:13] GiambaFr opened #1207 "Can't load node_modules/@react-page/editor/lib-es/core/Provider/CallbacksProvider.js, file missing"
**Describe the bug**
Can't load node_modules/@react-page/editor/lib-es/core/Provider/CallbacksProvider.js, file missing.

log:
[code]
[code]
The app crash.

**To Reproduce**
Symfony 5.4, Webpack 5, MUI 5, React_Page Beta, file created with 'yarn encore dev'

The code
[code]

**Expected behavior**
See the editor in the app

**Screenshots**
If applicable, add screenshots to help explain your problem

[2022-07-10 21:06] GiambaFr commented on #1207
Not a bug, I have to use typeScript.

[2022-07-10 21:06] #1207 closed

[2022-07-11 14:02] macrozone opened #1210 "background plugin not working in version 5"
### Discussed in https://github.com/react-page/react-page/discussions/1209

<div type='discussions-op-text'>

<sup>Originally posted by **vladdoletskiy** July 11, 2022</sup>
Hi, there is a problem in your demo which is also there in my app. Button "Turn on settings on this panel" - When you go to the background change panel - and first you turn it off, then you can’t turn it back on.
https://react

[2022-07-13 07:57] macrozone commented on #1206
@zehawki use v4 until this is fixed.

duplicate of https://github.com/react-page/react-page/issues/1210

[2022-07-13 08:18] zehawki commented on #1206
I am on v4 - version "4.11.0". That's why I was requesting if a fix can be made available on v4 branch.

Its broken on v4 and then I tested on the latest demo and found the same behavior.

[2022-07-13 08:29] macrozone commented on #1210
:tada: This issue has been resolved in version 5.0.2 :tada:

The release is available on:
- `v5.0.2`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v5.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-13 08:32] macrozone commented on #1206
i am not sure if configured semantic release properly to do maintenance releases, maybe i have to push that manually

[2022-07-13 09:16] macrozone commented on #1177
@zehawki i just did a fresh checkout and run `yarn install && yarn build && yarn dev` which works.

maybe you have problem with windows? I am afraid I cannot help with windows.

[2022-07-13 09:17] macrozone commented on #1206
:tada: This issue has been resolved in version 4.11.2 :tada:

The release is available on:
- `v4.11.2`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v4.11.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-13 09:18] #1206 closed

[2022-07-19 15:37] IBelet opened #1218 "Direct children for container components"
First of all: I really like, what you've already done 👍

**Is your feature request related to a problem? Please describe.**
I wanna to create component, which will align its child using flex, but now an extra div is appended between parent and child https://github.com/react-page/react-page/blob/master/packages/editor/src/renderer/HTMLRenderer.tsx#L142

**Describe the solution you'd like**
I'd like

[2022-07-19 20:58] IBelet commented on #1218
Do you think it's possible to remove most of the wrapper <div>'s (including ones with react-page-cell-sm-8)
It seems to be easy in readOnly, but kinda complicated in the editor mode. Just your opinion and maybe advice would be enough 😀

[2022-07-20 08:20] macrozone commented on #1218
@IBelet thx!

getting away from classic column layout is definitly a thing, but its breaking so it should be done with care.

That div is for inner padding / margin, not sure if its required when margin is 0, but it cannot be just removed as it is also a breaking change.

You should still be able to style that inner div though with css, styled-components or similar!

[2022-07-30 17:23] #1186 closed

[2022-07-31 09:40] gerom76 commented on #1182
I have provided the [pull request ](https://github.com/react-page/react-page/pull/1219) with the workaround. It works fine under React 18 but I had to disable some features (described in this PR). I believe the indicated features pinpoint the source of the problem. Any comments and hints on how to recover them would be appreciated.

[2022-07-31 10:00] gerom76 opened #1220 "Slate plugin freeze while entering text on react 18"
**Describe the bug**
Related to thread #1182.
I have provided the pull request (https://github.com/react-page/react-page/pull/1219) with the workaround. It works fine under React 18 but I had to disable some features (described in this PR). I believe the indicated features pinpoint the source of the problem (infinitive loop of components rerendering). Any comments and hints on how to recover them

[2022-08-12 08:29] PiochU19 opened #1221 "RaReactPageInput not working with react-admin"
Hi, I'm trying to connect react-page with react-admin, based on example code.
I downgraded couple of packages (React to v17, react-admin to ^3.14.2).

Problem is that when the content is empty, toolbar is in one line horizontally, and when there is an content, everything is spread out to the sides.
[code]
<img width="1206" alt="Screenshot 2022-08-12 at 10 00 21" src="https://user-images.githubuser

[2022-08-12 09:19] macrozone commented on #1221
make sure to include `import '@react-page/editor/lib/index.css';` somewhere in your admin code.

That should fix the issue

[2022-08-12 12:16] PiochU19 commented on #1221
Thanks :) Fixed everything

[2022-08-12 12:16] PiochU19 commented on #1221
Thanks :) Fixed everything

[2022-08-12 12:16] #1221 closed

[2022-08-16 02:09] #1085 closed

[2022-08-24 00:35] tedtramonte opened #1227 "Cannot run editor with Vite - @loadable/components has hard dependency on Webpack"
**Describe the bug**
One of the editor's dependencies is essentially hardcoded to only work with Webpack. From googling all day, it seems to only affect people attempting to SSR, but I'm being plagued by `Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.` while developing using Laravel and Vi

[2022-08-29 20:49] NedalEldeen opened #1231 "Proposal - Custom Rendering for inner Rows to achieve carousel, slider, tabs … etc."
I’ve been exploring this editor for a while. And I’m pretty interested in it. I've been comparing different editors but I’m seeing potential in this one. **But what I’m facing right now with `react-page` editor is** “custom Cells/Rows rendering is kind of limited”.

I started a discussion regarding this point (https://github.com/react-page/react-page/discussions/1222). Plus, after I’ve explored ma

[2022-09-06 07:44] macrozone commented on #1227
thx, I will have a look at this.

its important that:

- it still runs on react 17
- it properly does code spitting in nextjs and other platforms
- it does not increase bundle size (

[2022-09-06 11:22] tedtramonte commented on #1227
Those are all good points that I talk about in the linked PR. The main takeaway is that SSR with the native React lazy loader is unavailable in React 17. I understand if that's a dealbreaker for you, and in that case you can just ignore the PR entirely lol

[2022-09-06 12:14] macrozone commented on #1227
not a dealbreaker of course, at some point we will might need to make react 18 the default requirement, but i think its still too early.

Having said that, SSR is not an issue here, all lazy loaded components in ReactPage should not be rendererd on the server, as it makes nearly no sense. The `<Editor />` component itself should just render the static version on the server (same as with `readOnly=

[2022-09-21 09:23] #1227 closed

[2022-09-21 09:33] macrozone commented on #1227
:tada: This issue has been resolved in version 5.0.3 :tada:

The release is available on:
- `v5.0.3`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v5.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-21 14:41] macrozone opened #1237 "can't update to slate 0.82"
upstream issue https://github.com/ianstormtaylor/slate/issues/5131

its probably doable to work around it, but i'll postpone this

[2022-09-21 17:03] #1220 closed

[2022-09-21 17:30] macrozone commented on #1220
:tada: This issue has been resolved in version 5.1.4 :tada:

The release is available on:
- `v5.1.4`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v5.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-21 17:36] macrozone commented on #1182
fixed in 5.1.4

[2022-09-21 17:36] #1182 closed

[2022-09-28 04:31] yaizudamashii commented on #1177
@macrozone Just worked with the command you posted, `yarn install && yarn build && yarn dev` but the repo does not work at all with npm commands!  I think updating the documentation will help many people.

[2022-09-28 06:59] macrozone commented on #1177
contributing guidelines are here https://github.com/react-page/react-page/blob/master/CONTRIBUTING.md and it shows the commands.

if you just want to use the npm package, you can of course use npm

[2022-09-28 06:59] #1177 closed

[2022-10-08 11:06] #1175 closed

[2022-10-08 11:06] #1218 closed

[2022-10-08 17:23] NedalEldeen commented on #1231
Any thoughts here?

[2022-10-09 10:32] macrozone commented on #1231
@NedalEldeen not yet, I did not have the time to really understand it thoroughly.

One first input:

The Renderer is usually not there to mount ui elements for editor. It should just be the read-only component (ideally). The reason is that this guarantees that developers do not mount and load unessecary components in ready-only mode.

There is one exception which is slate, which does editing and d

[2022-10-15 15:24] zehawki commented on #1177
This is certainly not working. Tried in Ubuntu. Here are the commands:

[code]

Yarn dev throws error:

[code]

[2022-10-17 09:26] macrozone commented on #1177
@zehawki I looked up what exit code 137 means on google and it seems a process ran out of memory. This seems to be a problem on your local machine. Do you work in a vm?

[2022-10-18 10:21] zehawki commented on #1177
@macrozone thank you! I increased the VM memory from 4 to 8GB, and its fine now. (Its a bit embarrassing - I should have checked 137 myself).

[2022-11-02 00:04] jink-e commented on #1187
Warning: React does not recognize the `_customComponent` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `_customcomponent` instead. If you accidentally passed it from a parent component, remove it from the DOM element.

[2022-11-02 09:09] macrozone commented on #1187
this is unrelated, can you open an issue for that?

[2022-11-03 01:43] jink-e opened #1245 "Warning: React does not recognize the `_customComponent` prop on a DOM element."
Warning: React does not recognize the `_customComponent` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `_customcomponent` instead. If you accidentally passed it from a parent component, remove it from the DOM element.

env:
"@emotion/react": "11.10.4",
    "@emotion/styled": "11.10.4",
    "@react-page/editor": "^5.1.5",
    "

[2022-11-03 02:13] jink-e opened #1246 "How to get the nodeId in the uniforms component"
**Is your feature request related to a problem? Please describe.**
I was trying to manipulate the dataI18n (multi-language) data as
[code]
in a `uniforms' custom component`. I don't know how to get the `nodeId` for `useUpdateCellData`.

**Describe the solution you'd like**
Be able to use `props.nodeId` in uniforms' component or a hook like `useCurrentNodeId()`

solution I found:
[code]

[2022-11-03 03:15] #1246 closed

[2022-11-03 08:29] macrozone commented on #1246
@jink-e i see you found a solution. but i am curious what you wanted to achieve.

[2022-11-03 13:14] jink-e commented on #1246
I tried to implement a feature that allows user upload a excel to fill out the translation, so user don't need to click each language and edit the text.

for example:
user click a button to upload a excel as follow:

data.xlsx
|lang|value|
|-|-|
|en_US|english|
|zh_CN|简体中文|

got this:
[code]

[2022-11-03 15:30] macrozone commented on #1246
@jink-e I will push some changes that might help.

I assume:

- you want to add this import function to a custom CellPlugin
- this CellPlugin may have a form
- this CellPlugin should have an import button to import a csv

So i checked and i am unsure how you solved it, but i would do it like this:

- if you use the `uniforms`-controls on a cell-plugin, you can customize it to add custom code
- you

[2022-11-03 16:00] macrozone commented on #1245
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on:
- `v5.2.0`
- [GitHub release](https://github.com/react-page/react-page/releases/tag/v5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-08 02:13] JoaoCampos89 opened #1248 "Allow Customization of Plugin Drawer"
**Is your feature request related to a problem? Please describe.**

I am looking to group blocks by type on the Plugin Drawer UI component, for instance, I have layout related blocks and components relatedo to crypto, I wanted to customize the way the plugin list is displayed and also add checkboxes to filter by type on the search bar.

**Describe the solution you'd like**

The best way it would b

[2022-11-08 12:31] macrozone commented on #1248
oh yeah, its also something I wanted to do for a long time...

[2022-11-09 19:35] SaadBazaz opened #1250 ""Invariant Failed" on Text plugin"
**Describe the bug**
Whenever I create a Text cell, the following error occurs:
<img width="1550" alt="Screenshot 2022-11-10 at 12 32 11 AM" src="https://user-images.githubusercontent.com/51885228/200924103-1841b01b-258e-46d4-9200-450e71e5bc4a.png">

In text:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the "Table" plugin - https://www.npmjs.com/package/@react-page-plugins/

[2022-11-10 08:04] macrozone commented on #1250
hi @SaadBazaz , please report this to the https://github.com/junminahn/react-page-plugins repository, we do not maintain this plugin

[2022-11-10 08:04] #1250 closed

[2022-11-10 08:16] macrozone commented on #1250
by your description, this happens when you install `https://www.npmjs.com/package/@react-page-plugins/slate-table` so its related to that. It maybe because that plugin installs another version of slate, so you may cannot use it alongside our own rich-text-plugin. If you remove https://www.npmjs.com/package/@react-page-plugins/slate-table, does it still happen?

Also I cannot recommend that plugin

[2022-11-10 08:48] macrozone commented on #1250
i would recommend to post an issue in that repository, showing a reproduction.

[2022-11-17 12:13] hmbrg commented on #1190
I'm still running into this error with React 18 and Next.js 13. Any timeline on when this is gonna be fixed? The referenced issue above with react-dnd seems to have been solved.

[2022-11-21 12:36] macrozone commented on #1190
@hmbrg i just tried to update next to 13 and have no problem.

can you share your package.json?

[2022-11-21 13:44] macrozone commented on #1190
can confirm, happens now with next 13.

i am not sure why that happens though as we also ship esm.

@hmbrg did you try to apply the workaround with transpile-modules?

[2022-11-21 15:21] hmbrg commented on #1190
Thanks for looking into this!

I've tried the solution provided in the react-dnd issue referenced above here: https://github.com/react-dnd/react-dnd/issues/3416#issuecomment-1126159287

This lead to getting this error:
[code]

Seems like react-page has to be rebuilt using the updated packages and maybe even change its build process, because of react-dnd using ESM modules, if I'm not mistaken.

I w

[2022-11-21 15:25] macrozone commented on #1190
@hmbrg i am also toying around with it right now.

the problem is the whole commonjs-to-esm transition which is very confusing

we actually shipped esm long ago, because otherwise code splitting would not work, i am still surprised that it now seems falls back to use the common-js version

[2022-11-21 16:46] macrozone commented on #1190
@hmbrg do you test it in this repo? or in your own?

[2022-11-21 16:48] hmbrg commented on #1190
Just in my own repo so far. Are you not able to reproduce this error?

[2022-11-21 16:52] macrozone commented on #1190
@hmbrg yes, but i cannot fix it at the moment. I recommend to stick with next 12 until this is fixed

[2022-11-23 06:54] daniel-minchev opened #1254 "Schema validation on submit"
**Is your feature request related to a problem? Please describe.**

Hello, I'm looking to find an elegant way of checking if all plugins have their required data fulfilled on submit.

Let's look at the following example:

[code]

I want on submit to receive an error that the title is empty.

**Describe the solution you'd like**

Maybe some hook that returns all errors from the plugins?

[2022-11-25 14:21] SebastianStehle opened #1256 "Does not work with vite"
**Describe the bug**
I wanted to build a sample project with vite and react-page, but as soon as I integrate the editor component it fails with:

[code]

**To Reproduce**
1. Check out this sample: https://github.com/Squidex/squidex-samples/tree/compose-sample/jscript/react/sample-compose
2. Start it with `npm i && npm run dev`
3. Goto http://127.0.0.1:5173/editor

**Expected behavior**
A clear and

[2022-11-28 09:54] macrozone commented on #1256
Hi @SebastianStehle

Best check with vite's support and community what's wrong. Unfortunatly, we cannot help with that as no one uses vite currently in our team.

Is there a particular reason, why you want to use vite? I in general recommend to use nextjs when building a webapp with react as it seems to become the defacto standard for building react apps.

[2022-11-28 12:03] SebastianStehle commented on #1256
Thanks for your feedback. I just wanted to build a very small sample for my CMS and use stuff that I am familiar with. I heard that CRA is basically dead and I was not in the mood to dig into next.js ;)

But I moved back to create-react-app and it is working fine.

Only the vertical alignment inside some buttons drives me crazy :D

![image](https://user-images.githubusercontent.com/1236435/2042732

[2022-11-28 14:01] macrozone commented on #1256
yeah, that alignment looks odd, which brower is that?

[2022-11-28 14:06] SebastianStehle commented on #1256
Chrome under Windows. Same with firefox and Windows.